	</div></div>
	
	{S_HIDDEN_FIELDS}
</form>
	<br />
</div>

<div id="footer">
	Powered by <a rel="blank" href="http://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Group<br />
	@ 2013 <a href="http://www.canidev.com">CaniDev</a>
	<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
</div>


<div id="loading"><span>{L_LOADING}</span></div>

</body></html>