<!-- INCLUDE install_header.html -->
			<!-- IF BODY_TITLE --><p class="body-title">{BODY_TITLE}</p><!-- ENDIF -->
			<!-- IF BODY --><p>{BODY}</p><!-- ENDIF -->
			
			<!-- IF S_VERSION_INFO -->{S_VERSION_INFO}<!-- ENDIF -->
		
		<!-- BEGIN checks -->
			<!-- IF checks.S_LEGEND -->
				<div class="checks-title">{checks.S_LEGEND}</div>
			<!-- ELSE -->
				<div class="<!-- IF checks.S_NEUTRAL -->checks-info<!-- ELSEIF checks.S_VALID -->checks-valid<!-- ELSE -->checks-invalid<!-- ENDIF -->">{checks.S_TITLE}</div>
			<!-- ENDIF -->
		<!-- END checks -->

			<!-- IF S_ERROR --><div class="errorbox">{S_ERROR}</div><!-- ENDIF -->
			<!-- IF S_NOTICE --><div class="successbox">{S_NOTICE}</div><!-- ENDIF -->

		</div>
		
		<br style="clear:both;" />
		
	<!-- IF S_BUTTONS -->
		<div class="button-container" style="text-align: right;">
			{S_BUTTONS}
		</div>
	<!-- ENDIF -->

<!-- INCLUDE install_footer.html -->