<!-- INCLUDE install_header.html -->

			<div class="errorbox">
				<h2>{MESSAGE_TITLE}</h2>
				<p>{MESSAGE_TEXT}</p>
			</div>
		</div>
		
		<br style="clear:both;" />

<!-- INCLUDE install_footer.html -->