/*  cBB Chat StyleSheet
    --------------------------------------------------------------
	Style:	Common	
	Copyright (c) 2014 CaniDev ( http://www.canidev.com )
    --------------------------------------------------------------
*/

/* FONT AWESOME CORE
 * -------------------------- */
@font-face {
	src: url('../font-awesome/fontawesome-webfont.eot?v=4.2.0');
	src: url('../font-awesome/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),
		url('../font-awesome/fontawesome-webfont.woff?v=4.2.0') format('woff'),
		url('../font-awesome/fontawesome-webfont.ttf?v=4.2.0') format('truetype'),
		url('../font-awesome/fontawesome-webfont.svg#fontawesomeregular?v=4.2.0') format('svg');
	font-family: 'FontAwesomeChat';
	font-style: normal;
	font-weight: normal;
}

/* Icons
------------------------------- */
[class*="chat-icon"] {
	font-family: FontAwesomeChat;
	font-weight: normal;
	font-style: normal;
	line-height: 20px;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	*margin-right: .3em;
}

[class*="chat-icon"]:before {
	text-decoration: inherit;
	display: inline-block;
	speak: none;
}

/* makes sure icons active on rollover in links */
a [class*="chat-icon"] { display: inline; }

.chat-icon-signin:before	{ content: "\f090"; }
.chat-icon-signin.connected 	{ color: green; }
.chat-icon-refresh:before 	{ content: "\f021"; }
.chat-icon-archive:before 	{ content: "\f187"; }
.chat-icon-trash:before 		{ content: "\f014"; }
.chat-icon-code:before, .chat-bbcode-code:before { content: "\f121"; }
.chat-icon-smile:before		{ content: "\f118"; }
.chat-icon-tint:before 		{ content: "\f043"; }
.chat-icon-sound:before		{ content: "\f028"; }
.chat-icon-sound.sound-muted:before	{ content: "\f026"; }
.chat-icon-sound.sound-muted 		{ color: red; }
.chat-icon-question-sign:before		{ content: "\f059"; }
.chat-icon-share-alt:before 		{ content: "\f064"; }
.chat-icon-remove-circle:before	{ content: "\f05c"; }
.chat-icon-ban-circle:before	{ content: "\f05e"; }
.chat-icon-pmuser:before 		{ content: "\f075"; }
.chat-icon-mentionuser:before 	{ content: "\f007"; }
.chat-icon-banuser:before 		{ content: "\f070"; }
.chat-icon-deluser:before 		{ content: "\f056"; }
.chat-icon-unbanuser:before 		{ content: "\f06e"; }
.chat-icon-edit:before 			{ content: "\f044"; }
.chat-icon-quote:before 			{ content: "\f10e"; }
.chat-icon-signal:before 		{ content: "\f012"; }
.chat-icon-info-sign:before 		{ content: "\f05a"; }
.chat-bbcode-bold:before 		{ content: "\f032"; }
.chat-bbcode-italic:before 		{ content: "\f033"; }
.chat-bbcode-underline:before	{ content: "\f0cd"; }
.chat-bbcode-quote:before 		{ content: "\f10D"; }
.chat-bbcode-list:before 		{ content: "\f0ca"; }
.chat-bbcode-list-numeric:before	{ content: "\f0cb"; }
.chat-bbcode-list-item:before	{ content: "\f069"; }
.chat-bbcode-img:before 			{ content: "\f03e"; }
.chat-bbcode-url:before 			{ content: "\f0c1"; }
.chat-bbcode-flash:before 		{ content: "\f008"; }

.chat-bbcode-custom {
	background-image: none;
	background-position: 50% 50%;
	display: inline-block;
	height: 18px;
	width: 18px;
}

.chat-icon-loading {
	background-image: url('../../images/loading.gif');
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
	width: 20px;
}

/* Borders
------------------------------- */
#chat-right-panel, #chat-conversation-container,
#chat-toolbar, #chat-body .codebox, #chat-body blockquote,
.chat-contextmenu, #chat-dialog, .chat-button, .chat-inputbox, .chat-corner-all,
.chat-message {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

.chat-corner-top, .chat-corner-left, .chat-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.chat-corner-top, .chat-corner-right, .chat-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.chat-corner-bottom, .chat-corner-left, .chat-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.chat-corner-bottom, .chat-corner-right, .chat-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

/* General
------------------------------- */
#chat-body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	margin: 5px 0;
	min-width: 570px;
	padding: 5px;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

#chat-title {
	font-size: 10px;
	height: 14px;
	padding: 1px 0 5px 8px;
}

#chat-content {
	padding: 5px 5px 10px 5px;
	position: relative;
	overflow: hidden;
}

#chat-left-panel {
	float: left;
	margin-right: 0;
	width: 85%;
}

#chat-right-panel {
	float: right;
	width: 14.4%;
}

#chat-conversation-container, #chat-right-panel {
	overflow: auto;
}

/* Rows
------------------------------- */
.chat-row {
	min-height: 40px;
	padding: 7px 5px;
}

.chat-row:nth-child(even) {
	background-color: #FBFBFB;
}

.chat-row:hover {
	background-color: #EEF5F9;
}

.ic-row-actions {
	display: none;
	margin-left: 5px;
	float: right;
}

.ic-row-actions a {
	display: inline-block;
	margin: 0 4px;
	font-size: 13px;
	text-decoration: none;
}

.ic-row-actions .row-checkbox {
	vertical-align: top;
}

.ic-row-avatar {
	float: left;
	height: 40px;
	overflow: hidden;
	text-align: center;
	width: 40px;
}

.ic-row-avatar img {
	height: 100%;
	width: auto;
}

.ic-row-text {
	word-break: break-all;
}

.ic-row-text.avatar-margin, .ic-row-title.avatar-margin {
	margin-left: 48px;
}

.ic-row-title {
	margin-bottom: 5px;
}

a.chat-quickmention {
	font-weight: bold;
	text-decoration: none;
}

/* Tabs
------------------------------- */
#chat-tabs {
	height: 22px;
	margin: -1px 0 0 5px;
}

#chat-tabs li {
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	height: 18px;
	padding: 0 5px;
}

#chat-tabs li.active {
	border-width: 1px;
	height: 20px;
	line-height: 18px;
}

#chat-tabs li.before-active {
	border-right-width: 0;
	
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	-khtml-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}

#chat-tabs li.after-active {
	border-left-width: 0;
	
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	-khtml-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
}

#chat-tabs li.new-msg {
	background: #FDFDCD;
	border-color: #FFD700;
}

#chat-tabs li a.tab-close {
	display: none;
	height: 10px;
	margin-left: 2px;
	text-decoration: none;
	width: 10px;
}

#chat-tabs li .tab-close:before { content: "\f057"; }
#chat-tabs li .tab-close.active { display: inline-block; }

#chat-tabs, #chat-toolbar {
	display: block;
	list-style-type: none;
}

#chat-tabs li, #chat-toolbar li {
	float: left;
}

#chat-toolbar {
	height: 32px;
	margin: 5px 0;
}

#chat-toolbar li {
	margin: 4px 1px 0 8px;
	overflow: hidden;
}

#chat-toolbar li a {
	border: 1px solid transparent;
	display: block;
	font-size: 15px;
	height: 24px;
	line-height: 22px;
	text-align: center;
	text-decoration: none;
	width: 24px;
}

#chat-toolbar li a .chat-icon {
	margin: 2px;
}

#chat-toolbar li.separator {
	height: 24px;
	width: 1px;
}

#chat-toolbar li.ic-loading {
	background-position: 50% 50%;
	border: none;
	display: none;
	float: right;
	margin-right: 8px;
}

.ic-input {
	line-height: 1px;
	padding: 4px;
	text-align: center;
}

.ic-input .tool-buttons, .ic-input .submit-button, #chat-message {
	display: inline-block;
	margin: 0 2px;
	vertical-align: top;
}

.ic-input .tool-buttons {
	width: 28px;
}

#chat-message {
	width: 50%;
}

#chat-message textarea {
	height: 50px;
	margin-top: 1px;
	resize: none;
	width: 99%;
}

#chat-message textarea.disabled {
	color: #CCC;
	font-style: italic;
}

.ic-edit-textarea {
	height: 90px;
	resize: none;
	width: 350px;
}

.ic-chars-info {
	display: none;
	padding-top: 8px;
	text-align: right;
}

.ic-conversation, .ic-userlist {
	display: none;
	padding: 5px;
}

.ic-userlist {
	list-style-type: none;
	margin: 0;
}

.ic-userlist li { white-space: nowrap; }

.ic-userlist img {
	vertical-align: middle;
}

#chat-notices [class*="chat-icon-"] {
	display: inline-block;
	font-size: 15px;
	margin: 0 4px;
	vertical-align: middle;
}

/* Tabs
------------------------------- */
.chat-archive-tabs {
	margin-left: 10px;
}

.chat-archive-tabs li {
	display: inline-block;
	list-style: none;
}

.chat-archive-tabs a {
	color: #FFF;
	display: block;
	font-weight: bold;
	padding: 6px;
	vertical-align: top;
}

.chat-archive-tabs a.active {
	background: #E9F0F5;
	color: #000;
	cursor: default;
	text-decoration: none;
}

/* Buttons
------------------------------- */
.chat-button {
	border: 1px solid #CCC;
	color: #333 !important;
	cursor: pointer;
	display: inline-block;
	font: normal normal normal 11px/14px 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
	font-weight: bold;
	margin: 1px;
	min-width: 20px;
	overflow: hidden;
	padding: 4px 6px;
	text-decoration: none !important;
	vertical-align: middle;
}

.chat-button.ic-small {
	padding: 3px 4px;
}

.chat-button.ic-inline {
	padding: 3px 6px;
}

.bbcode-box .chat-button.ic-inline {
	padding: 4px 6px;
}

.chat-button.submit {
	height: 48px;
	line-height: 46px;
}

#chat-toolbar, .chat-button {
	background: -moz-linear-gradient(top, #FFFFFF, #E0E1E4);
	background: -ms-linear-gradient(top, #FFFFFF, #E0E1E4);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#E0E1E4));
	background: -o-linear-gradient(top, #FFFFFF, #E0E1E4);
	background: linear-gradient(to bottom, #FFFFFF, #E0E1E4);
	
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#E0E1E4', GradientType=0); /*IE7-*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#E0E1E4', GradientType=0)"; /*IE8+*/
}

/* Boxes
------------------------------- */
.ic-box {
	display: none;
	padding: 4px;
	position: absolute;
	z-index: 10;
}

.ic-box .sep {
	position: absolute;
	z-index: 99;
}

.color-box, .smiley-box {
	max-height: 150px;
	max-width: 200px;
	overflow: auto;
	text-align: center;
}

.color-box .colour, .smiley-box a {
	display: inline-block;
	margin: 0;
	padding: 2px;
}

.color-box .colour span {
	display: block;
	height: 12px;
	width: 12px;
}

.smiley-box img {
	display: block;
}

.bbcode-box .chat-button {
	border: 1px solid #CCC;
	margin: 2px 1px;
	padding: 2px 4px 1px 4px;
	
	text-align: center;
	vertical-align: middle;

	border-radius: 5px;
}

.sound-box {
	padding: 2px 5px;
	width: 120px;
}

#chatplayer {
	position: absolute;
}

/* ContextMenu
------------------------------- */
.chat-contextmenu {
	background: #FFFFFF;
	border: 1px solid #CCC;
	display: none;
	list-style-type: none;
	margin: 0;
	overflow-x: hidden;
	padding: 2px;
	position: absolute;
	z-index: 99999;

	-webkit-box-shadow: 2px 2px 4px;
	-moz-box-shadow: 2px 2px 4px;
	box-shadow: 2px 2px 4px;
}

.chat-contextmenu li a {
	color: #000000;
	display: block;
	font-size: 11px;
	padding: 5px;
	white-space: nowrap;
}

.chat-contextmenu li a:hover {
	background: #EFEFEF;
	text-decoration: none;
}

.chat-contextmenu [class*="chat-icon-"] {
	font-size: 1.2em;
	margin-right: 4px;
}

/* Overlay
------------------------------- */
.chat-overlay {
	background: #000000;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99998;
}

/* Dialog
------------------------------- */
.chat-dialog-loading {
	background: transparent url('../../images/progress.gif') 50% 50% no-repeat;
	display: none;
	height: 32px;
	position: absolute;
	width: 32px;
}

#chat-dialog {
	background: #FFFFFF;
	border: 1px solid #CCC;
	display: none;
	padding: 10px;
	position: absolute;
	z-index: 99999;
	
	-webkit-box-shadow: 0 0 15px black;
	-moz-box-shadow: 0 0 15px black;
	box-shadow: 0 0 15px black;
}

#chat-dialog-content {
	margin-bottom: 10px;
	max-height: 250px;
	max-width: 500px;
	min-height: 20px;
	min-width: 250px;
	overflow: auto;
}

#chat-dialog-title {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: left;
}

.chat-dialog-buttons {
	margin-top: 10px;
	text-align: center;
}

.chat-dialog-fieldset {
	font-size: 1em;
	width: 380px;
}

.chat-dialog-fieldset dd {
	text-align: left;
}

.chat-rulelist {
	list-style-type: decimal;
	margin-left: 5px;
	padding-left: 20px;
	text-align: left;
}

/* Inputs
------------------------------- */
.chat-inputbox {
	border: 1px solid #B2B2B2;
	font-size: 11px;
	line-height: 12px;
	padding: 3px;
	vertical-align: middle;
}

input.chat-inputbox, textarea.chat-inputbox {
	cursor: text;
}

/* Messages and States
------------------------------- */
#chat-main-message {
	background: transparent url('../../images/icon-info-32x32.png') 0 0 no-repeat;
	color: #CCC;
	display: none;
	font-size: 12px;
	font-style: italic;
	margin: 6px;
	min-height: 36px;
	padding: 8px 0 0 36px;
}

.chat-message {
	border: 1px solid #000000;
	font-weight: bold;
	padding: 6px;
	text-align: center;
}

.chat-message, .chat-tip-message {
	font-size: 11px;
	margin: 5px 0;
}

.chat-message .chat-message-text {
	display: inline-block;
}

.chat-message .chat-message-text, .chat-message img {
	vertical-align: middle;
}

.chat-message.state-notice {
	background: #CEE4F6;
	border-color: #9ECAEC;
	color: #6699CC;
	font-weight: normal;
	margin-top: 0;
	padding: 4px;
	text-align: left;
}

.chat-state-error, .chat-message.state-error  {
	background: #fef1ec;
	border-color: #cd0a0a;
	color: #cd0a0a;
}

.chat-state-hidden, .chat-message .chat-state-hidden {
	display: none;
}

.chat-state-excluded {
	color: #CCC;
	font-style: italic;
	text-decoration: line-through;
}
