
/*  cBB Chat StyleSheet (IE Fix)
	Copyright (c) 2014 CaniDev ( http://www.canidev.com )
    --------------------------------------------------------------
*/

.chat-row {
	border-bottom: 1px dotted #DDDDDD;
}

.ic-input .tool-buttons, .ic-input .submit-button, #chat-message   {
	display: inline;
}

#chat-main-message { height: 36px; }

.color-box, .smiley-box {
	height: 150px;
	width: 200px;
}

/* Icons
------------------------------- */
a [class*="chat-icon"] {
	cursor: pointer;
}

#chat-toolbar [class*="chat-icon"] {
	margin-left: 3px;
	margin-top: 1px;
}

.chat-button [class*="chat-icon"] { margin-left: 3px; }
.chat-button.submit [class*="chat-icon"] { margin-top: 12px; }

.chat-icon-signin	{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf090;'); }
.chat-icon-refresh	{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf021;'); }
.chat-icon-archive	{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf187;'); }
.chat-icon-trash 	{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf014;'); }
.chat-icon-code, .chat-bbcode-code { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf121;'); }
.chat-icon-smile 	{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf118;'); }
.chat-icon-tint		{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf043;'); }
.chat-icon-sound 	{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf028;'); }
.chat-icon-sound.sound-muted { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf026;'); }
.chat-icon-question-sign	{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf059;'); }
.chat-icon-share-alt		{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf064;'); }
.chat-icon-remove-circle	{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05c;'); }
.chat-icon-ban-circle 		{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05e;'); }
.chat-icon-pmuser 			{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf075;'); }
.chat-icon-mentionuser		{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf007;'); }
.chat-icon-banuser			{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf070;'); }
.chat-icon-deluser 		{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf056;'); }
.chat-icon-unbanuser	{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf06e;'); }
.chat-icon-edit			{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf044;'); }
.chat-icon-quote 		{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf10e;'); }
.chat-icon-signal		{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf012;'); }
.chat-icon-info-sign	{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05a;'); }
.chat-bbcode-bold 		{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf032;'); }
.chat-bbcode-italic		{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf033;'); }
.chat-bbcode-underline 	{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0cd;'); }
.chat-bbcode-quote		{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf10D;'); }
.chat-bbcode-list		{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ca;'); }
.chat-bbcode-list-numeric	{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0cb;'); }
.chat-bbcode-list-item 		{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf069;'); }
.chat-bbcode-img		{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf03e;'); }
.chat-bbcode-url		{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c1;'); }
.chat-bbcode-flash		{ *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf008;'); }
