	</div>

<div id="page-footer">

	<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>

		<ul class="linklist">
			<li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a></li>
				<!-- IF not S_IS_BOT -->
					<!-- IF S_WATCH_FORUM_LINK --><li <!-- IF S_WATCHING_FORUM -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a></li><!-- ENDIF -->
					<!-- IF U_WATCH_TOPIC --><li <!-- IF S_WATCHING_TOPIC -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a></li><!-- ENDIF -->
					<!-- IF U_BOOKMARK_TOPIC --><li class="icon-bookmark"><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a></li><!-- ENDIF -->
					<!-- IF U_BUMP_TOPIC --><li class="icon-bump"><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a></li><!-- ENDIF -->
				<!-- ENDIF -->
			<li class="rightside"><!-- IF U_TEAM --><a href="{U_TEAM}">{L_THE_TEAM}</a> &bull; <!-- ENDIF --><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a> &bull; <!-- ENDIF -->{S_TIMEZONE}</li>
		</ul>

		<span class="corners-bottom"><span></span></span></div>
	</div>
</div>

</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

</div>
</div>
</div>
</div>
</div>

<!-- IF $AFTER_MENUPOSITION == left -->
    <div id="col2" class="<!-- IF $AFTER_COLUMN_COLOR -->{$AFTER_COLUMN_COLOR}<!-- ELSE -->color2<!-- ENDIF -->">
	    <!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
		    <div class="module">
			    <h3 class="module-title">{L_SEARCH}</h3>
			    <div class="module-body">
				    <form action="{U_SEARCH}" method="post" id="search">
					    <fieldset>
						    <input name="keywords" id="keywords" type="text" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search" value="<!-- IF SEARCH_WORDS-->{SEARCH_WORDS}<!-- ELSE -->{L_SEARCH_MINI}<!-- ENDIF -->" onclick="if(this.value=='{LA_SEARCH_MINI}')this.value='';" onblur="if(this.value=='')this.value='{LA_SEARCH_MINI}';" /> 
					        <input class="button2" value="{L_SEARCH}" type="submit" style="margin-top: 5px;margin-bottom: 5px;"/><br />
					        <a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}" >{L_SEARCH_ADV}</a> {S_SEARCH_HIDDEN_FIELDS}
				        </fieldset>
				    </form>
			    </div>
			</div>
		<!-- ENDIF -->
		
		<!-- DEFINE $UNANSWERED_POST = '{L_SEARCH_UNANSWERED}' -->
		<!-- DEFINE $NEW_POST = '{L_SEARCH_NEW}' -->
		<!-- DEFINE $ACTIVE_POST = '{L_SEARCH_ACTIVE_TOPICS}' -->
		<!-- DEFINE $MY_POST = '{L_SEARCH_SELF}' -->
		<!-- DEFINE $SEARCH = '{L_SEARCH}' -->		
		
		<div class="module">
		    <h3 class="module-title">{L_SEARCH} / {L_MARK}</h3>
			    <div class="module-body">
				    <!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
					    <ul class="menu">
						    <!-- IF S_DISPLAY_SEARCH -->
							    <li class="parent<!-- IF PAGE_TITLE eq $UNANSWERED_POST --> active<!-- ENDIF -->"><a href="{U_SEARCH_UNANSWERED}" ><span>{L_SEARCH_UNANSWERED}</span></a></li><!-- IF S_USER_LOGGED_IN -->
		                        <li class="parent<!-- IF PAGE_TITLE eq $NEW_POST --> active<!-- ENDIF -->"><a href="{U_SEARCH_NEW}" ><span>{L_SEARCH_NEW}</span></a></li><!-- ENDIF -->
		                        <li class="parent<!-- IF PAGE_TITLE eq $ACTIVE_POST --> active<!-- ENDIF -->"><a href="{U_SEARCH_ACTIVE_TOPICS}" ><span>{L_SEARCH_ACTIVE_TOPICS}</span></a></li>
	                        <!-- ENDIF -->
	                        <li<!-- IF PAGE_TITLE eq $MY_POST --> class="active"<!-- ENDIF -->><a href="{U_SEARCH_SELF}" ><span>{L_SEARCH_SELF}</span></a></li>
	                        <li<!-- IF PAGE_TITLE eq $SEARCH --> class="active"<!-- ENDIF -->><a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}" ><span>{L_SEARCH_ADV}</span></a></li>
	                        <!-- IF not S_IS_BOT and U_MARK_FORUMS --><li><a href="{U_MARK_FORUMS}" accesskey="m" ><span>{L_MARK_FORUMS_READ}</span></a></li><!-- ENDIF -->
	                    </ul>
					<!-- ENDIF -->
				</div>
			</div>
			<!-- IF $S_SHOW_AFTERUSER -->
			    <div class="module">
				    <h3 class="module-title">{L_PROFILE}</h3>
					<div class="module-body">
					    <ul class="menu">
						    <!-- IF U_MCP --><li<!-- IF SCRIPT_NAME eq 'mcp' --> class="active"<!-- ENDIF -->><a href="{U_MCP}" ><span>{L_MCP}</span></a></li><!-- ENDIF -->
							<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
							    <li<!-- IF SCRIPT_NAME eq 'ucp' --> class="active"<!-- ENDIF -->><a href="{U_PROFILE}" title="{L_PROFILE}" accesskey="u" ><span>{L_PROFILE}</span></a></li>
								<!-- IF S_DISPLAY_PM --><li><a href="{U_PRIVATEMSGS}" ><span>{PRIVATE_MESSAGE_INFO}</span></a></li><!-- ENDIF -->
								<!-- IF U_RESTORE_PERMISSIONS --><li ><a href="{U_RESTORE_PERMISSIONS}" ><span>{L_RESTORE_PERMISSIONS}</span></a></li><!-- ENDIF -->
							<!-- ENDIF -->
							<li<!-- IF SCRIPT_NAME eq 'faq' --> class="active"<!-- ENDIF -->><a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}" ><span>{L_FAQ}</span></a></li>
							<!-- IF not S_IS_BOT -->
							    <!-- IF S_DISPLAY_MEMBERLIST --><li <!-- IF SCRIPT_NAME eq 'memberlist' -->class="active"<!-- ENDIF -->><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}" ><span>{L_MEMBERLIST}</span></a></li><!-- ENDIF -->
								<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) --><li<!-- IF S_REGISTRATION --> class="active"<!-- ENDIF -->><a href="{U_REGISTER}" ><span>{L_REGISTER}</span></a></li><!-- ENDIF -->
								<li<!-- IF S_DISPLAY_FULL_LOGIN --> class="active"<!-- ENDIF -->><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="l" ><span>{L_LOGIN_LOGOUT}</span></a></li>
							<!-- ENDIF -->
						</ul>
					</div>
				</div>
			<!-- ENDIF -->
			<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
			    <div class="module">
				    <h3 class="module-title">{L_LOGIN}</h3>
					<div class="module-body">
					    <form method="post" action="{S_LOGIN_ACTION}" class="form-login">
						    <p id="form-login-username">
							    <label for="modlgn_username">{L_USERNAME}</label><br />
								<input type="text" name="username" id="username" class="inputbox" value="{L_USERNAME}" alt="{L_USERNAME}" onblur="if(this.value=='') this.value='{L_USERNAME}';" onfocus="if(this.value=='{L_USERNAME}') this.value='';" />
							</p>
							<p id="form-login-password">
							    <label for="modlgn_username">{L_PASSWORD}</label><br />
								<input type="password" name="password" id="password"  class="inputbox" alt="{L_PASSWORD}" onblur="if(this.value=='') this.value='{L_PASSWORD}';" onfocus="if(this.value=='{L_PASSWORD}') this.value='';" />
							</p>
							<!-- IF S_AUTOLOGIN_ENABLED -->
							    <p id="form-login-remember">
								    <input type="checkbox" name="autologin" id="autologin" class="checkbox" value="yes" alt="{L_LOG_ME_IN}" />
									<label class="remember">{L_LOG_ME_IN}</label>
								</p>
							<!-- ENDIF -->
							{S_LOGIN_REDIRECT}
							<input type="submit" name="login" class="button" value="{L_LOGIN}" />
						</form>
					</div>
				</div>
			<!-- ENDIF -->
		</div>
	<!-- ENDIF -->
	
	<!-- IF $AFTER_MENUPOSITION == right -->
	    <div id="col3" class="{$AFTER_COLUMN_COLOR}">
		    <!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
			    <div class="module">
				    <h3 class="module-title">{L_SEARCH}</h3>
					<div class="module-body">
					    <form action="{U_SEARCH}" method="post" id="search">
						    <fieldset>
							    <input name="keywords" id="keywords" type="text" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search" value="<!-- IF SEARCH_WORDS-->{SEARCH_WORDS}<!-- ELSE -->{L_SEARCH_MINI}<!-- ENDIF -->" onclick="if(this.value=='{LA_SEARCH_MINI}')this.value='';" onblur="if(this.value=='')this.value='{LA_SEARCH_MINI}';" /> 
								<input class="button2" value="{L_SEARCH}" type="submit" style="margin-top: 5px;margin-bottom: 5px;"/><br />
								<a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}" >{L_SEARCH_ADV}</a> {S_SEARCH_HIDDEN_FIELDS}
							</fieldset>
						</form>
					</div>
				</div>
			<!-- ENDIF -->
			
			<!-- DEFINE $UNANSWERED_POST = '{L_SEARCH_UNANSWERED}' -->
			<!-- DEFINE $NEW_POST = '{L_SEARCH_NEW}' -->
			<!-- DEFINE $ACTIVE_POST = '{L_SEARCH_ACTIVE_TOPICS}' -->
			<!-- DEFINE $MY_POST = '{L_SEARCH_SELF}' -->
			<!-- DEFINE $SEARCH = '{L_SEARCH}' -->
			
			<div class="module">
			    <h3 class="module-title">{L_SEARCH} / {L_MARK}</h3>
				<div class="module-body">
				    <!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
					    <ul class="menu">
						    <!-- IF S_DISPLAY_SEARCH -->
							    <li class="parent<!-- IF PAGE_TITLE eq $UNANSWERED_POST --> active<!-- ENDIF -->"><a href="{U_SEARCH_UNANSWERED}" ><span>{L_SEARCH_UNANSWERED}</span></a></li><!-- IF S_USER_LOGGED_IN -->
		                        <li class="parent<!-- IF PAGE_TITLE eq $NEW_POST --> active<!-- ENDIF -->"><a href="{U_SEARCH_NEW}" ><span>{L_SEARCH_NEW}</span></a></li><!-- ENDIF -->
		                        <li class="parent<!-- IF PAGE_TITLE eq $ACTIVE_POST --> active<!-- ENDIF -->"><a href="{U_SEARCH_ACTIVE_TOPICS}" ><span>{L_SEARCH_ACTIVE_TOPICS}</span></a></li>
	                        <!-- ENDIF -->
	                        <li<!-- IF PAGE_TITLE eq $MY_POST --> class="active"<!-- ENDIF -->><a href="{U_SEARCH_SELF}" ><span>{L_SEARCH_SELF}</span></a></li>
	                        <li<!-- IF PAGE_TITLE eq $SEARCH --> class="active"<!-- ENDIF -->><a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}" ><span>{L_SEARCH_ADV}</span></a></li>
	                        <!-- IF not S_IS_BOT and U_MARK_FORUMS --><li><a href="{U_MARK_FORUMS}" accesskey="m" ><span>{L_MARK_FORUMS_READ}</span></a></li><!-- ENDIF -->
						</ul>
					<!-- ENDIF -->
				</div>
			</div>
			<!-- IF $S_SHOW_AFTERUSER -->
			    <div class="module">
				    <h3 class="module-title">{L_PROFILE}</h3>
					    <div class="module-body">
						    <ul class="menu">
							    <!-- IF U_MCP --><li<!-- IF SCRIPT_NAME eq 'mcp' --> class="active"<!-- ENDIF -->><a href="{U_MCP}" ><span>{L_MCP}</span></a></li><!-- ENDIF -->
								<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
								    <li<!-- IF SCRIPT_NAME eq 'ucp' --> class="active"<!-- ENDIF -->><a href="{U_PROFILE}" title="{L_PROFILE}" accesskey="u" ><span>{L_PROFILE}</span></a></li>
						            <!-- IF S_DISPLAY_PM --><li><a href="{U_PRIVATEMSGS}" ><span>{PRIVATE_MESSAGE_INFO}</span></a></li><!-- ENDIF -->
					                <!-- IF U_RESTORE_PERMISSIONS --><li ><a href="{U_RESTORE_PERMISSIONS}" ><span>{L_RESTORE_PERMISSIONS}</span></a></li><!-- ENDIF -->
								<!-- ENDIF -->
								<li<!-- IF SCRIPT_NAME eq 'faq' --> class="active"<!-- ENDIF -->><a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}" ><span>{L_FAQ}</span></a></li>
								<!-- IF not S_IS_BOT -->
								    <!-- IF S_DISPLAY_MEMBERLIST --><li<!-- IF SCRIPT_NAME eq 'memberlist' --> class="active"<!-- ENDIF -->><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}" ><span>{L_MEMBERLIST}</span></a></li><!-- ENDIF -->
					                <!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) --><li<!-- IF S_REGISTRATION --> class="active"<!-- ENDIF -->><a href="{U_REGISTER}" ><span>{L_REGISTER}</span></a></li><!-- ENDIF -->
					                <li<!-- IF S_DISPLAY_FULL_LOGIN --> class="active"<!-- ENDIF -->><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="l" ><span>{L_LOGIN_LOGOUT}</span></a></li>
				                <!-- ENDIF -->
							</ul>
						</div>
					</div>
				<!-- ENDIF -->
				
				<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
				    <div class="module">
					    <h3 class="module-title">{L_LOGIN}</h3>
						<div class="module-body">
						    <form method="post" action="{S_LOGIN_ACTION}" class="form-login">
							    <p id="form-login-username">
								    <label for="modlgn_username">{L_USERNAME}</label><br />
									<input type="text" name="username" id="username" class="inputbox" value="{L_USERNAME}" alt="{L_USERNAME}" onblur="if(this.value=='') this.value='{L_USERNAME}';" onfocus="if(this.value=='{L_USERNAME}') this.value='';" />
								</p>
								<p id="form-login-password">
								    <label for="modlgn_username">{L_PASSWORD}</label><br />
									<input type="password" name="password" id="password"  class="inputbox" alt="{L_PASSWORD}" onblur="if(this.value=='') this.value='{L_PASSWORD}';" onfocus="if(this.value=='{L_PASSWORD}') this.value='';" />
								</p>
								<!-- IF S_AUTOLOGIN_ENABLED -->
								    <p id="form-login-remember">
									    <input type="checkbox" name="autologin" id="autologin" class="checkbox" value="yes" alt="{L_LOG_ME_IN}" />
										<label class="remember">{L_LOG_ME_IN}</label>
									</p>
								<!-- ENDIF -->
								{S_LOGIN_REDIRECT}
								<input type="submit" name="login" class="button" value="{L_LOGIN}" />
							</form>
						</div>
					</div>
				<!-- ENDIF -->
			</div>
	<!-- ENDIF -->
</div></div></div></div>
<!-- IF $ENABLE_AFTER_FOOTER_MODULES -->
    <div id="mainmods3" class="spacer w<!-- IF NEWEST_USER -->49<!-- ELSE -->99<!-- ENDIF -->">
	    <!-- IF S_DISPLAY_ONLINE_LIST -->
		    <div class="module">
			    <!-- IF U_VIEWONLINE --><h3 class="module-title"><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3><!-- ELSE --><h3 class="module-title">{L_WHO_IS_ONLINE}</h3><!-- ENDIF -->
				<div class="module-body">
				    {TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
					<!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF -->
					<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
					    <strong>{L_BIRTHDAYS}</strong><br />
						<!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF -->
					<!-- ENDIF -->
				</div>
			</div>
		<!-- ENDIF -->
		<!-- IF NEWEST_USER -->
		    <div class="module">
			    <h3 class="module-title">{L_STATISTICS}</h3>
				<div class="module-body">
				    {TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}
				</div>
			</div>
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->

<!-- IF $SHOW_AFTER_COPYRIGHT --><a href="http://www.rockettheme.com"><span id="logo2"></span></a><!-- ENDIF -->
<div class="module">
    <div class="module-body"></div>
</div>
	
		
</div>
</div>

<!--
	We request you retain the full copyright notice below including the link to www.phpbb.com.
	This not only gives respect to the large amount of time given freely by the developers
	but also helps build interest, traffic and use of phpBB3. If you (honestly) cannot retain
	the full copyright we ask you at least leave in place the "Powered by phpBB" line, with
	"phpBB" linked to www.phpbb.com. If you refuse to include even this then support on our
	forums may be affected.

	The phpBB Group : 2006
//-->

	<div class="copyright">Powered by <a href="http://www.phpbb.com/">phpBB</a> &copy; 2000, 2002, 2005, 2007 phpBB Group
		<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
		<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
	</div>
<center><span style="width: 100%; font-family: helvetica; font-size: 10px;">Design Downloaded from <a href="http://www.template4all.com/phpbb-templates/" style="font-family: helvetica; color: gray; font-size: 11px;" title="free phpbb templates">free phpBB styles</a> | <a href="http://www.freethemes4all.com" title="free website templates download" style="font-family: helvetica; color: gray; font-size: 11px;">free website templates download</a> | <a href="http://www.seodesign.us/buttons/" title="free web buttons download" style="font-family: helvetica; color: gray; font-size: 11px;">free buttons download</a></span></center>
</body>
</html>