<!-- DEFINE $CHAT_LOADED = 1 -->

<!-- IF S_CHAT_ENABLED -->
<div id="chat-body" style="display:none;"<!-- IF S_CHAT_NOTITLE --> class="notitle"<!-- ENDIF -->>
	<div id="chat-title">{L_CHAT}</div>
	
	<div id="chat-content"<!-- IF not S_CHAT_NOTITLE --> class="chat-corner-all"<!-- ENDIF -->>
		<form id="ic-chat-form" action="{U_CHAT_ACTION}">
		
	<!-- IF .chat_notice -->
		<div id="chat-notices" class="chat-message state-notice chat-state-hidden">
			<span class="chat-icon-info-sign"></span>
		<!-- BEGIN chat_notice -->
			<span class="chat-message-text js-message chat-state-hidden">{chat_notice.S_NOTICE}</span>
		<!-- END chat_notice -->
		</div>
	<!-- ENDIF -->

		<div id="chat-left-panel">
			<div id="chat-conversation-container"></div>
			<!-- IF S_CHAT_ALLOW_PM --><ul id="chat-tabs"></ul><!-- ENDIF -->
		</div>
		
		<div id="chat-right-panel"></div>
		
		<div style="clear:both;"></div>
		
		<ul id="chat-toolbar">
			<li><a href="#!connect" title="{L_CHAT_CONNECT}"><span class="chat-icon-signin"></span></a></li>
			<li class="separator"></li>
			<li><a href="#!refresh" title="{L_CHAT_REFRESH}"><span class="chat-icon-refresh"></span></a></li>
			<!-- IF S_CHAT_CAN_CLEAR --><li><a href="#!clear" id="purge-button" title="{L_CHAT_PURGE}"><span class="chat-icon-trash"></span></a></li><!-- ENDIF -->
			<!-- IF U_CHAT_ARCHIVE --><li><a href="{U_CHAT_ARCHIVE}"  title="{L_CHAT_ARCHIVE}"><span class="chat-icon-archive"></span></a></li><!-- ENDIF -->

		<!-- IF S_CHAT_CAN_POST -->
			<li class="separator"></li>
			<!-- IF S_CHAT_BBCODE_ALLOWED --><li><a href="#!showbox/bbcode"  title="{L_CHAT_BBCODE}"><span class="chat-icon-code"></span></a></li><!-- ENDIF -->
			<!-- IF S_CHAT_SMILIES_ALLOWED --><li><a href="#!showbox/smiley"  title="{L_CHAT_SMILIES}"><span class="chat-icon-smile"></span></a></li><!-- ENDIF -->
			<!-- IF S_CHAT_BBCODE_COLOR --><li><a href="#!showbox/color"  title="{L_CHAT_COLOR}"><span class="chat-icon-tint"></span></a></li><!-- ENDIF -->
		<!-- ENDIF -->
		
		<!-- IF S_CHAT_RULES or S_CHAT_SOUND_ENABLED -->
			<li class="separator"></li>
			<!-- IF S_CHAT_SOUND_ENABLED --><li><a href="#!sound"  title="{L_CHAT_SOUND}"><span class="chat-icon-sound"></span></a></li><!-- ENDIF -->
			<!-- IF S_CHAT_RULES --><li><a href="#!rules"  title="{L_CHAT_RULES}"><span class="chat-icon-question-sign"></span></a></li><!-- ENDIF -->
		<!-- ENDIF -->
		
			<li class="ic-loading chat-icon chat-icon-loading"></li>
		</ul>
		
	<!-- IF .chat_tip -->
		<div id="chat-tips" class="chat-tip-message chat-state-hidden">
			<strong><em>{L_CHAT_TIP}</em>:</strong> <!-- BEGIN chat_tip --><span class="js-message chat-state-hidden">{chat_tip.S_TIP}</span><!-- END chat_tip -->
		</div>
	<!-- ENDIF -->
		
	<!-- IF S_CHAT_CAN_POST -->
		<div class="ic-input">
			<div class="tool-buttons">
				<a href="#!clear-bbcode" class="chat-button ic-small"  title="{L_CHAT_CLEAR_BBCODE}"><span class="chat-icon-remove-circle"></span></a>
				<a href="#!clear-input" class="chat-button ic-small"  title="{L_CHAT_CLEAR_INPUT}"><span class="chat-icon-ban-circle"></span></a>
			</div>
			<div id="chat-message">
				<textarea name="ic_message" class="chat-inputbox"></textarea>
				<!-- IF S_CHAT_MAX_CHARS --><div class="ic-chars-info"><span></span> {L_CHAT_REMAINING_CHARS}</div><!-- ENDIF -->
			</div>
			<div class="submit-button"><a href="#!submit" class="chat-button submit"><span class="chat-icon-share-alt"></span></a></div>
		</div>
	<!-- ENDIF -->
		
		<div>
			{S_CHAT_HIDDEN_FIELDS}
		</div>
		</form>
		
	<!-- IF S_CHAT_CAN_POST -->
		<div id="boxes">
		<!-- IF S_CHAT_BBCODE_ALLOWED -->
			<div class="ic-box">
				<div class="bbcode-box">
				<!-- BEGIN chat_default_tags -->
					<!-- IF chat_default_tags.S_TAG eq 'size' -->
						<select id="ic-font-select" class="chat-inputbox">
							<option value="50">{L_FONT_TINY}</option>
							<option value="85">{L_FONT_SMALL}</option>
							<option value="100" selected="selected">{L_FONT_NORMAL}</option>
							<!-- IF not S_CHAT_MAX_FONT_SIZE or S_CHAT_MAX_FONT_SIZE >= 150 -->
								<option value="150">{L_FONT_LARGE}</option>
								<!-- IF not S_CHAT_MAX_FONT_SIZE or S_CHAT_MAX_FONT_SIZE >= 200 -->
									<option value="200">{L_FONT_HUGE}</option>
								<!-- ENDIF -->
							<!-- ENDIF -->
						</select>
					<!-- ELSE -->
						<a href="#!bbcode/{chat_default_tags.S_TAG}" title="{chat_default_tags.S_HELP}"><span class="chat-icon chat-bbcode-{chat_default_tags.S_NAME}"></span></a>
					<!-- ENDIF -->
				<!-- END chat_default_tags -->
					
				<!-- IF .chat_custom_tags -->
					<!-- IF S_CHAT_BBCODE_INSELECT -->
						<select id="ic-bbcode-select" class="chat-inputbox">
							<option value="">{L_CHAT_CUSTOM_BBCODES}</option>
						<!-- BEGIN chat_custom_tags -->
							<option value="{chat_custom_tags.S_TAG}">{chat_custom_tags.S_NAME}</option>
						<!-- END chat_custom_tags -->
						</select>
					<!-- ELSE -->
						<br />
					<!-- BEGIN chat_custom_tags -->
						<a href="#!bbcode/{chat_custom_tags.S_TAG}"<!-- IF not chat_custom_tags.S_IMAGE --> class="ic-inline"<!-- ENDIF --> title="{chat_custom_tags.S_HELP}"><!-- IF chat_custom_tags.S_IMAGE --><span class="chat-bbcode-custom" style="background-image: url('{chat_custom_tags.S_IMAGE}');"></span><!-- ELSE -->{chat_custom_tags.S_NAME}<!-- ENDIF --></a>
					<!-- END chat_custom_tags -->
					<!-- ENDIF -->
				<!-- ENDIF -->
				</div>
			</div>
		<!-- ENDIF -->
		
		<!-- IF S_CHAT_SMILIES_ALLOWED -->
			<div class="ic-box">
				<div class="smiley-box">
				<!-- BEGIN chat_smiley -->
					<a href="#!smiley/{chat_smiley.A_CODE}"><img src="{chat_smiley.S_IMG}" width="{chat_smiley.S_WIDTH}" height="{chat_smiley.S_HEIGHT}" alt="{chat_smiley.S_CODE}" title="{chat_smiley.S_DESC}" /></a>
				<!-- END chat_smiley -->
				</div>
			</div>
		<!-- ENDIF -->
		
			<!-- IF S_CHAT_BBCODE_COLOR --><div class="ic-box"><div class="color-box"></div></div><!-- ENDIF -->
		</div>
	<!-- ENDIF -->
		
		<div id="ic-data-container" style="display:none;"></div>
		
		<div id="chat-main-message">{L_CHAT_DISCONNECT_MESSAGE}</div>
	</div>
</div>
<!-- ENDIF -->
