<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

<!-- IF U_BACK --><div><a href="{U_BACK}" style="float:right;">&laquo; {L_BACK}</a></div><!-- ENDIF -->

<!-- IF L_TITLE -->
	<h1>{L_TITLE}</h1>
	<p>{L_TITLE_EXPLAIN}</p>
<!-- ENDIF -->

<!-- IF NOTICE -->
	<div class="chat-message <!-- IF NOTICE_ERROR -->state-error<!-- ELSE -->state-success<!-- ENDIF -->">
		{NOTICE}
	</div>
<!-- ENDIF -->

<form id="acp_chat_pages" method="post" action="{U_ACTION}">

<!-- IF S_EDIT -->

<!-- BEGIN options -->
	<!-- IF options.S_LEGEND -->
		<!-- IF not options.S_FIRST_ROW --></fieldset><!-- ENDIF -->
		<fieldset>
			<legend>{options.LEGEND}</legend>
	<!-- ELSE -->

		<dl<!-- IF options.IS_HIDDEN --> class="chat-state-hidden"<!-- ENDIF -->>
			<dt><label for="{options.KEY}">{options.TITLE}:</label><!-- IF options.S_EXPLAIN --><br /><span>{options.S_EXPLAIN}</span><!-- ENDIF --></dt>
			<dd>{options.CONTENT}</dd>
		</dl>

	<!-- ENDIF -->
	
	<!-- IF options.S_LAST_ROW --></fieldset><!-- ENDIF -->
<!-- END options -->

	<div class="chat-submit-buttons">
		<input class="chat-button" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
		<input class="chat-button" type="reset" id="reset" name="reset" value="{L_RESET}" />
	</div>
	
<!-- ELSE -->

	<table cellspacing="1">
	<tr>
		<th>{L_PAGE_ALIAS}</th>
		<th>{L_PAGE_URL}</th>
		<th>{L_ACTION}</th>	
	</tr>

<!-- BEGIN pagerow -->
	<tr id="row{pagerow.S_ID}" class="<!-- IF pagerow.S_ROW_COUNT is even -->row2<!-- ELSE -->row1<!-- ENDIF -->">
		<td>{pagerow.S_TITLE}</td>
		<td><input type="text" class="pagerow-input" value="{pagerow.S_URL}" readonly="readonly" /></td>
		<td style="width: 80px; text-align: center;">
			<a href="{pagerow.U_EDIT}">{ICON_EDIT}</a>
			<a href="{pagerow.U_DELETE}" class="js-chat-action">{ICON_DELETE}</a>
		</td>
	</tr>
<!-- BEGINELSE -->
	<tr>
		<td colspan="3" class="row3">{L_NO_PAGES}</td>
	</tr>
<!-- END pagerow -->

	</table>

	<p class="quick">
		<a class="chat-button" href="{U_PAGE_ADD}">{L_PAGE_ADD}</a>
	</p>

<!-- ENDIF -->

<div>
	{S_FORM_TOKEN}
	{S_HIDDEN_FIELDS}
</div>

</form>

<!-- INCLUDE overall_footer.html -->