<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

<!-- IF U_BACK --><div><a href="{U_BACK}" style="float:right;">&laquo; {L_BACK}</a></div><!-- ENDIF -->

<!-- IF L_TITLE -->
	<h1>{L_TITLE}</h1>
	<p>{L_TITLE_EXPLAIN}</p>
<!-- ENDIF -->

<!-- IF NOTICE -->
	<div class="chat-message <!-- IF NOTICE_ERROR -->state-error<!-- ELSE -->state-success<!-- ENDIF -->">
		{NOTICE}
	</div>
<!-- ENDIF -->

<form id="acp_chat_rooms" name="acp_chat_rooms" method="post" action="{U_ACTION}">

<!-- IF S_EDIT -->

<!-- BEGIN options -->
	<!-- IF options.S_LEGEND -->
		<!-- IF not options.S_FIRST_ROW --></fieldset><!-- ENDIF -->
		<fieldset>
			<legend>{options.LEGEND}</legend>
	<!-- ELSE -->

		<dl<!-- IF options.IS_HIDDEN --> class="chat-state-hidden"<!-- ENDIF -->>
			<dt><label for="{options.KEY}">{options.TITLE}:</label><!-- IF options.S_EXPLAIN --><br /><span>{options.S_EXPLAIN}</span><!-- ENDIF --></dt>
			<dd>{options.CONTENT}</dd>
			<!-- IF options.KEY eq 'room_users' --><dd>[ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]</dd><!-- ENDIF -->
		</dl>

	<!-- ENDIF -->
	
	<!-- IF options.S_LAST_ROW --></fieldset><!-- ENDIF -->
<!-- END options -->

	<div class="chat-submit-buttons">
		<input class="chat-button" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
		<input class="chat-button" type="reset" id="reset" name="reset" value="{L_RESET}" />
		
		{S_HIDDEN_FIELDS}
	</div>
	
<!-- ELSE -->

	<table cellspacing="1">
	<tr>
		<th>{L_ROOM_TITLE}</th>
		<!--<th>{L_PAGE_URL}</th>
		<th>{L_ACTION}</th>	-->
	</tr>
	
<!-- IF .roomrow -->
	<tr>
		<td class="sortable-text">
		<ul>
		<!-- BEGIN roomrow -->
			<li id="row{roomrow.S_ID}">
				<table><tr>
					<td>{roomrow.S_TITLE}</td>
					<td style="width:40px;text-align:right;">
						<a href="{roomrow.U_EDIT}">{ICON_EDIT}</a>
						<!-- IF roomrow.U_DELETE --><a href="{roomrow.U_DELETE}" class="js-chat-action">{ICON_DELETE}</a><!-- ENDIF -->
					</td>
				</tr></table>
				<input type="hidden" name="row[]" value="{roomrow.S_ID}" />
			</li>
		<!-- END roomrow -->
		</ul>
		</td>
	</tr>
<!-- ELSE -->
	<tr><td class="row3">{L_ACP_NO_ITEMS}</td></tr>
<!-- ENDIF -->

	</table>

	<p class="quick">
		<a class="chat-button" href="{U_ROOM_ADD}">{L_ADD_ROOM}</a>
		
		{S_FORM_TOKEN}
		{S_HIDDEN_FIELDS}
	</p>
<!-- ENDIF -->
</form>

<!-- INCLUDE overall_footer.html -->