<!-- IF S_CONFIRM_DIALOG -->
<div id="chat-dialog">
	<div id="chat-dialog-title">{MESSAGE_TITLE}</div>
	
	<form id="chat-dialog-form" name="chat-dialog-form" action="{S_CONFIRM_ACTION}" onsubmit="return false;">
		<div>
			{MESSAGE_TEXT}
			{S_HIDDEN_FIELDS}
		</div>
	</form>

	<div class="chat-dialog-buttons">
		<a href="#!submit" class="chat-button">{YES_VALUE}</a>
		<a href="#!close" class="chat-button">{L_NO}</a>
	</div>
</div>
<!-- ENDIF -->

<!-- IF S_JSON_DATA --><div id="ic-json-data">{S_JSON_DATA}</div><!-- ENDIF -->