.pagination_left {
height : 1%;
width : auto;
text-align : left;
margin-top : 10px;
float : left;
}
.pagination {
height : 1%;
width : auto;
text-align : right;
margin-top : 5px;
float : right;
}
.pagination span.page-sep {
display : none;
}
li.pagination {
margin-top : 0;
}
.pagination strong, .pagination b {
font-weight : bold;
}
.pagination span strong {
padding : 1px 3px;
margin : 0 2px;
font-weight : normal;
color : #ffffff;
background-color : #ffc9a5;
background :  url('./images/pag_but_act.png') repeat-x right 100%;
border : 1px solid #000000;
font-size : 1.1em;
}
.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
font-weight : normal;
text-decoration : none;
color : #000000;
margin : 0 2px;
padding : 1px 3px;
background-color : #eeeeee;
background :  url('./images/pag_but.png') repeat-x right 0%;
border : 1px solid #000000;
font-size : 1.1em;
line-height : 1.6em;
}
.pagination span a:hover {
border-color : #000000;
background-color : #70afd7;
background :  url('./images/pag_but.png') repeat-x right 100%;
color : #fff;
text-decoration : none;
}
.pagination img {
vertical-align : middle;
}
.t_pagination {
height : 1%;
width : auto;
text-align : right;
margin-top : 5px;
}
.t_pagination span.page-sep {
display : none;
}
li.t_pagination {
margin-top : 0;
}
.t_pagination strong, .t_pagination b {
font-weight : bold;
}
.t_pagination span strong {
padding : 1px 3px;
margin : 0 2px;
font-weight : normal;
color : #000000;
background-color : #ffc9a5;
border : 1px solid #000000;
font-size : 1.1em;
}
.t_pagination span a, .t_pagination span a:link, .t_pagination span a:visited, .t_pagination span a:active {
font-weight : normal;
text-decoration : none;
color : #000000;
margin : 0 2px;
padding : 1px 3px;
background-color : #eeeeee;
border : 1px solid #000000;
background :  url('./images/pag_but.png') repeat-x right 0%;
font-size : 1.1em;
line-height : 1.5em;
}
.t_pagination span a:hover {
border-color : #000000;
background-color : #70afd7;
background :  url('./images/pag_but.png') repeat-x right 100%;
color : #fff;
text-decoration : none;
}
.t_pagination img {
vertical-align : middle;
}


.optionsbutton {
white-space : nowrap;
/*background-color : #c2cfdf;*/
background :  url('./images/button.png') no-repeat right 12%;
/*background : #c2cfdf url('./images/arrowd.png') no-repeat right 50%;*/
border : 1px solid #3a4f6c;
color : #000099;
font-weight : bold;
float : right;
text-align : center;
margin: 0px 0px 0px 0px;
font-size : 11px;
padding : 5px 35px 5px 15px;
}
.optionsbutton:hover {
white-space : nowrap;
/*background-color : #c2cfdf;*/
background :  url('./images/button.png') no-repeat right 95% ;
border : 1px solid #3a4f6c;
color : #ffffff;
font-weight : bold;
float : right;
text-align : center;
margin : 0x 0px 0px 0px;
font-size : 11px;
padding : 5px 35px 5px 15px;
text-decoration : none;
}
.userbutton {
width : auto;
text-align : left;
padding : 7px;
font-weight : normal;
margin : 0 0;
border : 1px solid #a9b0bb;
background : #252525 url('./images/button.png') repeat-x right 0%;
}
.userbutton:hover {
width : auto;
text-align : left;
padding : 7px;
font-weight : normal;
border : 1px solid #000000;
background : #252525 url('./images/button.png') repeat-x right 100%;
}
.username a:link, .username a:visited, .username a:active {
font-size : 12px;
}

.h-pag {
color : #000000;
font-size : 1.2em;
font-weight : bold;
text-align : left;
padding : 0 0 0 0;
}
a:link {
color : #395d98;
text-decoration : none;
}
a:active {
color : #395d98;
text-decoration : none;
}
a:visited {
color : #395d98;
text-decoration : none;
}
a:hover {
color : #7395c9;
text-decoration : none;
}



a.top_link, a.top_link:visited {
color : #ffffff;
font-family : Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif;
font-size : 1em;
font-weight : bold;
text-decoration : none;
}
a.top_link:hover, a.top_link:active {
color : #d8e2ef;

font-family : Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif;
font-size : 1em;
font-weight : bold;
text-decoration : none;
}



a.buttonlink, a.buttonlink:visited {
color : #d8e2ef;
font-family : Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif;
font-size : 1em;
font-weight : bold;
text-decoration : none;
}
a.buttonlink:hover, a.buttonlink:active {
color : #ffffff;
font-family : Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif;
font-size : 1em;
font-weight : bold;
text-decoration : none;
}
a.c-h-link, a.c-h-link:visited {
color : #000040;
font-family : Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif;
font-size : 1em;
font-weight : bold;
text-decoration : none;

}
a.c-h-link:hover, a.c-h-link:active {
color : #3888b6;
font-family : Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif;
font-size : 1em;
font-weight : bold;
text-decoration : none;
}
a.forumlink, a.forumlink:visited {
color : #000040;
font-family : Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif;
font-size : 1.2em;
font-weight : bold;
text-decoration : underline;
}
a.forumlink:hover, a.forumlink:active {
color : #3888b6;
font-family : Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif;
font-size : 1.2em;
font-weight : bold;
text-decoration : none;
}
a.topictitle, a.topictitle:visited {
color : #000040;
margin : 1px 0;
font-family : Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif;
font-weight : bold;
font-size : 1.1em;
text-decoration : underline;
}
a.topictitle:hover, a.topictitle:active {
color : #3888b6;
font-family : Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif;
font-size : 1.1em;
font-weight : bold;
text-decoration : none;
}
a.m-buttons-link, a.m-buttons-link:visited {
color : #ffffff;
margin : 1px 0;
font-family : Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif;
font-weight : bold;
font-size : 0.9em;
text-decoration : none;
}
a.m-buttons-link:hover, a.m-buttons-link:active {
color : #d8e2ef;
font-family : Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif;
font-size : 0.9em;
font-weight : bold;
text-decoration : none;
}
th a, th a:visited {
color : #000000 !important ;
text-decoration : none;
}
th a:hover {
color : #5588bb !important ;
text-decoration : underline;
}

.post {
background-color : white;
border-style : solid;
border-width : 1px;
}

.post:visited{
background-color : white;
border : 1px solid;
}
.post:hover{
background-color : white;
border : 1px solid #2288cc;
}
.post:focus{
background-color : #faf9ba;
border : 1px solid #2288cc;
}



.postb {
background-color : white;
border-style : solid;
border-width : 1px;
background : url('./images/btn.png') repeat-x left 0%;
cursor: pointer;
}
.postb:visited{
background-color : white;
border : 1px solid;
background : url('./images/btn.png') repeat-x left 0%;
}
.postb:hover{
background-color : white;
border : 1px solid #000000;
color: white;
background : url('./images/btn.png') repeat-x left 100%;
}
.postb:focus{
background-color : #faf9ba;
border : 1px solid #2288cc;
}

.btnbbcode {
color : #000000;
font-weight : normal;
font-size : 1.1em;
font-family : "Lucida Grande", Verdana, Helvetica, sans-serif;
background-color : #efefef;
border : 1px solid #666666;
background : url('./images/btn.png') repeat-x left 0%;
cursor: hand;
cursor: pointer;
}
.btnbbcode:hover {
color : #ffffff;
font-weight : normal;
font-size : 1.1em;
font-family : "Lucida Grande", Verdana, Helvetica, sans-serif;
background-color : #efefef;
border : 1px solid #666666;
background : url('./images/btn.png') repeat-x left 100%;
cursor: hand;
cursor: pointer;
}


.btnmain {
font-weight : bold;
background-color : #ececec;
background : url('./images/btn.png') repeat-x left 0%;
border : 1px solid #6a8da4;
cursor : pointer;
padding : 1px 5px;
font-size : 1.1em;
}
.btnmain:hover {
font-weight : bold;
color: #ffffff;
background-color : #ececec;
background : url('./images/btn.png') repeat-x left 100%;
border : 1px solid #000000;
cursor : pointer;
padding : 1px 5px;
font-size : 1.1em;
}
.btnlite {
font-weight : normal;
background-color : #ececec;
background : url('./images/btn.png') repeat-x left 0%;
border : 1px solid #6a8da4;
cursor : pointer;
padding : 1px 5px;
font-size : 1.1em;
}
.btnlite:hover {
font-weight : normal;
color: #ffffff;
background-color : #ececec;
background : url('./images/btn.png') repeat-x left 100%;
border : 1px solid #000000;
cursor : pointer;
padding : 1px 5px;
font-size : 1.1em;
}
.btnfile {
font-weight : normal;
background-color : #ececec;
border : 1px solid #a9b8c2;
padding : 1px 5px;
font-size : 1.1em;
}
.helpline {
background-color : #dee3e7;
border-style : 1px solid #000000;
}