/* You have the right to customize this skin as you want as the credits remain in place.

DO NOT REMOVE CREDITS!!!!!!!!!

http://www.phpbb-skin.info/skinlab
Alpha Trion

*/


a.ovalbutton{
background: transparent url('./images/oval_left.png') no-repeat top left;
display: block;
float: left;
font: normal 13px Tahoma; /* Change 13px as desired */
line-height: 10px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
height: 18px; /* Height of button background height */
padding-left: 11px; /* Width of left menu image */
text-decoration: none;
margin-top: 5px;
margin-bottom: 5px;
}

a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{
color: #ffffff; /*button text color*/
font-weight: bold;
}

a.ovalbutton span{
background: transparent url('./images/oval_right.png') no-repeat top right;
display: block;
padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.ovalbutton:hover{ /* Hover state CSS */
background-position: bottom left;

}

a.ovalbutton:hover span{ /* Hover state CSS */
background-position: bottom right;
color: #cdcdcd; /*button text color*/
}

.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */

}

/*------ New Topic Button -------*/
#button_new_topic a {   
display: block;   
background:  url(./images/button_new_topic.png) top;   
width: 101px;   
height: 29px;   
}
#button_new_topic a:hover {   
background:  url(./images/button_new_topic.png) no-repeat bottom;   
}

/*------ Post Reply Button -------*/
#button_post_reply a {   
display: block;   
background:  url(./images/button_post_reply.png) top;   
width: 101px;   
height: 29px;   
}
#button_post_reply a:hover {   
background:  url(./images/button_post_reply.png) no-repeat bottom;   
}



/*------ Header center button -------*/
#button_header_center a {   
display: block;   
background:  url(./images/bg_buttons_c.png) top;   
width: 100%;   
height: 39px;   
}
#button_header_center a:hover {   
background:  url(./images/bg_buttons_h.png)  bottom;   
}

    #nav-example {
    background:url("./images/nav-final.jpg") no-repeat;
    width:490px;
    height:40px;
    margin:0;
    padding:0;
    }

    #nav-example span {
    display: none;
    }

    #nav-example li, #nav-example a {
    height:40px;
    display:block;
    }

    #nav-example li {
    float:left;
    list-style:none;
    display:inline;
    }

    #nav-example-01 {
    width: 98px;
    }
    #nav-example-02 {width: 131px;}
    #nav-example-03 {width: 123px;}
    #nav-example-04 {width: 138px;}

    #nav-example-01 a:hover {background:url("./images/nav-final.jpg") 0px -40px no-repeat; }
    #nav-example-02 a:hover {background:url("./images/nav-final.jpg") -98px -40px no-repeat; }
    #nav-example-03 a:hover {background:url("./images/nav-final.jpg") -229px -40px no-repeat; }
    #nav-example-04 a:hover {background:url("./images/nav-final.jpg") -352px -40px no-repeat; }