/* You have the right to customize this skin as you want as the credits remain in place.

DO NOT REMOVE CREDITS!!!!!!!!!

http://www.phpbb-skin.info/skinlab
Alpha Trion

*/
@import url("categories.css");
@import url("top_bar.css");
@import url("oval_buttons.css");
@import url("header.css");
@import url("cp.css");
@import url("links.css");

* {
margin : 0;
padding : 0;
}
html {
font-size : 100%;
}
body {
font-family : "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
color : #000000;
/*background-color : #c4c9cc;*/
/*background-color : #cddce7;*/
background-color: #5d7399;
font-size : 62.5%;
margin : 0;
height: 100%;
}
.forum-first-ico img {
    width:25px;
}
#wrapheader {
min-height : 120px;
height : auto !important ;
height : 120px;
padding : 10px 10px 10px 10px;
margin : 10px 10px 10px 10px;
border: 1px solid #000000;
background-color: #fafafa;
}
#wrapcentre {
margin : 15px 0px 0 0px;
height: 100%;
}

#wrapfooter {
text-align : center;
clear : both;
height: 100%;
}
#wrapnav {
width : 100%;
margin : 0;
background-color : #ececec;
border-width : 1px;
border-style : solid;
border-color : #a9b8c2;
}

#menubar {
margin : 0 25px;
}
#datebar {
margin : 10px 25px 0 25px;
}
#findbar {
width : 100%;
margin : 0;
padding : 0;
border : 0;
}

.gensmallclock {
color: #22CC44;
background : url('./images/clock.png') no-repeat top right;
margin: 0px 0px;
padding-bottom:15px;
padding-top:15px;
font-size: 1em;
width: 250px;
}


.h-pag-l {
color : #000000;
background : url('./images/pag.png') repeat-x top left;
border-left : 1px solid #000000;
border-bottom : 1px solid #000000;
border-top : 1px solid #000000;
height : 36px;
font-family : Verdana, Arial, Helvetica, sans-serif;
font-size : 1.1em;
font-weight : bold;
text-align : left;
vertical-align : middle;
white-space : nowrap;
}
.h-pag-r {
color : #ffcc33;
background : #111111 url('./images/pag.png') repeat-x top left;
border-bottom : 1px solid #000000;
border-right : 1px solid #000000;
border-top : 1px solid #000000;
height : 36px;
font-family : Verdana, Arial, Helvetica, sans-serif;
font-size : 1.1em;
font-weight : bold;
text-align : left;
white-space : nowrap;
padding-top : 0;
}

.forumrules {
background: #FFFFFF url('./images/rules_header.png') repeat-x top left;
border-width : 1px;
border-style : solid;
border-color : #000000;
padding : 4px;
font-weight : normal;
font-size : 1.1em;
font-family : Verdana, "Trebuchet MS", "Lucida Grande", Arial, Helvetica, sans-serif;
}
.forumrules_main {
background-color : #e79895;
/*background-color : #ccd9ea;*/
border-width : 1px;
border-style : solid;
border-color : #000000;
padding : 4px;
font-weight : normal;
font-size : 1.1em;
font-family : Verdana, "Trebuchet MS", "Lucida Grande", Arial, Helvetica, sans-serif;
}
.forumrules h3 {
color : #880000;
}

h1 {
color : black;
font-family : "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
font-weight : bold;
font-size : 1.8em;
text-decoration : none;
}
h2 {
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
font-size : 1.5em;
text-decoration : none;
line-height : 120%;
}
h3 {
font-size : 1.3em;
font-weight : bold;
font-family : Arial, Helvetica, sans-serif;
line-height : 120%;
}
h4 {
color : #000040;
font-size : 1em;
font-weight : bold;
margin : 0;
padding-top : 3px;
}

p {
font-size : 1.1em;
}
p.moderators {
margin : 0;
float : left;
color : black;
font-weight : bold;
}
.rtl p.moderators {
float : right;
}
p.linkmcp {
margin : 0;
float : right;
white-space : nowrap;
}
.rtl p.linkmcp {
float : left;
}
p.breadcrumbs {
margin : 0;
float : left;
color : black;
font-weight : bold;
white-space : normal;
font-size : 1em;
}
.rtl p.breadcrumbs {
float : right;
}
p.datetime {
margin : 0;
float : right;
white-space : nowrap;
font-size : 1em;
}
.rtl p.datetime {
float : left;
}
p.searchbar {
padding : 2px 0;
white-space : nowrap;
}
p.searchbarreg {
margin : 0;
float : right;
white-space : nowrap;
}
.rtl p.searchbarreg {
float : left;
}
p.forumdesc {
padding-bottom : 4px;
}
p.topicauthor {
margin : 1px 0;
}
p.topicdetails {
margin : 1px 0;
color : #385d86;
}
p.topicdetails_pt {
margin : 1px 0;
color : #385d86;
font-size: 1.4em;
font-weight: bold;
}
p.topicdetails2 {
margin : 1px 0;
color : #000000;
}
.postreported, .postreported a:visited, .postreported a:hover, .postreported a:link, .postreported a:active {
margin : 1px 0;
color : red;
font-weight : bold;
}
.postapprove, .postapprove a:visited, .postapprove a:hover, .postapprove a:link, .postapprove a:active {
color : green;
font-weight : bold;
}
.postapprove img, .postreported img {
vertical-align : bottom;
}
.postauthor {
color : #000000;
}
.postdetails {
color : #000000;
}
.postbody {
color : #000000;
font-size : 1.3em;
line-height : 1.4em;
font-family : "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
min-height : 150px;
}
.postbody li, ol, ul {
margin : 0 0 0 1.5em;
}
.rtl .postbody li, .rtl ol, .rtl ul {
margin : 0 1.5em 0 0;
}
.postbody_faq {
color : #000000;
font-size : 1.3em;
line-height : 1.4em;
font-family : "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
}
.postbody_faq li, ol, ul {
margin : 0 0 0 1.5em;
}
.rtl .postbody_faq li, .rtl ol, .rtl ul {
margin : 0 1.5em 0 0;
}
.posthilit {
background-color : yellow;
}
.nav {
margin : 0;
color : black;
font-weight : bold;
}


.gen {
margin : 1px 1px;
font-size : 1.2em;
}
.genmed {
margin : 1px 1px;
font-size : 1.1em;
}
.gensmall {
margin : 1px 1px;
font-size : 1em;
}
.copyright {
/*color : #444;*/
color:white;
font-weight : normal;
font-family : "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;

}
.copyright a {
    color:white;
    }
.titles {
font-family : "Lucida Grande", Helvetica, Arial, sans-serif;
font-weight : bold;
font-size : 1.3em;
text-decoration : none;
}
.error {
color : red;
}
th {
color : #ffffff;
font-size : 1.1em;
font-weight : bold;
background-color : #006699;
/*background-image : url('./images/bg.png');*/
background-image : url('./images/cellpic3.gif');
white-space : nowrap;
padding : 5px 1px;
border-top : 1px solid #000000;
border-bottom : 1px solid #000000;
}
td {
padding : 2px;
}
td.profile {
padding : 4px;
padding-top : 0;
background-color : #eaeaea;
border-right : 1px solid #000000;
}
td.profile_b {
padding : 4px;
background-color : #eaeaea;
border-top : 1px solid #000000;
}
.tablebg {
background-color : #a9b8c2;
border-left : 1px solid #000000;
border-right : 1px solid #000000;
border-bottom : 1px solid #000000;
}
.tablebg_trbl {
background-color : #a9b8c2;
border : 1px solid #000000;
}
.tablebg_footer {
background-color : #a9b8c2;
background-image : url('./images/c-h-c.png') repeat-x;
line-height: 28px;

border-bottom : 1px solid #000000;
border-left : 1px solid #000000;
border-right : 1px solid #000000;
}
.tablebg_rl {
background-color : #a9b8c2;
border-left : 1px solid #000000;
border-right : 1px solid #000000;
}
.tablebg_trl {
background-color : #a9b8c2;
border-top : 1px solid #000000;
border-left : 1px solid #000000;
border-right : 1px solid #000000;
}
.tablebg_desc {
padding : 4px;
}

.catdiv {
height : 28px;
margin : 0;
padding : 0;
border : 0;
background : white url('./images/cellpic2.jpg') repeat-y scroll top left;
}
.rtl .catdiv {
background : white url('./images/cellpic2_rtl.jpg') repeat-y scroll top right;
}
.cat {
height : 28px;
margin : 0;
padding : 0;
border-top : 1px solid #000000;
background-color : #b6c5e1;
background-image : url('./images/cat-bottom.png');
/*background-image : url('./images/cellpic3.gif');*/
text-indent : 4px;
}
.cat_chat {
height : 28px;
margin : 0;
padding : 0;
border-top : 1px solid #000000;
border-bottom : 1px solid #000000;
background-color : #abc4e5;
background-image : url('./images/cat-bottom.png');
/*background-image : url('./images/cellpic3.gif');*/
text-indent : 4px;
}
.catold {
height : 28px;
margin : 0;
padding : 0;
border-top : 1px solid #000000;
background-color : #6b8dba;
background-image : url('./images/cat-bottom.png');
/*background-image : url('./images/cellpic3.gif');*/
text-indent : 4px;
}
.cat_online {
font-size : 1.2em;

margin : 0;
padding : 0;
border-top : 1px solid #000000;
border-bottom : 1px solid #000000;
background-color : #385d86;
/*background-image : url('./images/bg.png');*/
background-image : url('./images/cellpic3.gif');
text-indent : 4px;
padding-top: 4px;
padding-bottom: 5px;
}
.cat_online_top {
font-size : 1.2em;

margin : 0;
padding : 0;
/*border-top : 1px solid #000000;*/
border-bottom : 1px solid #000000;
background-color : #385d86;
background-image : url('./images/bg.png');
text-indent : 4px;
padding-top: 4px;
padding-bottom: 5px;
}
.cat_online_top_2 {
font-size : 1.2em;
text-align: center;
margin : 0;
padding : 0;
border-top : 1px solid #000000;
border-bottom : 1px solid #000000;
background-color : #385d86;
background-image : url('./images/bg.png');
text-indent : 4px;
padding-top: 6px;
padding-bottom: 7px;
}

.c-h-c {
background : url('./images/c-h-c.png') repeat-x bottom left;
width : 100%;
height : 32px;
margin : 0;
font-weight : bold;
font-size : 1.3em;
text-align : left;
vertical-align : middle;
white-space : nowrap;
overflow : hidden;
}
.c-h-l {
background : url('./images/c-h-l.png') no-repeat bottom left;
padding-left : 25px;
}
.c-h-r {
background : url('./images/c-h-r.png') no-repeat bottom right;
padding-right : 10px;
}
.c-h-title {
color : #000040;
margin-top : 4px;
}
.c-h-titlemember {
color : #000040;
margin-top : 0px;
}
.c-f-c {
/*background : url('./images/c-f-c.png') repeat-x bottom left;*/
background-image : url('./images/cellpic3.gif');
height : 11px;
font-size : 0.1em;
margin : 0;
white-space : nowrap;
overflow : hidden;
}
.c-f-c-2 {
/*background : url('./images/c-f-c.png') repeat-x bottom left;*/
background-image : url('./images/cellpic3.gif');
height : 12px;
font-size : 0.1em;
margin : 0;
white-space : nowrap;
overflow : hidden;
}
.c-f-l {
/*background : url('./images/c-f-l.png') no-repeat bottom left;*/
background-image : url('./images/cellpic3.gif');
padding-left : 25px;
}
.c-f-r {
/*background : url('./images/c-f-r.png') no-repeat bottom right;*/
background-image : url('./images/cellpic3.gif');
padding-right : 10px;
}
.row1 {
background-color : #f1f1f1;
padding : 4px;
}
.row_footer {
color: black;
padding-top: 4px;
padding-bottom:4px;
/*background : url('./images/c-h-c.png') repeat-x top left;*/
background-image : url('./images/cellpic3.gif');
}
.row11 {
background-color : #ccd9ea;
padding : 5px;
}
.row1_t {
background-color : #f1f1f1;
padding : 4px;
/*border-top : 1px solid #000000;*/
height : 25px;
}
.row2 {
background-color : #f1f1f1;
padding : 4px;
}
.row3 {
background-color : #6b8dba;
padding : 3px;
/*background : url('./images/c-h-c.png') repeat-x bottom;*/
background-image : url('./images/cellpic3.gif');

border-bottom : 1px solid #000000;
}
.row3t {
background-color : #6b8dba;
padding : 6px;
/*background : url('./images/c-h-c.png') repeat-x bottom;*/
background-image : url('./images/cellpic3.gif');
border-bottom : 1px solid #000000;
}


.row_announcements_title {
background-color : #6b8dba;
padding : 3px;
/*background : url('./images/c-h-c.png') repeat-x bottom;*/
background-image : url('./images/cellpic3.gif');
border-bottom : 1px solid #000000;
}
.row_topics_title {
background-color : #6b8dba;
padding : 3px;
/*background : url('./images/c-h-c.png') repeat-x bottom;*/
background-image : url('./images/cellpic3.gif');
border-top : 1px solid #000000;
border-bottom : 1px solid #000000;
}


.row4 {
background-color : #dddddd;
border-left : 1px solid #000000;
border-right : 1px solid #000000;
border-bottom : 1px solid #000000;
border-top : 1px solid #000000;
padding : 7px;
}

.row5 {
background-color : #ddddcc;
border-left : 1px solid #000000;
border-right : 1px solid #000000;
border-bottom : 1px solid #000000;
border-top : 1px solid #000000;

}
.row6 {
background-color : #ddddcc;
border-left : 1px solid #000000;
border-right : 1px solid #000000;
border-bottom : 1px solid #000000;
border-top : 1px solid #000000;
padding: 5px;
}
.row_desc {
background-color : #ddddee;
border-left : 1px solid #404040;
border-right : 1px solid #404040;
border-bottom : 1px solid #404040;
border-top : 1px solid #404040;
padding : 7px;
}
.row_select_title {
background-color : #cdcdcd;
/*border-left : 1px solid #404040;
border-right : 1px solid #404040;*/
/*border-bottom : 1px solid #404040;
border-top : 1px solid #404040;*/
padding-top : 2px;
padding-bottom : 0px;
padding-left: 4px;

border: 1px solid #000000;
}
.row_select {
background-color : #ddddcc;

border-bottom : 1px solid #000000;
border-top : 1px solid #000000;
padding: 5px;
}
.row_select_hover {
background-color : #ddddcc;

border-bottom : 1px solid #000000;
border-top : 1px solid #000000;
padding: 3px;
padding-left:4px;
}
.poster_row {
background-color : #6b8dba;
padding : 4px;
}
.spacer {
background-color : #385d86;
/*background : url('./images/c-f-c.png') repeat-x top left;*/
background-image : url('./images/cellpic3.gif');

}
hr {
height : 1px;
border-width : 0;
background-color : #d1d7dc;
color : #d1d7dc;
}
.legend {
text-align : center;
margin : 0 auto;
}

form {
margin : 0;
padding : 0;
border : 0;
}
input {
color : #333333;
font-family : "Lucida Grande", Verdana, Helvetica, sans-serif;
font-size : 1.1em;
font-weight : normal;
padding : 1px;
border : 1px solid #a9b8c2;
background-color : #fafafa;
}

textarea {
background-color : #fafafa;
color : #333333;
font-family : "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
font-size : 1.3em;
line-height : 1.4em;
font-weight : normal;
border : 1px solid #a9b8c2;
padding : 2px;
}
textarea:visited {
background-color : #fafafa;
color : #333333;
font-family : "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
font-size : 1.3em;
line-height : 1.4em;
font-weight : normal;
border : 1px solid #a9b8c2;
padding : 2px;
}
textarea:hover {
background-color : #fafafa;
color : #333333;
font-family : "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
font-size : 1.3em;
line-height : 1.4em;
font-weight : normal;
border : 1px solid #2288cc;
padding : 2px;
}
textarea:focus {
background-color : #faf9ba;
color : #333333;
font-family : "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
font-size : 1.3em;
line-height : 1.4em;
font-weight : normal;
border : 1px solid #2288cc;
padding : 2px;
}
select {
color : #333333;
background-color : #fafafa;
font-family : "Lucida Grande", Verdana, Helvetica, sans-serif;
font-size : 1.1em;
font-weight : normal;
border : 1px solid #a9b8c2;
padding : 1px;
}
option {
padding : 0 1em 0 0;
}
option.disabled-option {
color : GrayText;
}
.rtl option {
padding : 0 0 0 1em;
}
input.radio {
border : none;
background-color : transparent;
}

.quotetitle {
color : #ffffff;
background : #252525 url('./images/quote.png') repeat-x top right;
border : 1px solid #94944d;
font-family : Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif;
font-size : 0.9em;
font-weight : bold;
text-align : left;
padding : 5px;
margin-top : 10px;
}
.attachtitle {
color : #446688;
background : #aaccff url('./images/bbc_zip.gif') no-repeat right 0%;
border : 1px solid #555555;
font-family : Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif;
font-size : 0.9em;
font-weight : bold;
text-align : left;
padding : 5px;
margin-top : 10px;
}
.quotetitle .quotetitle {
font-size : 1em;
}
.quotecontent {
background : #ffffd5;
border : 1px solid #94944d;
border-top : 0;
font-family : Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif;
font-size : 0.9em;
text-align : left;
padding : 5px;
overflow : auto;
direction : ltr;
}
.quotecontent, .attachcontent {
background : #bdd2de;
border : 1px solid #94944d;
border-top : 0;
font-family : Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif;
font-size : 0.9em;
text-align : left;
padding : 5px;
overflow : auto;
direction : ltr;
}
.attachcontent {
font-size : 0.85em;
}
.codetitle {
color : #ffffff;
background : #252525 url('./images/code.png') repeat-x top right;
border-top : 1px solid #000000;
border-left : 1px solid #000000;
border-right : 1px solid #000000;
font-family : Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif;
font-size : 0.9em;
font-weight : bold;
text-align : left;
margin-top : 10px;
padding : 5px;
}
.codecontent {
color : #3a4f6c;
background : #fafafa;
border : 1px solid #000000;
border-top : 0;
font-family : 'Courier New', Monaco, monospace;
font-size : 0.9em;
font-weight : normal;
text-align : left;
padding : 5px;
overflow : auto;
direction : ltr;
}
.syntaxbg {
color : #ffffff;
}
.syntaxcomment {
color : #ff8000;
}
.syntaxdefault {
color : #0000bb;
}
.syntaxhtml {
color : #000000;
}
.syntaxkeyword {
color : #007700;
}
.syntaxstring {
color : #dd0000;
}
.pm_marked_colour {
background-color : #000000;
}
.pm_replied_colour {
background-color : #a9b8c2;
}
.pm_friend_colour {
background-color : #007700;
}
.pm_foe_colour {
background-color : #dd0000;
}
img {
border : none;
}
.sep {
color : black;
background-color : #ffa34f;
}
table.colortable td {
padding : 0;
}
pre {
font-size : 1.1em;
font-family : Monaco, 'Courier New', monospace;
}
.nowrap {
white-space : nowrap;
}
.username-coloured {
font-weight : bold;
}
#msg > li.row1 {
display : block;
list-style-type : none;
margin : 0;
height : auto;
width : 98%;
float : left;
}
#msg > li.row2 {
display : block;
list-style-type : none;
margin : 0;
height : auto;
width : 98%;
float : left;
}
#msg > li > dl {
vertical-align : middle;
width : 100%;
}
#msg > li > dl > dt {
width : auto !important ;
white-space : nowrap;
margin-right : 2px;
}
#msg > li > dl > dd > input {
margin : 3px;
}
#msg > li > dl > dd#msgbody {
display : inline;
padding : 3px 0 1px 0 !important ;
vertical-align : middle;
float : none !important ;
}
#base_ul {
list-style : none;
margin-left : 0;
}
#dropmenudiv {
position : absolute;
border-left : 1px solid #000000;
border-top : 1px solid #000000;
border-right : 1px solid #000000;
font-family : verdana, sans-serif;
font-size : 11px;
line-height : 15px;
z-index : 100;
text-align : left;
margin : 0 0 0 0;

}
#dropmenudiv a {
width : 100%;
display : block;
text-indent : 10px;
padding : 5px 0;
text-decoration : none;
font-weight : bold;
font-size:10px;
color : #3a4f6c;
background-color : #f0f5fa;
border-bottom : 1px solid #000000;
background : #252525 url('./images/op_but.png') repeat-x right 0%;
}
#dropmenudiv a:hover {
color : #ffffff;
background : #6699cc url('./images/op_but.png') repeat-x right 100%;
}
