

<!-- IF not $CHAT_LOADED --><!-- INCLUDE chat/chat_footer.html --><!-- ENDIF -->
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>
<!-- IF ADS_7 -->{ADS_7}<br /><br /><!-- ENDIF -->

<div id="wrapfooter">
	<!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><br /><!-- ENDIF -->
	<span class="copyright">{CREDIT_LINE} (<a href="http://phpbb3.ru/" target="_blank">блог о phpBB</a>)
	<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
	<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>
</div>


<!-- IF ADS_8 --><br />{ADS_8}<!-- ENDIF -->
</body>
</html>