<table width="100%" cellspacing="0" cellpadding="2" border="0" align="center">
     <tr>
          <td align="left" valign="bottom">
               <span class="nav"><a href="{U_INDEX}" class="nav">{L_INDEX}</a></span>
          </td>
     </tr>
</table>
<form method="post" action="{S_AUCTION_MOVE}">
<table align="center">
     <tr>
          <th colspan="5" class="thHead">{L_AUCTION_OFFER_MOVE}</th>
     </tr>
     <tr align="center">
          <td class="row2">
            &nbsp;{DD_AUCTION_ROOM}&nbsp;&nbsp;
          </td>
     </tr>
     <tr align="center">
         <td class="row2">
             <input type="submit" class="mainoption" name="login" value={L_AUCTION_OFFER_MOVE_NOW} />
         </td>
    </tr>
</table>
</form>

<br clear="all" />

<table align="center">
<tr>
<td align="center">
<span class="gensmall">{MODAUTHOR}</span>
<span class="gensmall">{MODPOWERED}</span>
</td>
</tr>
</table>


