</br>
</br>
<table widht="80%" class="forumline" align="center">
     <tr>
          <th class="thHEad">{L_AUCTION_ROOM_BID_SUCCESSFUL}</th>
     </tr>
     <tr align="center">
           <td class="row1"><span class="genmed">{L_AUCTION_ROOM_BID_SUCCESSFUL}</span></td>
     </tr>
</table>

</br>
</br>
</br>
</br>
</br>

<table align="center">
<tr>
<td align="center">
<span class="gensmall">{MODAUTHOR}</span>
<span class="gensmall">{MODPOWERED}</span>
</td>
</tr>
</table>