<!-- INCLUDE overall_header.html -->

<center>
<table class="tablebg" width="100%" cellspacing="1"><tr><td align="center" style="background-color: white; padding: 4px">

{L_OTKL}
<h1><a href="aukz.php?start={START}&amp;opn={OPN}" title="{L_AUKZ2}{L_AUKZ_RELOAD}">{L_AUKZ2}</a></h1>
<br />
<!-- IF not S_IS_BOT -->
<!-- IF S_USER_LOGGED_IN -->
<span class="gen">{L_MYNAL}: {NAL}{POINTS} {MY_BABLOS}</span>
<br /><br />
<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF USE_JS_CONFIRM -->
<script type="text/javascript">
// <!--
az_confirm_form_text = "";
function az_confirm_form(lot_id) {
	if ( az_confirm_form_text == "" ) return true;
	var t = (lot_id ? ("{L_NUM} #" + lot_id + ": ") : "") + az_confirm_form_text + " ?";
	az_confirm_form_text = "";
	return window.confirm(t);
}
// -->
</script>
<!-- ENDIF -->

<!-- форма добавления нового лота -->
<!-- BEGIN new_lot -->
<!-- IF new_lot.USE_JS_CONFIRM -->
<script type="text/javascript">
// <!--
function az_confirm_add() { az_confirm_form_text="{new_lot.L_ADD_CONFIRM}"; }
// -->
</script>
<!-- ENDIF -->
<center>
<h2>{new_lot.L_FORMNAME}</h2>
<br />
{new_lot.L_FORM_ERROR}
<form action="{new_lot.ACTION}" method="post" name="save_new" id="save_new">
<table class="tablebg" width="100%" cellspacing="1">
	<tr class="row1">
		<td align="center"><span class="gen"> {new_lot.L_TEST} </span></td>
		<td align="center"><input type="checkbox" name="a_test" style="cursor:pointer" {edit_lot.TEST_CHECKED} /></td>
	</tr>
	<tr class="row1">
		<td align="center"><span class="gen"> {new_lot.L_NUM} </span></td>
		<td align="center"><span class="gen"><input type="text" name="nomer" size="32" maxlength="31" value="{new_lot.NAME1}" class="post" /></span></td>
	</tr>
	<tr class="row1">
		<td align="center"><span class="gen"> {new_lot.L_PASS}</span></td>
		<td align="center"><span class="gen"><input type="text" name="pass" size="32" maxlength="63" value="{new_lot.NAME2}" class="post" /></span></td>
	</tr>
	<tr class="row1">
		<td align="center"><span class="gen"> {new_lot.L_INFO} </span></td>
		<td align="center"><textarea cols="32" rows="4" maxlength="255" name="info" class="post">{new_lot.NAME3}</textarea></td>
	</tr>
	<tr class="row1">
		<td align="center"><span class="gen"> {new_lot.L_COND} </span></td>
		<td align="center"><textarea cols="32" rows="4" maxlength="255" name="cond" class="post">{new_lot.NAME4}</textarea></td>
	</tr>
	<tr class="row1">
		<td align="center"><span class="gen"> {new_lot.L_PRICE0} {POINTS}: </span></td>
		<td align="center"><span class="gen"><input type="text" name="price_0" size="12" maxlength="12" value="{new_lot.PRICE}" class="post" /></span></td>
	</tr>
	<tr class="row1">
		<td align="center"><span class="gen"> {new_lot.L_BLITZ} {POINTS}: </span></td>
		<td align="center"><span class="gen"><input type="text" name="price_b" size="12" maxlength="12" value="{new_lot.BLITZ}" class="post" /></span></td>
	</tr>
	<tr class="row1">
		<td align="center"><span class="gen"> {new_lot.L_2END} </span></td>
		<td align="center"><span class="gen"><input type="text" name="endtime1" size="4" maxlength="4" value="{new_lot.TIME_HOURS}" class="post" /> : <input type="text" name="endtime2" size="3" maxlength="2" value="{new_lot.TIME_MINUTES}" class="post" /></span></td>
	</tr>
	<tr class="row2">
		<td align="center">
			<span class="gen">
			<!-- IF new_lot.USE_CAT -->
				{new_lot.L_CAT}&nbsp;
				<select size="1" name="category">
					<option value="1"> Разное </option>
				</select>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<!-- ENDIF -->
			<!-- IF new_lot.USE_FOTO -->
				{new_lot.L_FOTO}&nbsp;
				<input type="file" name="fotolot" size="8" maxlength="{new_lot.FILESIZE}" value="" class="post" disabled />
			<!-- ENDIF -->
			</span>
		</td>
		<td align="center"><span class="gen">{new_lot.ST_HTML}</span></td>
	</tr>
	<tr class="row2">
		<td colspan="2" align="center"><span class="genmed" style="color:red">{new_lot.COMISS1}{new_lot.COMISS2}</span></td>
	</tr>
</table>
</form>

</td></tr></table>

<br />
<div align="left"><div><b>{L_AZ_HELP_ADD_HEADER}</b> <input type="button" value="{L_AZ_HELP_SHOW}" style="cursor:pointer;width:65px;font-size:10px;margin:0px;padding:0px;" onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.value = '{L_AZ_HELP_HIDE}'; if (this.textContent == undefined) { this.innerText=''; } else { this.textContent=''; } } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.value = '{L_AZ_HELP_SHOW}'; if (this.textContent == undefined) { this.innerText=''; } else { this.textContent=''; } }" /></div><div><div style="display: none;">{L_AZ_HELP_ADD}</div></div></div>
<!-- END new_lot -->
<!-- конец формы добавления нового лота -->

<!-- форма редактирования лота -->
<!-- BEGIN edit_lot -->
<!-- IF edit_lot.USE_JS_CONFIRM -->
<script type="text/javascript">
// <!--
function az_confirm_save() { az_confirm_form_text="{edit_lot.L_SAVE_CONFIRM}"; }
// -->
</script>
<!-- ENDIF -->
<center>
<h2>{edit_lot.L_FORMNAME} #{edit_lot.ID}</h2>
<br />
{edit_lot.L_FORM_ERROR}
<form action="{edit_lot.ACTION}" method="post" name="save_edit" id="save_edit">
<table class="tablebg" width="100%" cellspacing="1">
	<tr class="row1">
		<td align="center"><span class="gen"> {edit_lot.L_TEST} </span></td>
		<td align="center"><input type="checkbox" name="a_test" {edit_lot.TEST_CHECKED} disabled /></td>
	</tr>
	<tr class="row1">
		<td align="center"><span class="gen"> {edit_lot.L_NUM} </span></td>
		<td align="center"><span class="gen"><input type="text" name="nomer" size="32" maxlength="31" value="{edit_lot.NAME1}" class="post" /></span></td>
	</tr>
	<tr class="row1">
		<td align="center"><span class="gen"> {edit_lot.L_PASS}</span></td>
		<td align="center"><span class="gen"><input type="text" name="pass" size="32" maxlength="63" value="{edit_lot.NAME2}" class="post" /></span></td>
	</tr>
	<tr class="row1">
		<td align="center"><span class="gen"> {edit_lot.L_INFO} </span></td>
		<td align="center"><textarea cols="32" rows="4" maxlength="255" name="info" class="post">{edit_lot.NAME3}</textarea></td>
	</tr>
	<tr class="row1">
		<td align="center"><span class="gen"> {edit_lot.L_COND} </span></td>
		<td align="center"><textarea cols="32" rows="4" maxlength="255" name="cond" class="post">{edit_lot.NAME4}</textarea></td>
	</tr>
	<tr class="row1">
		<td align="center"><span class="gen"> {edit_lot.L_PRICE0} {POINTS}: </span></td>
		<td align="center"><span class="gen"><input type="text" name="price_0" size="12" maxlength="12" value="{edit_lot.PRICE}" class="post" {edit_lot.DIS} /></span></td>
	</tr>
	<tr class="row1">
		<td align="center"><span class="gen"> {edit_lot.L_BLITZ} {POINTS}: </span></td>
		<td align="center"><span class="gen"><input type="text" name="price_b" size="12" maxlength="12" value="{edit_lot.BLITZ}" class="post" /></span></td>
	</tr>
	<tr class="row1">
		<td align="center"><span class="gen"> {edit_lot.L_2END} </span></td>
		<td align="center"><span class="gen"><input type="text" name="endtime1" size="4" maxlength="4" value="{edit_lot.TIME_HOURS}" class="post" /> : <input type="text" name="endtime2" size="3" maxlength="2" value="{edit_lot.TIME_MINUTES}" class="post" /></span></td>
	</tr>
	<tr class="row2">
		<td align="center">
			<span class="gen">
			<!-- IF edit_lot.USE_CAT -->
				{edit_lot.L_CAT}&nbsp;
				<select size="1" name="category">
					<option value="1"> Разное </option>
				</select>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<!-- ENDIF -->
			<!-- IF edit_lot.USE_FOTO -->
				{edit_lot.L_FOTO}&nbsp;
				<input type="file" name="fotolot" size="8" maxlength="{edit_lot.FILESIZE}" value="" class="post" disabled />
			<!-- ENDIF -->
			</span>
		</td>
		<td align="center"><span class="gen">{edit_lot.ST_HTML}</span></td>
	</tr>
<!--
	<tr class="row2">
		<td colspan="2" align="center"><span class="genmed" style="color:red">{edit_lot.COMISS1}{edit_lot.COMISS2}</span></td>
	</tr>
-->
</table>
</form>

</td></tr></table>

<br />
<div align="left"><div><b>{L_AZ_HELP_EDIT_HEADER}</b> <input type="button" value="{L_AZ_HELP_SHOW}" style="cursor:pointer;width:65px;font-size:10px;margin:0px;padding:0px;" onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.value = '{L_AZ_HELP_HIDE}'; if (this.textContent == undefined) { this.innerText=''; } else { this.textContent=''; } } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.value = '{L_AZ_HELP_SHOW}'; if (this.textContent == undefined) { this.innerText=''; } else { this.textContent=''; } }" /></div><div><div style="display: none;">{L_AZ_HELP_EDIT}</div></div></div>
<!-- END edit_lot -->
<!-- конец формы редактирования лота -->

<!-- список лотов -->
<!-- BEGIN active -->
<!-- IF active.USE_JS_CONFIRM -->
<script type="text/javascript">
// <!--
function az_confirm_do() { az_confirm_form_text="{active.L_DO_CONFIRM}"; }
function az_confirm_get() { az_confirm_form_text="{active.L_GET_CONFIRM}"; }
function az_confirm_blitz() { az_confirm_form_text="{active.L_BLITZ_CONFIRM}"; }
function az_confirm_go() { az_confirm_form_text="{active.L_GO_CONFIRM}"; }
function az_confirm_pause() { az_confirm_form_text="{active.L_PAUSE_CONFIRM}"; }
function az_confirm_edit() { az_confirm_form_text="{active.L_EDIT_CONFIRM}"; }
function az_confirm_delete() { az_confirm_form_text="{active.L_DELETE_CONFIRM}"; }
function az_confirm_delete_forever() { az_confirm_form_text="{active.L_DELETE_FOREVER_CONFIRM}"; }
// -->
</script>
<!-- ENDIF -->
<!-- IF not S_IS_BOT -->
<!-- IF S_USER_LOGGED_IN -->
<hr>
<table width="100%">
	<tr>
		<td class="gensmall" colspan="2"></td>
	</tr>
	<tr>
		<td align="left"><span class="genmed"><a href="?start={START}&amp;opn={OPNNEW}"><b>{active.VIEW_NAME}</b></a></span></td>
		<td align="right"><span class="genmed"><a href="?new=1&amp;start={START}&amp;opn={OPN}"><b>{active.L_VYST}</b></a></span></td>
	</tr>
	<tr>
		<td class="gensmall" colspan="2"></td>
	</tr>
</table>
<!-- ENDIF -->
<!-- ENDIF -->
<hr>
<table width="100%" cellspacing="1">
	<tr>
		<td class="gensmall" colspan="3"></td>
	</tr>
	<tr>
		<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
		<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_LOTS} ]&nbsp;</td>
		<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
	</tr>
	<tr>
		<td class="gensmall" colspan="3"></td>
	</tr>
</table>
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th align="center"><a href="?sort=2&amp;start={START}&amp;opn={OPN}" style="cursor:pointer"><font color="darkorange">{active.ARROW2}&nbsp;{active.L_NUM}&nbsp;{active.ARROW2}</font></a></th>
		<th align="center">{active.L_NUM_NAME}</a></th>
		<th align="center"><a href="?sort=1&amp;start={START}&amp;opn={OPN}" style="cursor:pointer"><font color="darkorange">{active.ARROW1}&nbsp;{active.L_STAVKA},&nbsp;{POINTS}&nbsp;{active.ARROW1}</font></a></th>
		<th align="center">{active.L_DO_ST}</th>
		<th align="center"><a href="?sort=0&amp;start={START}&amp;opn={OPN}" style="cursor:pointer"><font color="darkorange">{active.ARROW0}&nbsp;{active.L_2END}&nbsp;{active.ARROW0}</font></a></th>
		{active.ADM_U}
	</tr>
<!-- BEGIN nolots -->
	<tr>
		<td colspan="5" align="center"><br /><span class="gen">{active.nolots.L_NOLOTS}</span><br /><br /></td>
	</tr>
<!-- END nolots -->
<!-- BEGIN lots -->
	<tr class=<!-- IF active.lots.S_ROW_COUNT is even -->"row1"<!-- ELSE -->"row2"<!-- ENDIF -->>
		<td align="center">
			<span class="gen"><b>{active.lots.ID_URL}</b></span>
		</td>
		<td align="center" title="{active.lots.NAME3}">
			<span class="gen"><span style="color:{active.lots.COLOR};"><b>{active.lots.NAME1}</b></span>{active.lots.USERNAME_0}</span>
		</td>
		<td align="center">
			<span class="gen"><span style="color:{active.lots.COLOR};"><b>{active.lots.PRICE_5}</b></span>{active.lots.USER_5}{active.lots.USERNAME_ALL}</span>
		</td>
		<td align="center">
			<span class="gen">
				<form action="aukz.php" method="post" name="post_active1_{active.lots.ID}" id="post_active1_{active.lots.ID}">{active.lots.ST_HTML}<input type="hidden" name="hidden_lot_id" value="{active.lots.ID}" /></form>
				<form action="aukz.php" method="post" name="post_active2_{active.lots.ID}" id="post_active2_{active.lots.ID}">{active.lots.BL_HTML}<input type="hidden" name="hidden_lot_id" value="{active.lots.ID}" /></form>
			</span>
		</td>
		<td align="center">
			<span class="gen"><b>{active.lots.TIME_OST}</b></span>
		</td>
		{active.lots.ADM_PD}
	</tr>
<!-- END lots -->
</table>
<table width="100%" cellspacing="1">
	<tr>
		<td class="gensmall" colspan="3"></td>
	</tr>
	<tr>
		<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
		<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_LOTS} ]&nbsp;</td>
		<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
	</tr>
	<tr>
		<td class="gensmall" colspan="3"></td>
	</tr>
</table>
<!-- IF not S_IS_BOT -->
<!-- IF S_USER_LOGGED_IN -->
<hr>
<table width="100%">
	<tr>
		<td class="gensmall" colspan="2"></td>
	</tr>
	<tr>
		<td align="left"><span class="genmed"><a href="?start={START}&amp;opn={OPNNEW}"><b>{active.VIEW_NAME}</b></a></span></td>
		<td align="right"><span class="genmed"><a href="?new=1&amp;start={START}&amp;opn={OPN}"><b>{active.L_VYST}</b></a></span></td>
	</tr>
	<tr>
		<td class="gensmall" colspan="2"></td>
	</tr>
</table>
<!-- ENDIF -->
<!-- ENDIF -->

</td></tr></table>

<br />
<div align="left"><div><b>{L_AZ_HELP_TORG_HEADER}</b> <input type="button" value="{L_AZ_HELP_SHOW}" style="cursor:pointer;width:65px;font-size:10px;margin:0px;padding:0px;" onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.value = '{L_AZ_HELP_HIDE}'; if (this.textContent == undefined) { this.innerText=''; } else { this.textContent=''; } } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.value = '{L_AZ_HELP_SHOW}'; if (this.textContent == undefined) { this.innerText=''; } else { this.textContent=''; } }" /></div><div><div style="display: none;">{L_AZ_HELP_CONFIG}{L_AZ_HELP_TORG}</div></div></div>
<!-- IF not S_IS_BOT -->
<!-- IF S_USER_LOGGED_IN -->
<br />
<div align="left"><div><b>{L_AZ_HELP_MONEY_HEADER}</b> <input type="button" value="{active.L_AZ_HELP_SHOW_HIDE}" style="cursor:pointer;width:65px;font-size:10px;margin:0px;padding:0px;" onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.value = '{L_AZ_HELP_HIDE}'; if (this.textContent == undefined) { this.innerText=''; } else { this.textContent=''; } } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.value = '{L_AZ_HELP_SHOW}'; if (this.textContent == undefined) { this.innerText=''; } else { this.textContent=''; } }" /></div><div><div{active.L_AZ_HELP_STYLE_DIV}>{active.L_AZ_HELP_MONEY}</div></div></div>
<!-- ENDIF -->
<!-- ENDIF -->
<!-- END active -->
<!-- конец списка лотов -->

<br />
<hr>
<table class="tablebg" width="100%" cellspacing="0" border="0">
	<tr style="background-color: white; padding: 4px">
		<td width="100%" align="center"><span class="gensmall">{L_CO}</span><br /></td>
	</tr>
</table>

</center>

<!-- INCLUDE overall_footer.html -->
