

<table width="100%">
<tr>
<td>
	<p class="h-pag">
	    <a href="{U_INDEX}">{L_INDEX}</a><!-- BEGIN navlinks -->&nbsp;&#187;&nbsp;<a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a><!-- END navlinks --></p>
</td> 	
	</tr>
	</table>
