<!-- INCLUDE mcp_header.html -->

<table class="tablebg" width="100%" cellspacing="0">
<tr> 
	<th>{L_WHOIS}</th>
</tr>
<tr>
	<td class="row3" align="center"><span class="gensmall">{RETURN_POST}</span></td>
</tr>
<tr>
	<td class="row1"><pre>{WHOIS}</pre></td>
</tr>
</table>
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c">&nbsp;</div></div></div>
<!-- INCLUDE mcp_footer.html -->