<!-- INCLUDE mcp_header.html -->
<div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><div class="c-h-title"><h4>{MESSAGE_TITLE},<b>{MESSAGE_DESCRIPTION}</b></h4></div></div></div></div>
<table class="tablebg" width="100%" cellspacing="0" cellpadding="4" border="0" align="center">

<tr> 
	<td class="row1" align="center"><br /><span class="gen">{MESSAGE_TEXT}</span><br /><br /></td>
</tr>
</table>
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c"></div></div></div>
<br clear="all" />

<!-- INCLUDE mcp_footer.html -->