<!-- INCLUDE mcp_header.html -->

<form method="post" name="mcp" action="{U_POST_ACTION}">

<table class="tablebg_rl" width="100%" cellspacing="0">
<tr>
	<td class="row3" colspan="4" align="center"><b class="gen">{L_WARNED_USERS}</b></td>
</tr>
<tr>
	<th>&nbsp;{L_USERNAME}&nbsp;</th>
	<th>&nbsp;{L_WARNINGS}&nbsp;</th>
	<th>&nbsp;{L_LATEST_WARNING_TIME}&nbsp;</th>
	<th>&nbsp;</th>
</tr>
<!-- BEGIN user -->
	<tr>
		<td class="row1" width="15%"><span class="gen">{user.USERNAME_FULL}</span></td>
		<td class="row2" width="15%"><span class="gen">{user.WARNINGS}</span></td>
		<td class="row1" width="15%"><span class="gen">{user.WARNING_TIME}</span></td>
		<td class="row2" width="15%">
		
		
		
		<div class="buttonwrapper">
<a class="ovalbutton" href="{user.U_NOTES}" ><span>{L_VIEW_NOTES}</span></a>
</div>


		</td>
	</tr>
<!-- BEGINELSE -->
	<tr>
		<td class="row1" colspan="4" align="center"><span class="gen">{L_WARNINGS_ZERO_TOTAL}</span></td>
	</tr>
<!-- END user -->
<tr align="center">
	<td class="row3" colspan="4"><span class="gensmall">{L_DISPLAY_POSTS}:</span> {S_SELECT_SORT_DAYS}&nbsp;<span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" value="{L_GO}" name="sort" /></td>
</tr>
</table>

<table width="100%" cellspacing="0" cellpadding="0">
<tr>
	<td class="pagination">{PAGE_NUMBER} [ {TOTAL_USERS} ]</td>
	<td align="{S_CONTENT_FLOW_END}"><span class="pagination"><!-- INCLUDE pagination.html --></span></td>
</tr>
</table>
{S_FORM_TOKEN}
</form>

<br clear="all" /><br />

<!-- INCLUDE mcp_footer.html -->