<!-- INCLUDE mcp_header.html -->


				
<!-- IF S_SHOW_UNAPPROVED -->
	<form name="mcp_queue" method="post" action="{S_MCP_QUEUE_ACTION}">

	<table class="tablebg" width="100%" cellspacing="0">
	<tr>
		<td class="row3" colspan="6" align="center"><b class="gen">{L_LATEST_UNAPPROVED}</b></td>
	</tr>
	<tr>
		<th>&nbsp;{L_FORUM}&nbsp;</th>
		<th>&nbsp;{L_TOPIC}&nbsp;</th>
		<th>&nbsp;{L_SUBJECT}&nbsp;</th>
		<th>&nbsp;{L_AUTHOR}&nbsp;</th>
		<th>&nbsp;{L_POST_TIME}&nbsp;</th>
		<th width="5%">&nbsp;{L_SELECT}&nbsp;</th>
	</tr>
	<!-- BEGIN unapproved -->
		<tr>
			<td class="row1" width="15%" valign="top"><span class="gen"><!-- IF unapproved.U_FORUM --><a href="{unapproved.U_FORUM}">{unapproved.FORUM_NAME}</a><!-- ELSE -->{unapproved.FORUM_NAME}<!-- ENDIF --></span><!-- IF unapproved.U_MCP_FORUM --><br /><span class="gensmall">[ <a href="{unapproved.U_MCP_FORUM}">{L_MODERATE}</a> ]</span><!-- ENDIF --></td>
			<td class="row2" valign="top"><span class="gen"><a href="{unapproved.U_TOPIC}">{unapproved.TOPIC_TITLE}</a></span><br />			<!-- IF unapproved.TOPIC_DESCRIPTION -->{unapproved.TOPIC_DESCRIPTION}<br /> <!-- ENDIF --><span class="gensmall">[ <a href="{unapproved.U_MCP_TOPIC}">{L_MODERATE}</a> ]</span></td>
			<td class="row1" valign="top"><span class="gen">{unapproved.SUBJECT}</span><br />			<!-- IF unapproved.DESCRIPTION -->{unapproved.DESCRIPTION}<br /> <!-- ENDIF --><span class="gensmall">[ <a href="{unapproved.U_POST_DETAILS}">{L_VIEW_DETAILS}</a> ]</span></td>
			<td class="row2" align="center" width="15%" nowrap="nowrap" valign="top"><span class="gen">{unapproved.AUTHOR_FULL}</span></td>
			<td class="row1" align="center" width="15%" nowrap="nowrap" valign="top"><span class="gensmall">{unapproved.POST_TIME}</span></td>
			<td class="row2" align="center"><input type="checkbox" class="radio" name="post_id_list[]" value="{unapproved.POST_ID}" /></td>
		</tr>
	<!-- BEGINELSE -->
		<tr>
			<td class="row1" colspan="6" align="center"><span class="gen">{L_UNAPPROVED_POSTS_ZERO_TOTAL}</span></td>
		</tr>
	<!-- END unapproved -->
	<!-- IF S_HAS_UNAPPROVED_POSTS -->
		<tr>
			<td class="row3" colspan="6"><span class="gensmall">{L_UNAPPROVED_TOTAL}</span></td>
		</tr>
	<!-- ENDIF -->
	<tr>
		<td class="cat" colspan="6" align="center">{S_HIDDEN_FIELDS}<input class="btnmain" type="submit" name="action[approve]" value="{L_APPROVE}" />&nbsp;&nbsp;<input class="btnlite" type="submit" name="action[disapprove]" value="{L_DISAPPROVE}" /></td>
	</tr>
	</table>
	{S_FORM_TOKEN}
	</form>
	<div class="c-f-l"><div class="c-f-r"><div class="c-f-c"></div></div></div>
	<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr>
		<td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><b class="gensmall"><a href="#" onclick="marklist('mcp_queue', '', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp_queue', '', false); return false;">{L_UNMARK_ALL}</a></b></td>
	</tr>
	</table>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- IF S_SHOW_REPORTS -->
<div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><div class="c-h-title"><h4>{L_LATEST_REPORTED}</h4></div></div></div></div>
	<table class="tablebg" width="100%" cellspacing="0">
	
	<tr>
		<th>&nbsp;{L_FORUM}&nbsp;</th>
		<th>&nbsp;{L_TOPIC}&nbsp;</th>
		<th>&nbsp;{L_SUBJECT}&nbsp;</th>
		<th>&nbsp;{L_REPORTER}&nbsp;</th>
		<th>&nbsp;{L_REPORT_TIME}&nbsp;</th>
	</tr>
	<!-- BEGIN report -->
		<tr>
			<td class="row1" width="15%" valign="top"><span class="gen"><!-- IF report.U_FORUM --><a href="{report.U_FORUM}">{report.FORUM_NAME}</a><!-- ELSE -->{report.FORUM_NAME}<!-- ENDIF --></span><!-- IF report.U_MCP_FORUM --><br /><span class="gensmall">[ <a href="{report.U_MCP_FORUM}">{L_MODERATE}</a> ]</span><!-- ENDIF --></td>
			<td class="row2" valign="top"><span class="gen"><a href="{report.U_TOPIC}">{report.TOPIC_TITLE}</a></span><br />			<!-- IF report.TOPIC_DESCRIPTION -->{report.TOPIC_DESCRIPTION}<br /> <!-- ENDIF --><span class="gensmall">[ <a href="{report.U_MCP_TOPIC}">{L_MODERATE}</a> ]</span></td>
			<td class="row1" valign="top"><span class="gen">{report.SUBJECT}</span><br />			<!-- IF report.DESCRIPTION -->{report.DESCRIPTION}<br /> <!-- ENDIF --><span class="gensmall">[ <a href="{report.U_POST_DETAILS}">{L_VIEW_DETAILS}</a> ]</span></td>
			<td class="row2" align="center" width="15%" nowrap="nowrap" valign="top"><span class="gen">{report.REPORTER_FULL}</span></td>
			<td class="row1" align="center" width="15%" nowrap="nowrap" valign="top"><span class="gensmall">{report.REPORT_TIME}</span></td>
		</tr>
	<!-- BEGINELSE -->
		<tr>
			<td class="row1" colspan="5" align="center"><span class="gen">{L_REPORTS_ZERO_TOTAL}</span></td>
		</tr>
	<!-- END report -->
	<!-- IF S_HAS_REPORTS -->
		<tr>
			<td class="row3" colspan="5"><span class="gensmall">{L_REPORTS_TOTAL}</span></td>
		</tr>
	<!-- ENDIF -->
	</table>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- IF S_SHOW_PM_REPORTS -->
	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="row3" colspan="6" align="center"><b class="gen">{L_LATEST_REPORTED_PMS}</b></td>
	</tr>
	<tr>
		<th>&nbsp;{L_PM_SUBJECT}&nbsp;</th>
		<th>&nbsp;{L_PM_FROM}&nbsp;</th>
		<th>&nbsp;{L_TO} &amp; {L_BCC}&nbsp;</th>
		<th>&nbsp;{L_SENT_AT}&nbsp;</th>
		<th>&nbsp;{L_REPORTER}&nbsp;</th>
		<th>&nbsp;{L_REPORT_TIME}&nbsp;</th>
	</tr>
	<!-- BEGIN pm_report -->
		<tr>
			<td class="row1" valign="top"><span class="gen">{pm_report.PM_SUBJECT}</span><br /><span class="gensmall">[ <a href="{pm_report.U_PM_DETAILS}">{L_VIEW_DETAILS}</a> ]</span></td>
			<td class="row2" align="center" width="15%" nowrap="nowrap" valign="top"><span class="gen">{pm_report.PM_AUTHOR_FULL}</span></td>
			<td class="row1" align="center" width="15%" nowrap="nowrap" valign="top"><span class="gen">{pm_report.RECIPIENTS}</span></td>
			<td class="row2" align="center" width="10%" nowrap="nowrap" valign="top"><span class="gensmall">{pm_report.PM_TIME}</span></td>
			<td class="row1" align="center" width="15%" nowrap="nowrap" valign="top"><span class="gen">{pm_report.REPORTER_FULL}</span></td>
			<td class="row2" align="center" width="10%" nowrap="nowrap" valign="top"><span class="gensmall">{pm_report.REPORT_TIME}</span></td>
		</tr>
	<!-- BEGINELSE -->
		<tr>
			<td class="row1" colspan="6" align="center"><span class="gen">{L_PM_REPORTS_ZERO_TOTAL}</span></td>
		</tr>
	<!-- END pm_report -->
	<!-- IF S_HAS_PM_REPORTS -->
		<tr>
			<td class="row3" colspan="6"><span class="gensmall">{L_PM_REPORTS_TOTAL}</span></td>
		</tr>
	<!-- ENDIF -->
	</table>
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c"></div></div></div>
	<br clear="all" /><br />
<!-- ENDIF -->

<!-- IF S_SHOW_LOGS -->
<div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><div class="c-h-title"><h4>{L_LATEST_LOGS}</h4></div></div></div></div>
	<table class="tablebg" width="100%" cellspacing="0" cellpadding="4" border="0" align="{S_CONTENT_FLOW_END}">
	
	<tr>
		<th width="15%" nowrap="nowrap">{L_USERNAME}</th>
		<th width="12%" nowrap="nowrap">{L_IP}</th>
		<th width="45%" nowrap="nowrap">{L_ACTION}</th>
		<th nowrap="nowrap"></th>
		<th width="18%" nowrap="nowrap">{L_TIME}</th>
	</tr>
	<!-- BEGIN log -->
		<tr>
			<td class="row1" nowrap="nowrap"><span class="gen">{log.USERNAME}</span></td>
			<td class="row1" align="center" nowrap="nowrap"><span class="gen">{log.IP}</span></td>
			<td class="row1"><span class="genmed">{log.ACTION}</span></td>
			<td class="row1" align="center" nowrap="nowrap"><span class="gensmall"><!-- IF log.U_VIEW_TOPIC --><a href="{log.U_VIEW_TOPIC}">{L_VIEW_TOPIC}</a><!-- IF log.U_VIEWLOGS --> | <!-- ENDIF --><!-- ENDIF --><!-- IF log.U_VIEWLOGS --><a href="{log.U_VIEWLOGS}">{L_VIEW_TOPIC_LOGS}</a><!-- ENDIF --></span></td>
			<td class="row1" align="center" nowrap="nowrap"><span class="gensmall">{log.TIME}</span></td>
		</tr>
			
	<!-- BEGINELSE -->
		<tr>
			<td class="row1" colspan="5" align="center"><span class="gen">{L_NO_ENTRIES}</span></td>
		</tr>
			
	<!-- END log -->

	</table>

	<br clear="all" />
<!-- ENDIF -->
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c"></div></div></div>
<!-- INCLUDE mcp_footer.html -->