<!-- INCLUDE mcp_header.html -->

<form method="post" name="mcp" action="{U_POST_ACTION}">

<table class="tablebg" width="100%" cellspacing="0" border="0" align="center">
<tr>
	<th colspan="2"align="center">{L_SELECT_USER}</th>
</tr>
<tr>
	<td class="row1" width="40%"><b class="gen">{L_FIND_USERNAME}: </b><br />
	
	<div class="buttonwrapper">
<a class="ovalbutton" href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;"><span>{L_FIND_USERNAME}</span></a>
</div>


</td>
	<td class="row2"><input type="text" class="post" name="username" size="20" /></td>
</tr>
<tr>
	<td class="cat" colspan="2" align="center"><input type="submit" name="submituser" value="{L_SUBMIT}" class="btnmain" /></td>
</tr>
</table>
{S_FORM_TOKEN}
</form>
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c"></div></div></div>
<br clear="all" /><br />
<div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><div class="c-h-title"><h4>{L_MOST_WARNINGS}</h4></div></div></div></div>
<table class="tablebg" width="100%" cellspacing="0">

<tr>
	<th>&nbsp;{L_USERNAME}&nbsp;</th>
	<th>&nbsp;{L_WARNINGS}&nbsp;</th>
	<th>&nbsp;{L_LATEST_WARNING_TIME}&nbsp;</th>
	<th>&nbsp;</th>
</tr>
<!-- BEGIN highest -->
	<tr>
		<td class="row1" width="15%"><span class="gen">{highest.USERNAME_FULL}</span></td>
		<td class="row2" width="15%"><span class="gen">{highest.WARNINGS}</span></td>
		<td class="row1" width="15%"><span class="gen">{highest.WARNING_TIME}</span></td>
		<td class="row2" width="15%">
		
		
		<div class="buttonwrapper">
<a class="ovalbutton" href="{highest.U_NOTES}" ><span>{L_VIEW_NOTES}</span></a>
</div>


		</td>
	</tr>
<!-- BEGINELSE -->
	<tr>
		<td class="row1" colspan="4" align="center"><span class="gen">{L_WARNINGS_ZERO_TOTAL}</span></td>
	</tr>
<!-- END highest -->
</table>
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c"></div></div></div>
<br clear="all" /><br />
<div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><div class="c-h-title"><h4>{L_LATEST_WARNINGS}</h4></div></div></div></div>
<table class="tablebg" width="100%" cellspacing="0">

<tr>
	<th>&nbsp;{L_USERNAME}&nbsp;</th>
	<th>&nbsp;{L_TIME}&nbsp;</th>
	<th>&nbsp;{L_TOTAL_WARNINGS}&nbsp;</th>
	<th>&nbsp;</th>
</tr>
<!-- BEGIN latest -->
	<tr>
		<td class="row1" width="15%"><span class="gen">{latest.USERNAME_FULL}</span></td>
		<td class="row2" width="15%"><span class="gen">{latest.WARNING_TIME}</span></td>
		<td class="row1" width="15%"><span class="gen">{latest.WARNINGS}</span></td>
		<td class="row2" width="15%">
		
		<div class="buttonwrapper">
<a class="ovalbutton" href="{latest.U_NOTES}" ><span>{L_VIEW_NOTES}</span></a>
</div>


		
		</td>
	</tr>
<!-- BEGINELSE -->
	<tr>
		<td class="row1" colspan="4" align="center"><span class="gen">{L_WARNINGS_ZERO_TOTAL}</span></td>
	</tr>
<!-- END latest -->
</table>
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c"></div></div></div>
<br clear="all" /><br />

<!-- INCLUDE mcp_footer.html -->