<!-- INCLUDE mcp_header.html -->

<table width="100%" cellpadding="3" cellspacing="0" border="0" class="tablebg_rl">
<tr>
	<th colspan="2" align="center">{USERNAME}</th>
</tr>
<tr> 
	<td class="row1" align="center">
		<table cellspacing="0" cellpadding="2" border="0">
		<tr>
			<td class="gen" align="center"><b>{USERNAME_FULL}</b></td>
		</tr>
		<!-- IF RANK_TITLE -->
			<tr>
				<td class="postdetails" align="center">{RANK_TITLE}</td>
			</tr>
		<!-- ENDIF -->
		<!-- IF RANK_IMG -->
			<tr>
				<td align="center">{RANK_IMG}</td>
			</tr>
		<!-- ENDIF -->
		<tr>
			<td align="center"><!-- IF AVATAR_IMG -->{AVATAR_IMG}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF --></td>
		</tr>
		</table>
	</td>
	<td class="row1">
		<table width="100%" cellspacing="0" cellpadding="2" border="0">
		<tr> 
			<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_JOINED}: </td>
			<td width="100%"><b class="gen">{JOINED}</b></td>
		</tr>
		<tr> 
			<td class="gen" align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_TOTAL_POSTS}: </td>
			<td><b class="gen">{POSTS}</b></td>
		</tr>
		<tr> 
			<td class="gen" align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_WARNINGS}: </td>
			<td><b class="gen">{WARNINGS}</b></td>
		</tr>
		</table>
	</td>
</tr>
</table>



<form method="post" name="mcp" action="{U_POST_ACTION}">

<table width="100%" cellpadding="3" cellspacing="0" border="0" class="tablebg">
<tr>
	<th align="center">{L_ADD_WARNING}</th>
</tr>
<tr>
	<td class="row3" align="center"><span class="genmed">{L_ADD_WARNING_EXPLAIN}</span></td>
</tr>
<tr>
	<td class="row1" align="center"><textarea name="warning" rows="10" cols="76"></textarea></td>
</tr>
<!-- IF S_CAN_NOTIFY -->
<tr>
	<td class="row1" align="center"><input type="checkbox" class="radio" name="notify_user" checked="checked" /><span class="genmed">{L_NOTIFY_USER_WARN}</span></td>
</tr>
<!-- ENDIF -->
<tr>
	<td class="cat" align="center"><input class="btnmain" type="submit" name="action[add_warning]" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" /></td>
</tr>
</table>
{S_FORM_TOKEN}
</form>
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c"></div></div></div>
<br clear="all" /><br />

<!-- INCLUDE mcp_footer.html -->