<!-- INCLUDE overall_header.html -->
<div><div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><div class="c-h-title"><h4><!-- IF S_REPORT_POST -->{L_REPORT_POST}<!-- ELSE -->{L_REPORT_MESSAGE}<!-- ENDIF --></h4></div></div></div></div>
<form method="post" id="report" action="{S_REPORT_ACTION}">

<table class="tablebg_trbl" width="100%" cellspacing="0">


<tr class="row1">
<td colspan="2">
<table class="tablebg_desc" width="100%" cellspacing="0">



<tr class="row1">
<td colspan="4">
<table class="tablebg_desc" width="100%" cellspacing="0">

<tr>
	<td class="row_desc" ><span class="genmed"><!-- IF S_REPORT_POST -->{L_REPORT_POST_EXPLAIN}<!-- ELSE -->{L_REPORT_MESSAGE_EXPLAIN}<!-- ENDIF --></span></td>

	</tr>

</table>
</tr>





</table>
</tr>
<tr>
	<td class="row1" width="22%"><b class="gen">{L_REASON}:</b></td>
	<td class="row2" width="78%"><select name="reason_id">
		<!-- BEGIN reason --><option value="{reason.ID}"<!-- IF reason.S_SELECTED --> selected="selected"<!-- ENDIF -->>{reason.TITLE} &raquo; {reason.DESCRIPTION}</option><!-- END reason -->
	</select></td>
</tr>
<!-- IF S_CAN_NOTIFY -->
	<tr>
		<td class="row1"><span class="gen"><b>{L_REPORT_NOTIFY}:</b></span><br /><span class="gensmall">{L_REPORT_NOTIFY_EXPLAIN}</span></td>
		<td class="row2"><span class="gen"><input type="radio" class="radio" name="notify" value="1"<!-- IF S_NOTIFY --> checked="checked"<!-- ENDIF --> />&nbsp; {L_YES} &nbsp;<input type="radio" class="radio" name="notify" value="0"<!-- IF not S_NOTIFY --> checked="checked"<!-- ENDIF --> />&nbsp; {L_NO}</span></td>
	</tr>
<!-- ENDIF -->
<tr>
	<td class="row1" valign="top"><span class="gen"><b>{L_MORE_INFO}:</b></span><br /><span class="gensmall">{L_CAN_LEAVE_BLANK}</span></td>
	<td class="row2"><textarea class="post" name="report_text" rows="10" cols="50">{REPORT_TEXT}</textarea></td>
</tr>
<tr>
	<td class="cat" colspan="2" align="center"><input type="submit" name="submit" class="btnmain" value="{L_SUBMIT}" />&nbsp;<input type="submit" name="cancel" class="btnlite" value="{L_CANCEL}" /></td>
</tr>
</table>
{S_FORM_TOKEN}
</form>
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c">&nbsp;</div></div></div>
<br clear="all" />



<div style="float: {S_CONTENT_FLOW_END};"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->