﻿</div>

<!--
    We request you retain the full copyright notice below including the link to www.phpbb.com.
    This not only gives respect to the large amount of time given freely by the developers
    but also helps build interest, traffic and use of phpBB3. If you (honestly) cannot retain
    the full copyright we ask you at least leave in place the "Powered by phpBB" line, with
    "phpBB" linked to www.phpbb.com. If you refuse to include even this then support on our
    forums may be affected.

    The phpBB Group : 2006
//-->

<div id="wrapfooter">
    <span class="copyright">
        Форумы поисково-исторического &copy; <a href="/portal.php{SID}">клуба СКИТАЛЕЦ</a> 2014
    </span>
</div>

</body>
</html>