
	<!-- IF not S_PRIVMSGS or S_SHOW_DRAFTS -->	{S_FORM_TOKEN}</form><!-- ENDIF --></td>
</tr>
</table>
<!-- IF (S_SHOW_PM_BOX or S_EDIT_POST) and S_POST_ACTION -->{S_FORM_TOKEN}</form><!-- ENDIF -->

<br clear="all" />



<div align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->