<!-- INCLUDE ucp_header.html -->

<table class="tablebg" width="100%" cellspacing="0">
<tr>
	<th colspan="4">{L_TITLE}</th>
</tr>
<tr class="row1">
<td colspan="4">
<table class="tablebg_desc" width="100%" cellspacing="0">

<tr>
	<td class="row4" ><span class="genmed">{L_BOOKMARKS_EXPLAIN}</span></td>

	</tr>

</table>
</td>
</tr>

<!-- IF .topicrow -->

<tr>
	<th colspan="4">{L_BOOKMARKS}</th>
</tr>
<!-- ENDIF -->

<!-- IF S_NO_DISPLAY_BOOKMARKS -->
	<tr class="row1">
		<td colspan="4" align="center"><b class="genmed">{L_BOOKMARKS_DISABLED}</b></td>
	</tr>
<!-- ELSE -->

	<!-- IF TOTAL_TOPICS -->
	
	<tr class="row1">
<td colspan="4">
<table class="tablebg_desc" width="100%" cellspacing="0">

<tr>
	<td class="row5" >
	<table width="100%" cellspacing="0">
				<tr>
					<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
					<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_TOPICS} ]&nbsp;</td>
					<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
				</tr>
				</table>

	</tr>

</table>
</tr>



		
	<!-- ENDIF -->

	<!-- BEGIN topicrow -->

		<!-- IF topicrow.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td style="padding: 4px;" width="20" align="center" valign="middle">{topicrow.TOPIC_FOLDER_IMG}</td>
		<!-- IF topicrow.S_DELETED_TOPIC -->
			<td class="postdetails" style="padding: 4px" width="100%" colspan="2">{L_DELETED_TOPIC}</td>
		<!-- ELSE -->
			<td style="padding: 4px;" width="100%" valign="top">
				<p class="topictitle"><!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF -->{topicrow.ATTACH_ICON_IMG} <a href="{topicrow.U_VIEW_TOPIC}">{topicrow.TOPIC_TITLE}</a></p>
				<!-- IF topicrow.S_GLOBAL_TOPIC --><span class="gensmall">{L_GLOBAL_ANNOUNCEMENT}</span><!-- ELSE --><span class="gensmall"><b>{L_FORUM}: </b><a href="{topicrow.U_VIEW_FORUM}">{topicrow.FORUM_NAME}</a></span><!-- ENDIF -->
				<!-- IF topicrow.PAGINATION -->
					<p class="gensmall"> [ {GOTO_PAGE_IMG}{L_GOTO_PAGE}: {topicrow.PAGINATION} ] </p>
				<!-- ENDIF -->
			</td>
			<td style="padding: 4px;" align="{S_CONTENT_FLOW_BEGIN}" valign="top" nowrap="nowrap">
				<p class="topicdetails">{topicrow.LAST_POST_TIME}</p>
				<p class="topicdetails">{topicrow.LAST_POST_AUTHOR_FULL}
					<a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a>
				</p>
			</td>
		<!-- ENDIF -->
			<td style="padding: 4px;"> <input type="checkbox" class="radio" name="t[{topicrow.TOPIC_ID}]" /> </td>
		</tr>
	<!-- BEGINELSE -->
		<tr class="row1">
			<td colspan="4" align="center"><b class="genmed">{L_NO_BOOKMARKS}</b></td>
		</tr>
	<!-- END topicrow -->

		<!-- IF .topicrow -->
			<tr>
				<td class="cat" colspan="5" align="{S_CONTENT_FLOW_END}"><input class="btnlite" type="submit" name="unbookmark" value="{L_REMOVE_BOOKMARK_MARKED}" />&nbsp;</td>
			</tr>
		<!-- ENDIF -->
	<!-- ENDIF -->
</table>
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c">&nbsp;</div></div></div>
<!-- IF not S_NO_DISPLAY_BOOKMARKS and .topicrow -->
	<div class="gensmall" style="float: {S_CONTENT_FLOW_END}; padding-top: 2px;"><b><a href="#" onclick="marklist('ucp', 't', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('ucp', 't', false); return false;">{L_UNMARK_ALL}</a></b></div>
<!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->