<!-- INCLUDE overall_header.html -->

<!-- IF S_FORUM_RULES -->
	<div class="forumrules">
		<!-- IF U_FORUM_RULES -->
			<h3>{L_FORUM_RULES}</h3><br />
			<a href="{U_FORUM_RULES}"><b>{L_FORUM_RULES_LINK}</b></a>
		<!-- ELSE -->
			<h3>{L_FORUM_RULES}</h3><br />
			<div class="forumrules_main">{FORUM_RULES}</div>
		<!-- ENDIF -->
	</div>

	<br clear="all" />
	<br clear="all" />
<!-- ENDIF -->



<!-- IF SHOW_RIGHT_SIZE -->
<div id="page-stats" style="float: right; width: 14%;">
    <table class="tablebg" cellspacing="1" width="100%"><tbody><tr><th><span><img src="{IMAGE_SRC}" width="{IMAGE_WIDTH}" height="{IMAGE_HEIGHT}" alt="" />&nbsp;{TITLE_BIRTHDAYS}</span></th></tr></tbody></table>
    <table class="tablebg" cellspacing="1" width="100%">
        <tr class="row1">
            <td>
                <!-- IF BIRHDAYS_LIST -->
                <strong>{L_CONGRATULATIONS}:</strong><br />{BIRHDAYS_LIST}
                <!-- ELSE -->
                {L_NO_BIRTHDAYS}
                <!-- ENDIF -->
            </td>
        </tr>
        <!-- IF S_DISPLAY_BIRTHDAY_AHEAD_LIST -->
        <tr class="row1">
            <td>
                <strong>{L_BIRTHDAYS_AHEAD}:</strong>
                <br />
                <!-- IF BIRTHDAYS_AHEAD_LIST -->
                {BIRTHDAYS_AHEAD_LIST}
                <!-- ELSE -->
                {L_NO_BIRTHDAYS_AHEAD}
                <!-- ENDIF -->
            </td>
        </tr>
        <!-- ENDIF -->
    </table>

    <table class="tablebg" cellspacing="1" width="100%"><tbody><tr><th><span>{TITLE_STATISTICS}</span></th></tr></tbody></table>
    <table class="tablebg" cellspacing="1" width="100%">
        <tr class="row1">
            <td>
                <strong>{L_STATISTICS_ROW}:</strong><br />{ONLINE_LIST}
            </td>
        </tr>
    </table>

    <!-- IF ADS_12 -->
    <table class="tablebg" cellspacing="1" width="100%"><tbody><tr><th><span>{ADS_RIGHT_TITLE}</span></th></tr></tbody></table>
    <table class="tablebg" cellspacing="1" width="100%">
        <tr class="row1">
            <td>
                {ADS_12}
            </td>
        </tr>
    </table>
    <!-- ENDIF -->
</div>
<!-- ENDIF -->
<div id="pagecontent">
	<table width="100%" cellspacing="0">
	<tr>
		<td align="{S_CONTENT_FLOW_BEGIN}" style="padding-left:0px;padding-bottom:0px" nowrap="nowrap">
		<!-- IF not S_IS_BOT -->
			<!-- IF S_DISPLAY_POST_INFO --><a href="{U_POST_NEW_TOPIC}">{POST_IMG}</a>&nbsp;<!-- ENDIF -->
			<!-- IF S_DISPLAY_REPLY_INFO --><a href="{U_POST_REPLY_TOPIC}">{REPLY_IMG}</a><!-- ENDIF -->
		<!-- ENDIF -->
		</td>
		<!-- IF TOTAL_POSTS -->
			
			<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
		<!-- ENDIF -->
	</tr>
	</table>

	

	<div><div class="c-h-l"><div class="c-h-r"><div class="c-h-c">
		
		<table width="100%" cellpadding="0" cellspacing="0">
				<tr class="nav">
					<td align="left" style="padding-bottom:8px;"><h4><a class="c-h-link" href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a></h4></td>
					<td align="right"><h4><a class="optionsbutton" href="default2.htm" onclick="return dropdownmenu(this, event, menu_topic_menu, '200px')">{L_TOPIC} {L_OPTIONS}</a></h4></td>

				</tr>
		</table></div></div></div>
<!-- IF S_HAS_POLL -->	
	<table class="tablebg_trl" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="row2" colspan="2" align="center"><br clear="all" />

			<form method="post" action="{S_POLL_ACTION}">

			<table cellspacing="0" cellpadding="4" border="0" align="center">
			<tr>
				<td align="center"><span class="gen"><b>{POLL_QUESTION}</b></span><br /><span class="gensmall">{L_POLL_LENGTH}</span></td>
			</tr>
			<tr>
				<td align="{S_CONTENT_FLOW_BEGIN}">
					<table cellspacing="0" cellpadding="2" border="0">
				<!-- BEGIN poll_option -->
					<tr>
					<!-- IF S_CAN_VOTE -->
						<td>
							<!-- IF S_IS_MULTI_CHOICE -->
								<input type="checkbox" class="radio" name="vote_id[]" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> />
							<!-- ELSE -->
								<input type="radio" class="radio" name="vote_id[]" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> />
							<!-- ENDIF -->
						</td>
					<!-- ENDIF -->
						<td><span class="gen">{poll_option.POLL_OPTION_CAPTION}</span></td>
						<!-- IF S_DISPLAY_RESULTS -->
							<td dir="ltr">{POLL_LEFT_CAP_IMG}{poll_option.POLL_OPTION_IMG}{POLL_RIGHT_CAP_IMG}</td>
							<td class="gen" align="{S_CONTENT_FLOW_END}"><b>&nbsp;{poll_option.POLL_OPTION_PERCENT}&nbsp;</b></td>
							<td class="gen" align="center">[ {poll_option.POLL_OPTION_RESULT} ]</td>
							<!-- IF poll_option.POLL_OPTION_VOTED -->
								<td class="gensmall" valign="top"><b title="{L_POLL_VOTED_OPTION}">x</b></td>
							<!-- ENDIF -->
						<!-- ENDIF -->
					</tr>
				<!-- END poll_option -->
					</table>
				</td>
			</tr>
		<!-- IF S_CAN_VOTE -->
			<tr>
				<td align="center"><span class="gensmall">{L_MAX_VOTES}</span><br /><br /><input type="submit" name="update" value="{L_SUBMIT_VOTE}" class="btnlite" /></td>
			</tr>
		<!-- ENDIF -->
		<!-- IF S_DISPLAY_RESULTS -->
			<tr>
				<td class="gensmall" colspan="4" align="center"><b>{L_TOTAL_VOTES} : {TOTAL_VOTES}</b></td>
			</tr>
		<!-- ELSE -->
			<tr>
				<td align="center"><span class="gensmall"><b><a href="{U_VIEW_RESULTS}">{L_VIEW_RESULTS}</a></b></span></td>
			</tr>
		<!-- ENDIF -->
			</table>
			{S_HIDDEN_FIELDS}
			{S_FORM_TOKEN}
			</form>
			
		</td>
	</tr>
	</table>
<!-- ENDIF -->

<!-- BEGIN postrow -->
	<table class="tablebg" width="100%" cellspacing="0">
	<!-- IF postrow.S_FIRST_ROW -->
		<tr>
			<th>{L_AUTHOR}</th>
			<th>{L_MESSAGE}</th>
		</tr>
	<!-- ENDIF -->
	<!-- IF postrow.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

	<!-- IF postrow.S_IGNORE_POST -->
			<td class="gensmall" colspan="2" height="25" align="center"><!-- IF postrow.S_FIRST_UNREAD --><a name="unread"></a><!-- ENDIF --><a name="p{postrow.POST_ID}"></a>{postrow.L_IGNORE_POST}</td>
	<!-- ELSE -->

			<td class="profile" align="center" valign="top" >
			
			<div style="cursor: pointer;" class="userbutton" onclick="return dropdownmenu(this, event, menu{postrow.POSTER_ID}, '190px')" >
			
			
			<span class="username">
			<!-- IF postrow.ONLINE_IMG -->
		
				{postrow.ONLINE_IMG}
		
			<!-- ENDIF -->
                <!-- IF postrow.S_FIRST_UNREAD -->
				   <a name="unread"></a>
				<!-- ENDIF -->
				<a name="p{postrow.POST_ID}"></a><b class="postauthor">
				
				     <!-- IF not postrow.U_POST_AUTHOR -->
					    {postrow.POST_AUTHOR}
					 <!-- ELSE -->
					    <a  href="{postrow.U_POST_AUTHOR}" 
					 <!-- IF postrow.POST_AUTHOR_COLOUR -->
    					 style="color: {postrow.POST_AUTHOR_COLOUR};vertical-align:top" 
					 <!-- ENDIF -->>{postrow.POST_AUTHOR}</a>
			         <!-- ENDIF --></b>
			</span>
			</div>
			
			
			
			</td>
			<td width="100%" height="25">
				<table width="100%" cellspacing="0">
				<tr>
					<!-- IF postrow.POST_ICON_IMG -->
						<td><img src="{T_ICONS_PATH}{postrow.POST_ICON_IMG}" width="{postrow.POST_ICON_IMG_WIDTH}" height="{postrow.POST_ICON_IMG_HEIGHT}" alt="" title="" /></td>
					<!-- ENDIF -->
					<td class="gensmall" width="100%"><div style="float: {S_CONTENT_FLOW_BEGIN};">&nbsp;<b>{L_POST_SUBJECT}:</b> <a href="#p{postrow.POST_ID}"> {postrow.POST_SUBJECT}</a>	</div><div style="float: {S_CONTENT_FLOW_END};"><!-- IF S_IS_BOT -->{postrow.MINI_POST_IMG}<!-- ELSE --><a href="{postrow.U_MINI_POST}">{postrow.MINI_POST_IMG}</a><!-- ENDIF --><b>{L_POSTED}:</b> {postrow.POST_DATE}<!-- IF postrow.U_INFO -->&nbsp;&nbsp;|&nbsp; <a href="{postrow.U_INFO}">Post Details</a> &nbsp;<!-- ENDIF --></div></td>
				</tr>
				<tr>
					<td  colspan="2" class="gensmall" width="100%">				
						&nbsp;&nbsp;
					</td>	
				</tr>
				<tr>
				
				<!-- IF postrow.POST_ICON_IMG -->
				<td><hr style="background-color:#aaaaaa" /></td>
                <!-- ENDIF -->
				<td><hr style="background-color:#aaaaaa" /></td>
				</tr>
				
				</table>
				
			</td>
		</tr>
		
		<!-- IF postrow.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

			<td valign="top" class="profile">
				<table cellspacing="4" align="center" width="180">
			
			
			
			    <!-- IF postrow.POSTER_AVATAR -->
                <tr>
                   <td align="center">{postrow.POSTER_AVATAR}</td>
                </tr>
				<!-- ELSE -->
				<tr>
                   <td align="center"><img src="{T_THEME_PATH}/images/no_avatar.png" alt="" /></td>
                </tr>
				<!-- ENDIF -->
				<!-- IF not (postrow.ONLINE_IMG or postrow.RANK_TITLE or postrow.RANK_IMG or postrow.POSTER_AVATAR) -->
				<tr>
					<td></td>
				</tr>
				<!-- ENDIF -->
			
			
			<!-- IF postrow.RANK_TITLE -->
				<tr>
					<td class="postdetails" align="center">{postrow.RANK_TITLE}</td>
				</tr>
			<!-- ENDIF -->
			<!-- IF postrow.RANK_IMG -->
				<tr>
					<td align="center">{postrow.RANK_IMG}</td>
				</tr>
			<!-- ENDIF -->
			
				</table>

				<span class="postdetails">
                    <b>{L_USER_ID}:</b> #{postrow.POSTER_ID}
					<!-- IF postrow.POSTER_JOINED --><br /><b>{L_JOINED}:</b> {postrow.POSTER_JOINED}<!-- ENDIF -->
					<!-- IF postrow.POSTER_POSTS != '' --><br /><b>{L_POSTS}:</b> {postrow.POSTER_POSTS}<!-- ENDIF -->
					<!-- IF postrow.POSTER_FROM --><br /><b>{L_LOCATION}:</b> {postrow.POSTER_FROM}<!-- ENDIF -->
                    
                    <!-- BEGIN custom_fields -->
                    <br /><b>{postrow.custom_fields.PROFILE_FIELD_NAME}:</b> {postrow.custom_fields.PROFILE_FIELD_VALUE}
                    <!-- END custom_fields -->

                    <!-- IF postrow.S_PROFILE_FIELD1 -->
                    <!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
                    <br /><b>{postrow.PROFILE_FIELD1_NAME}:</b> {postrow.PROFILE_FIELD1_VALUE}
                    <!-- ENDIF -->

                    <!-- BEGIN medal -->
                    <!-- IF postrow.medal.S_HAS_MEDALS or postrow.medal.S_HAS_NOMINATIONS --><br/><b>{L_MEDALS}:</b> {postrow.medal.MEDALS_COUNT}{postrow.medal.MEDALS_NOMINATED}<!-- ENDIF -->
                    <!-- BEGIN medal_row -->
                    <br/>
                        <!-- BEGIN medal_col -->
                        <img src="{postrow.medal.medal_row.medal_col.MEDAL_IMAGE}" border="0" alt="{postrow.medal.medal_row.medal_col.MEDAL_NAME} {postrow.medal.medal_row.medal_col.MEDAL_COUNT}" title="{postrow.medal.medal_row.medal_col.MEDAL_NAME} {postrow.medal.medal_row.medal_col.MEDAL_COUNT}" {postrow.medal.medal_row.medal_col.medal_width} {postrow.medal.medal_row.medal_col.medal_height} />
                        <!-- END medal_col -->
                    <!-- END medal_row -->
                    <!-- END medal -->

					

                   

                    <!-- begin mod: User reputation points -->
                    <!-- IF S_REPUTATION and postrow.S_USER_REPUTATION -->
                    <!-- IF S_REP_DISPLAY neq 'block' --><dd>
                        <strong>{L_RP_TOTAL_POINTS}:</strong> {postrow.REPUTATION_TEXT}<!-- ENDIF -->
                        <!-- IF S_REP_DISPLAY neq 'text'  -->
                    <dd><!-- IF postrow.U_VIEW_REP --><a href="{postrow.U_VIEW_REP}" onclick="popup(this.href, 780, 550); return false;"><!-- ENDIF -->{postrow.REPUTATION_BLOCK}<!-- IF postrow.U_VIEW_REP --></a><!-- ENDIF --></dd><!-- ENDIF -->
                    <!-- IF postrow.S_GIVE_REPUTATION --><dd><a href="{postrow.U_ADD_POS}"><img src="{T_IMAGES_PATH}reputation/add.png" title="{L_RP_ADD_POINTS} {postrow.POST_AUTHOR}" alt="{L_RP_ADD_POINTS} {postrow.POST_AUTHOR}" /></a><!-- IF postrow.S_GIVE_NEGATIVE--><a href="{postrow.U_ADD_NEG}"><img src="{T_IMAGES_PATH}reputation/subtract.png" title="{L_RP_SUBTRACT_POINTS} {postrow.POST_AUTHOR}" alt="{L_RP_SUBTRACT_POINTS} {postrow.POST_AUTHOR}" /></a><!-- ENDIF --></dd><!-- ENDIF -->
                    <!-- ENDIF -->
                    <!-- end mod: User reputation points -->

					
				</span>

			</td>
			<td valign="top">
				<table width="100%" cellspacing="5">
				<tr>
					<td>
					<!-- IF postrow.S_POST_UNAPPROVED or postrow.S_POST_REPORTED -->
						<table width="100%" cellspacing="0">
						<tr>
							<td class="gensmall"><!-- IF postrow.S_POST_UNAPPROVED --><span class="postapprove">{UNAPPROVED_IMG} <a href="{postrow.U_MCP_APPROVE}">{L_POST_UNAPPROVED}</a></span><br /> <!-- ENDIF --> <!-- IF postrow.S_POST_REPORTED --><span class="postreported">{REPORTED_IMG} <a href="{postrow.U_MCP_REPORT}">{L_POST_REPORTED}</a></span><!-- ENDIF --></td>
						</tr>
						</table>

						<br clear="all" />
					<!-- ENDIF -->

						<div class="postbody"  id="postdiv{postrow.POST_ID}">{postrow.MESSAGE}</div>

					<!-- IF postrow.S_HAS_ATTACHMENTS -->
						<br clear="all" /><br />

						<table class="tablebg_trbl" width="100%" cellspacing="0">
						<tr>
							<td class="row3"><b class="genmed">{L_ATTACHMENTS}: </b></td>
						</tr>
						<!-- BEGIN attachment -->
							<tr>
								<!-- IF postrow.attachment.S_ROW_COUNT is even --><td class="row2"><!-- ELSE --><td class="row1"><!-- ENDIF -->{postrow.attachment.DISPLAY_ATTACHMENT}</td>
							</tr>
						<!-- END attachment -->
						</table>
					<!-- ENDIF -->

					<!-- IF postrow.S_DISPLAY_NOTICE -->
						<span class="gensmall error"><br /><br />{L_DOWNLOAD_NOTICE}</span>
					<!-- ENDIF -->
					<!-- IF postrow.SIGNATURE -->
						<span class="postbody"><br />_________________<br />{postrow.SIGNATURE}</span>
					<!-- ENDIF -->

					<!-- IF postrow.EDITED_MESSAGE or postrow.EDIT_REASON -->
						<!-- IF postrow.EDIT_REASON -->
							<br /><br />
							<table class="tablebg" width="100%" cellspacing="0">
							<tr>
								<td class="row3"><span class="gensmall">{postrow.EDITED_MESSAGE}</span></td>
							</tr>
							<tr>
								<td class="row2"><span class="genmed">{postrow.EDIT_REASON}</span></td>
							</tr>
							</table>
						<!-- ELSE -->
							<br /><br />
							<span class="gensmall">{postrow.EDITED_MESSAGE}</span>
						<!-- ENDIF -->
					<!-- ENDIF -->

					<!-- IF postrow.BUMPED_MESSAGE -->
						<span class="gensmall"><br /><br />{postrow.BUMPED_MESSAGE}</span>
					<!-- ENDIF -->

					<!-- IF not postrow.S_HAS_ATTACHMENTS --><br clear="all" /><br /><!-- ENDIF -->

						
					</td>
				</tr>
				</table>
			</td>
		</tr>

		<!-- IF postrow.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

			<td class="profile_b" align="center">
			<div class="gensmall" style="float: {S_CONTENT_FLOW_BEGIN};">
			<strong>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#wrapheader" style="align:center"><img src="{T_THEME_PATH}/images/top.png" alt="{L_BACK_TO_TOP}"/></a>&nbsp;&nbsp;
			</strong>
			</div>
			<div class="gensmall" style="float: {S_CONTENT_FLOW_BEGIN};">
			<!-- IF not S_IS_BOT -->
				<!-- IF postrow.U_REPORT --><a href="{postrow.U_REPORT}" style="align:center">{REPORT_IMG}</a>&nbsp;&nbsp; <!-- ENDIF --> 
			<!-- ENDIF -->
			</div>
			</td>
			<td class="profile_b">
			
			<div class="gensmall" style="float: {S_CONTENT_FLOW_END};">
			<!-- IF not S_IS_BOT -->
			<!-- IF postrow.U_DELETE --><a href="{postrow.U_DELETE}">{DELETE_IMG}</a> <!-- ENDIF -->
			<!-- IF postrow.U_EDIT -->
			
			<a href="{postrow.U_EDIT}">{EDIT_IMG}</a> 
			<!-- ENDIF --> 
			<!-- IF postrow.U_QUOTE --><a href="{postrow.U_QUOTE}">{QUOTE_IMG}</a> <!-- ENDIF --> 
			<!-- ENDIF -->&nbsp;
			</div>
			</td>
		

	<!-- ENDIF -->
	</tr>
	<tr>
		<td class="spacer" colspan="2" height="3"><img src="images/spacer.gif" alt="" width="1" height="7" /></td>
	</tr>
	</table>
<!-- END postrow -->
<!-- IF not S_IS_BOT -->

	<table width="100%" class="tablebg" cellspacing="0" cellpadding="0">
	<tr class="cat" align="center">
		<!-- IF S_DISPLAY_SEARCHBOX -->
		<td width="50%" align="left">
		<!-- INCLUDE searchbox.html -->
		</td>
		<!-- ENDIF -->
		<!-- IF S_TOPIC_MOD -->
		<td width="50%" align="right"><form method="post" action="{S_MOD_ACTION}"><span class="gensmall">{L_QUICK_MOD}:</span> {S_TOPIC_MOD} <input class="btnlite" type="submit" value="{L_GO}" /></form>
	    
		</td>
		<!-- ENDIF -->
	</tr>
	</table>
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c">&nbsp;</div></div></div>
	<table width="100%" cellspacing="0">
	<tr>
		<td align="{S_CONTENT_FLOW_BEGIN}" style="padding-left:0px;padding-top:5px" nowrap="nowrap">
		<!-- IF not S_IS_BOT -->
			<!-- IF S_DISPLAY_POST_INFO --><a href="{U_POST_NEW_TOPIC}">{POST_IMG}</a>&nbsp;<!-- ENDIF -->
			<!-- IF S_DISPLAY_REPLY_INFO --><a href="{U_POST_REPLY_TOPIC}">{REPLY_IMG}</a>
<!-- ENDIF -->
			
		<!-- ENDIF -->
		</td>
		<!-- IF TOTAL_POSTS -->
			
			<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
		<!-- ENDIF -->
	</tr>
	</table>


<br />

</div>

</div>
<div id="pagefooter"></div>

<br clear="all" />

<!-- IF S_QUICK_REPLY -->
<!-- INCLUDE quickreply_editor.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="0">
	<tr>
			<td class="cat_online"><h4><font color="#ffffff">{L_WHO_IS_ONLINE}</font></h4></td>
	</tr>
	<tr>
		<td class="row1_t" ><p class="gensmall">{LOGGED_IN_USER_LIST}</p></td>
	</tr>
	</table>
<!-- ENDIF -->
<br clear="all" />
<table class="tablebg_trbl" width="100%" cellspacing="0">
	<tr>
		<td class="row1">
<table width="100%" cellspacing="0">
<tr>
	<td width="40%" valign="top" nowrap="nowrap" align="{S_CONTENT_FLOW_BEGIN}"><form name="viewtopic" method="post" action="{S_TOPIC_ACTION}"><span class="gensmall">{L_DISPLAY_POSTS}:</span> {S_SELECT_SORT_DAYS}&nbsp;<span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" value="{L_GO}" name="sort" /></form></td>
	
	<td align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></td>
</tr>
</table>
</td>
</tr>
</table>
<!-- ENDIF -->
<br clear="all" />


<table class="tablebg_trbl" width="100%" cellspacing="0">
	<tr>
		<td class="row1">
<table width="100%" cellspacing="1">
<tr>
	<td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><span class="gensmall"><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></span></td>
</tr>
</table>
</td>
</tr>
</table>


<!-- INCLUDE overall_footer.html -->