<!-- INCLUDE overall_header.html -->

<!-- IF S_FORUM_RULES -->
	<div class="forumrules">
		<!-- IF U_FORUM_RULES -->
			<h3>{L_FORUM_RULES}</h3><br />
			<a href="{U_FORUM_RULES}"><b>{L_FORUM_RULES_LINK}</b></a>
		<!-- ELSE -->
			<h3>{L_FORUM_RULES}</h3><br />
			<div class="forumrules_main">{FORUM_RULES}</div>
		<!-- ENDIF -->
	</div>

	<br clear="all" />
	<br clear="all" />
<!-- ENDIF -->

<!-- IF SHOW_RIGHT_SIZE -->
<div id="page-stats" style="float: right; width: 14%;">
    <table class="tablebg" cellspacing="1" width="100%"><tbody><tr><th><span><img src="{IMAGE_SRC}" width="{IMAGE_WIDTH}" height="{IMAGE_HEIGHT}" alt="" />&nbsp;{TITLE_BIRTHDAYS}</span></th></tr></tbody></table>
    <table class="tablebg" cellspacing="1" width="100%">
        <tr class="row1">
            <td>
                <!-- IF BIRHDAYS_LIST -->
                <strong>{L_CONGRATULATIONS}:</strong><br />{BIRHDAYS_LIST}
                <!-- ELSE -->
                {L_NO_BIRTHDAYS}
                <!-- ENDIF -->
            </td>
        </tr>
        <!-- IF S_DISPLAY_BIRTHDAY_AHEAD_LIST -->
        <tr class="row1">
            <td>
                <strong>{L_BIRTHDAYS_AHEAD}:</strong>
                <br />
                <!-- IF BIRTHDAYS_AHEAD_LIST -->
                {BIRTHDAYS_AHEAD_LIST}
                <!-- ELSE -->
                {L_NO_BIRTHDAYS_AHEAD}
                <!-- ENDIF -->
            </td>
        </tr>
        <!-- ENDIF -->
    </table>

    <table class="tablebg" cellspacing="1" width="100%"><tbody><tr><th><span>{TITLE_STATISTICS}</span></th></tr></tbody></table>
    <table class="tablebg" cellspacing="1" width="100%">
        <tr class="row1">
            <td>
                <strong>{L_STATISTICS_ROW}:</strong><br />{ONLINE_LIST}
            </td>
        </tr>
    </table>

    <!-- IF ADS_12 -->
    <table class="tablebg" cellspacing="1" width="100%"><tbody><tr><th><span>{ADS_RIGHT_TITLE}</span></th></tr></tbody></table>
    <table class="tablebg" cellspacing="1" width="100%">
        <tr class="row1">
            <td>
                {ADS_12}
            </td>
        </tr>
    </table>
    <!-- ENDIF -->
</div>
 <!-- ENDIF -->
<!-- IF S_DISPLAY_ACTIVE -->
<div>
    <div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><div class="c-h-title">{L_ACTIVE_TOPICS}</div></div></div></div>
    <table class="tablebg" width="100%" cellspacing="0">

        <tr>
            <!-- IF S_TOPIC_ICONS -->
            <th colspan="3">&nbsp;{L_TOPICS}&nbsp;</th>
            <!-- ELSE -->
            <th colspan="2">&nbsp;{L_TOPICS}&nbsp;</th>
            <!-- ENDIF -->
            <th>&nbsp;{L_AUTHOR}&nbsp;</th>
            <th>&nbsp;{L_REPLIES}&nbsp;</th>
            <th>&nbsp;{L_VIEWS}&nbsp;</th>
            <th>&nbsp;{L_LAST_POST}&nbsp;</th>
        </tr>
        <!-- BEGIN topicrow -->
        <tr>
            <td class="row1" width="25" align="center">{topicrow.TOPIC_FOLDER_IMG}</td>
            <!-- IF S_TOPIC_ICONS -->
            <td class="row1" width="25" align="center"><!-- IF topicrow.TOPIC_ICON_IMG --><img src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" width="{topicrow.TOPIC_ICON_IMG_WIDTH}" height="{topicrow.TOPIC_ICON_IMG_HEIGHT}" alt="" title="" /><!-- ENDIF --></td>
            <!-- ENDIF -->
            <td class="row1">
                <!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a><!-- ENDIF -->
                {topicrow.ATTACH_ICON_IMG} <!-- IF topicrow.S_HAS_POLL or topicrow.S_TOPIC_MOVED --><b>{topicrow.TOPIC_TYPE}</b> <!-- ENDIF --><a title="{L_POSTED}: {topicrow.FIRST_POST_TIME}" href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>

                <!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
                <a href="{topicrow.U_MCP_QUEUE}">{UNAPPROVED_IMG}</a>&nbsp;
                <!-- ENDIF -->
                <!-- IF topicrow.S_TOPIC_REPORTED -->
                <a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a>&nbsp;
                <!-- ENDIF -->
                <!-- IF topicrow.PAGINATION -->
                <p class="gensmall"> [ {GOTO_PAGE_IMG}{L_GOTO_PAGE}: {topicrow.PAGINATION} ] </p>
                <!-- ENDIF -->
            </td>
            <td class="row2" width="130" align="center"><p class="topicauthor">{topicrow.TOPIC_AUTHOR_FULL}</p></td>
            <td class="row1" width="50" align="center"><p class="topicdetails">{topicrow.REPLIES}</p></td>
            <td class="row2" width="50" align="center"><p class="topicdetails">{topicrow.VIEWS}</p></td>
            <td class="row1" width="140" align="center">
                <p class="topicdetails" style="white-space: nowrap;">{topicrow.LAST_POST_TIME}</p>
                <p class="topicdetails">
                    {topicrow.LAST_POST_AUTHOR_FULL}
                    <!-- IF not S_IS_BOT --><a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a><!-- ENDIF -->
                </p>
            </td>
        </tr>
        <!-- BEGINELSE -->
        <tr>
            <!-- IF S_TOPIC_ICONS -->
            <td class="row1" colspan="7" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
            <!-- ELSE -->
            <td class="row1" colspan="6" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
            <!-- ENDIF -->
        </tr>
        <!-- END topicrow -->
        <tr align="center">
            <td class="cat" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->">&nbsp;</td>
        </tr>
    </table>
    <div class="c-f-l"><div class="c-f-r"><div class="c-f-c">&nbsp;</div></div></div>
    <br clear="all" />
    <!-- ENDIF -->
    <!-- IF S_HAS_SUBFORUM -->
    <!-- INCLUDE forumlist_body.html -->
    <br clear="all" />
    <!-- ENDIF -->

    <div id="pagecontent">
        <!-- IF S_NO_READ_ACCESS -->
        <div>
            <div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><div class="c-h-title"></div></div></div></div>
            <table class="tablebg_trbl" width="100%" cellspacing="0">
                <tr>
                    <td class="row1" height="30" align="center" valign="middle"><span class="gen">{L_NO_READ_ACCESS}</span></td>
                </tr>
            </table>
            <div class="c-f-l"><div class="c-f-r"><div class="c-f-c">&nbsp;</div></div></div>
            <!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
            <br /><br />
            <div>
                <div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><div class="c-h-title"><h4><a class="c-h-link" href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></h4></div></div></div></div>
                <form method="post" action="{S_LOGIN_ACTION}">
                    <table class="tablebg_trbl" width="100%" cellspacing="0">

                        <tr>
                            <td class="row1" align="center"><span class="genmed">{L_USERNAME}:</span> <input class="post" type="text" name="username" size="10" />&nbsp; <span class="genmed">{L_PASSWORD}:</span> <input class="post" type="password" name="password" size="10" /><!-- IF S_AUTOLOGIN_ENABLED -->&nbsp; <span class="gensmall">{L_LOG_ME_IN}</span> <input type="checkbox" class="radio" name="autologin" /><!-- ENDIF -->&nbsp; <input type="submit" class="btnmain" name="login" value="{L_LOGIN}" /></td>
                        </tr>
                    </table>
                    {S_LOGIN_REDIRECT}

                </form>
                <div class="c-f-l"><div class="c-f-r"><div class="c-f-c">&nbsp;</div></div></div>
                <!-- ENDIF -->
                <br clear="all" />
                <!-- ENDIF -->
                <!-- IF S_DISPLAY_POST_INFO or TOTAL_TOPICS -->
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <!-- IF S_DISPLAY_POST_INFO and not S_IS_BOT -->
                        <td align="{S_CONTENT_FLOW_BEGIN}" style="padding-left:0px;padding-bottom:2px"><a href="{U_POST_NEW_TOPIC}">{POST_IMG}</a></td>
                        <!-- ENDIF -->
                        <!-- IF TOTAL_TOPICS -->

                        <td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>

                        <!-- ENDIF -->
                    </tr>
                </table>
                <!-- ENDIF -->
                <!-- IF not S_DISPLAY_ACTIVE and (S_IS_POSTABLE or .topicrow) -->
                <div class="c-h-l">
                    <div class="c-h-r">
                        <div class="c-h-c">

                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr class="nav2">
                                    <td align="left" style="padding-bottom:8px;"><h4><a class="c-h-link" href="{U_VIEW_FORUM}">{FORUM_NAME}</a></h4></td>
                                    <!-- IF not S_IS_BOT -->
                                    <!-- IF S_WATCH_FORUM_LINK or  U_MARK_TOPICS-->
                                    <td align="right"><h4><a class="optionsbutton" href="default2.htm" onclick="return dropdownmenu(this, event, menu_forum_menu, '160px')">{L_FORUM} {L_OPTIONS}</a></h4></td>
                                    <!-- ENDIF -->
                                    <!-- ENDIF -->
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <table class="tablebg" width="100%" cellspacing="0">

                    <tr>
                        <!-- IF S_TOPIC_ICONS -->
                        <th colspan="3">&nbsp;{L_TOPICS}&nbsp;</th>
                        <!-- ELSE -->
                        <th colspan="2">&nbsp;{L_TOPICS}&nbsp;</th>
                        <!-- ENDIF -->
                        <th>&nbsp;{L_AUTHOR}&nbsp;</th>
                        <th>&nbsp;{L_REPLIES}&nbsp;</th>
                        <th>&nbsp;{L_VIEWS}&nbsp;</th>
                        <th>&nbsp;{L_LAST_POST}&nbsp;</th>
                    </tr>
                    <!-- BEGIN topicrow -->
                    <!-- IF topicrow.S_TOPIC_TYPE_SWITCH eq 1 -->
                    <tr>
                        <td class="row_announcements_title" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->"><b class="gensmall">{L_ANNOUNCEMENTS}</b></td>
                    </tr>
                    <!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH eq 0 -->
                    <tr>
                        <td class="row_topics_title" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->"><b class="gensmall">{L_TOPICS}</b></td>
                    </tr>
                    <!-- ENDIF -->
                    <tr>
                        <td class="row1" width="25" align="center">{topicrow.TOPIC_FOLDER_IMG}</td>
                        <!-- IF S_TOPIC_ICONS -->
                        <td class="row1" width="25" align="center"><!-- IF topicrow.TOPIC_ICON_IMG --><img src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" width="{topicrow.TOPIC_ICON_IMG_WIDTH}" height="{topicrow.TOPIC_ICON_IMG_HEIGHT}" alt="" title="" /><!-- ENDIF --></td>
                        <!-- ENDIF -->
                        <td class="row1">
                            <!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a><!-- ENDIF -->
                            {topicrow.ATTACH_ICON_IMG} <!-- IF topicrow.S_HAS_POLL --><img src="{T_THEME_PATH}/images/poll.png" alt="" /> <!-- ENDIF --><a title="{L_POSTED}: {topicrow.FIRST_POST_TIME}" href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a><!-- IF topicrow.PAGINATION -->
                            &nbsp;&nbsp;<strong class="t_pagination"><span>{topicrow.PAGINATION}</span></strong>
                            <!-- ENDIF -->
                            <!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
                            <a href="{topicrow.U_MCP_QUEUE}">{topicrow.UNAPPROVED_IMG}</a>&nbsp;
                            <!-- ENDIF -->
                            <!-- IF topicrow.S_TOPIC_REPORTED -->
                            <a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a>&nbsp;
                            <!-- ENDIF -->

                        </td>
                        <td class="row2" width="130" align="center"><p class="topicauthor">{topicrow.TOPIC_AUTHOR_FULL}</p></td>
                        <td class="row1" width="50" align="center"><p class="topicdetails">{topicrow.REPLIES}</p></td>
                        <td class="row2" width="50" align="center"><p class="topicdetails">{topicrow.VIEWS}</p></td>
                        <td class="row1" width="140" align="center">
                            <p class="topicdetails2" style="white-space: nowrap;">{topicrow.LAST_POST_TIME}</p>
                            <p class="topicdetails">
                                {topicrow.LAST_POST_AUTHOR_FULL}
                                <!-- IF not S_IS_BOT --><a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a><!-- ENDIF -->
                            </p>
                        </td>
                    </tr>
                    <!-- BEGINELSE -->
                    <!-- IF S_IS_POSTABLE -->
                    <tr>
                        <!-- IF S_TOPIC_ICONS -->
                        <td class="row1" colspan="7" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
                        <!-- ELSE -->
                        <td class="row1" colspan="6" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
                        <!-- ENDIF -->
                    </tr>
                    <!-- ENDIF -->
                    <!-- END topicrow -->
                    <!-- IF not S_IS_BOT -->
                    <tr align="center">
                        <!-- IF S_TOPIC_ICONS -->
                        <td class="cat" align="left" colspan="7">
                            <!-- ELSE -->
                        <td class="cat" align="left" colspan="6">
                            <!-- ENDIF -->
                            <!-- IF S_DISPLAY_SEARCHBOX --><!-- INCLUDE searchbox.html --><!-- ENDIF -->
                        </td>
                    </tr>
                    <!-- ENDIF -->
                </table>
                <div class="c-f-l"><div class="c-f-r"><div class="c-f-c">&nbsp;</div></div></div>
                <!-- ENDIF -->
                <!-- IF not S_IS_BOT -->
                <!-- IF S_DISPLAY_POST_INFO or TOTAL_TOPICS -->
                <table width="100%" cellspacing="0">
                    <tr>
                        <!-- IF S_DISPLAY_POST_INFO and not S_IS_BOT -->
                        <td align="{S_CONTENT_FLOW_BEGIN}" style="padding-left:0px;padding-top:5px;"><a href="{U_POST_NEW_TOPIC}">{POST_IMG}</a></td>
                        <!-- ENDIF -->
                        <!-- IF TOTAL_TOPICS -->

                        <td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
                        <!-- ENDIF -->
                    </tr>
                </table>
                <!-- ENDIF -->
                <!-- ENDIF -->
                <br clear="all" />
            </div>

            <!-- IF not S_IS_BOT -->
            <!-- IF S_DISPLAY_ONLINE_LIST -->
            <br clear="all" />
            <table class="tablebg" width="100%" cellspacing="0">
                <tr>
                    <td class="cat_online"><h4><font color="#ffffff">{L_WHO_IS_ONLINE}</font></h4></td>
                </tr>
                <tr>
                    <td class="row1_t"><p class="gensmall">{LOGGED_IN_USER_LIST}</p></td>
                </tr>
            </table>
            <!-- ENDIF -->
            <br clear="all" />
            <table class="tablebg_trbl" width="100%" cellspacing="0">
                <tr>
                    <td class="row1">
                        <table width="100%" cellspacing="0">
                            <tr>
                                <td>
                                    <form method="post" action="{S_FORUM_ACTION}"><span class="gensmall">{L_DISPLAY_TOPICS}:</span>&nbsp;{S_SELECT_SORT_DAYS}&nbsp;<span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" name="sort" value="{L_GO}" /></form>
                                </td>
                                <td align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- ENDIF -->
            <!-- IF S_DISPLAY_POST_INFO -->
            <br clear="all" />
            <table class="tablebg_trbl" width="100%" cellspacing="0">
                <tr>
                    <td class="row1">

                        <table width="100%" cellspacing="0">
                            <tr>
                                <td align="{S_CONTENT_FLOW_BEGIN}" valign="top">
                                    <table cellspacing="3" cellpadding="0" border="0">
                                        <tr>
                                            <td width="20" style="text-align: center;">{FOLDER_UNREAD_IMG}</td>
                                            <td class="gensmall">{L_UNREAD_POSTS}</td>
                                            <td>&nbsp;&nbsp;</td>
                                            <td width="20" style="text-align: center;">{FOLDER_IMG}</td>
                                            <td class="gensmall">{L_NO_UNREAD_POSTS}</td>
                                            <td>&nbsp;&nbsp;</td>
                                            <td width="20" style="text-align: center;">{FOLDER_ANNOUNCE_IMG}</td>
                                            <td class="gensmall">{L_ICON_ANNOUNCEMENT}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;">{FOLDER_HOT_UNREAD_IMG}</td>
                                            <td class="gensmall">{L_UNREAD_POSTS_HOT}</td>
                                            <td>&nbsp;&nbsp;</td>
                                            <td style="text-align: center;">{FOLDER_HOT_IMG}</td>
                                            <td class="gensmall">{L_NO_UNREAD_POSTS_HOT}</td>
                                            <td>&nbsp;&nbsp;</td>
                                            <td style="text-align: center;">{FOLDER_STICKY_IMG}</td>
                                            <td class="gensmall">{L_ICON_STICKY}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;">{FOLDER_LOCKED_UNREAD_IMG}</td>
                                            <td class="gensmall">{L_UNREAD_POSTS_LOCKED}</td>
                                            <td>&nbsp;&nbsp;</td>
                                            <td style="text-align: center;">{FOLDER_LOCKED_IMG}</td>
                                            <td class="gensmall">{L_NO_UNREAD_POSTS_LOCKED}</td>
                                            <td>&nbsp;&nbsp;</td>
                                            <td style="text-align: center;">{FOLDER_MOVED_IMG}</td>
                                            <td class="gensmall">{L_TOPIC_MOVED}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td align="{S_CONTENT_FLOW_END}"><span class="gensmall"><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- ENDIF -->
            <!-- INCLUDE overall_footer.html -->
