<!-- DEFINE $S_IN_PORTAL = 1 -->
<!-- INCLUDE overall_header.html -->
<!-- INCLUDE portal/_block_config.html -->

<!--version $Id: portal_body.html 591 2009-12-11 23:48:49Z marc1706 $ //-->
<!-- IF PORTAL_VERSION_CHECK and U_ACP --> 
	<table class="tablebg" width="100%" cellspacing="1" cellpadding="0" style="margin-top: 5px;">
		<tbody>
			<tr>
				<td class="row1">
					<p class="breadcrumbs"><span style="color: red;">{PORTAL_VERSION_CHECK}</span></p>
				</td>
			</tr>
		</tbody>
	</table>
	<br />
<!-- ENDIF -->
<!-- IF not $CHAT_LOADED --><!-- INCLUDE chat/chat_footer.html --><!-- ENDIF -->
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
		<!-- IF S_TOP_COLUMN -->	
		<tr>
		<!-- [+] top module area -->
			<td colspan="3">
				<!-- BEGIN modules_top -->
					<!-- DEFINE $TEMPLATE_FILE = '{modules_top.TEMPLATE_FILE}' -->
					<!-- DEFINE $IMAGE_SRC = '{modules_top.IMAGE_SRC}' -->
					<!-- DEFINE $IMAGE_WIDTH = '{modules_top.IMAGE_WIDTH}' -->
				<!-- DEFINE $IMAGE_HEIGHT = '{modules_top.IMAGE_HEIGHT}' -->
					<!-- DEFINE $CUSTOM_CODE = '{modules_top.CODE}' -->
					<!-- DEFINE $TITLE = '{modules_top.TITLE}' -->
					<!-- DEFINE $MODULE_ID = '{modules_top.MODULE_ID}' -->
					<!-- INCLUDE {$TEMPLATE_FILE} -->
				<!-- END modules_top -->
			</td>
		<!-- [-] top module area -->
		</tr>
		<!-- ENDIF -->
    <tr>
		<!-- [+] left module area -->
			<!-- IF S_LEFT_COLUMN -->
				<td width="{S_PORTAL_LEFT_COLUMN}px" valign="top" style="padding-<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->left<!-- ELSE -->right<!-- ENDIF -->:{$BLOCK_DISTANCE};">
					<!-- BEGIN modules_left -->
						<!-- DEFINE $TEMPLATE_FILE = '{modules_left.TEMPLATE_FILE}' -->
						<!-- DEFINE $IMAGE_SRC = '{modules_left.IMAGE_SRC}' -->
						<!-- DEFINE $IMAGE_WIDTH = '{modules_left.IMAGE_WIDTH}' -->
						<!-- DEFINE $IMAGE_HEIGHT = '{modules_left.IMAGE_HEIGHT}' -->
						<!-- DEFINE $CUSTOM_CODE = '{modules_left.CODE}' -->
						<!-- DEFINE $TITLE = '{modules_left.TITLE}' -->
						<!-- DEFINE $MODULE_ID = '{modules_left.MODULE_ID}' -->
						<!-- INCLUDE {$TEMPLATE_FILE} -->
					<!-- END modules_left -->
				</td>
			<!-- ENDIF -->
		<!-- [-] left module area -->

		<!-- [+] center module area -->
			<!-- IF S_CENTER_COLUMN -->
				<td valign="top">
					<!-- BEGIN modules_center -->
						<!-- DEFINE $TEMPLATE_FILE = '{modules_center.TEMPLATE_FILE}' -->
						<!-- DEFINE $IMAGE_SRC = '{modules_center.IMAGE_SRC}' -->
						<!-- DEFINE $IMAGE_WIDTH = '{modules_center.IMAGE_WIDTH}' -->
						<!-- DEFINE $IMAGE_HEIGHT = '{modules_center.IMAGE_HEIGHT}' -->
						<!-- DEFINE $CUSTOM_CODE = '{modules_center.CODE}' -->
						<!-- DEFINE $TITLE = '{modules_center.TITLE}' -->
						<!-- DEFINE $MODULE_ID = '{modules_center.MODULE_ID}' -->
						<!-- INCLUDE {$TEMPLATE_FILE} -->
					<!-- END modules_center -->
					<!-- IF S_DISPLAY_JUMPBOX and B3P_DISPLAY_JUMPBOX -->
						<br />
						<!-- INCLUDE portal/modules/jumpbox.html -->
					<!-- ENDIF -->
				</td>
			<!-- ENDIF -->
		<!-- [-] center module area -->

		<!-- [+] right module area -->
			<!-- IF S_RIGHT_COLUMN -->
				<td width="{S_PORTAL_RIGHT_COLUMN}px" valign="top" style="padding-<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->right<!-- ELSE -->left<!-- ENDIF -->:{$BLOCK_DISTANCE};">
					<!-- BEGIN modules_right -->
						<!-- DEFINE $TEMPLATE_FILE = '{modules_right.TEMPLATE_FILE}' -->
						<!-- DEFINE $IMAGE_SRC = '{modules_right.IMAGE_SRC}' -->
						<!-- DEFINE $IMAGE_WIDTH = '{modules_right.IMAGE_WIDTH}' -->
						<!-- DEFINE $IMAGE_HEIGHT = '{modules_right.IMAGE_HEIGHT}' -->
						<!-- DEFINE $CUSTOM_CODE = '{modules_right.CODE}' -->
						<!-- DEFINE $TITLE = '{modules_right.TITLE}' -->
						<!-- DEFINE $MODULE_ID = '{modules_right.MODULE_ID}' -->
						<!-- INCLUDE {$TEMPLATE_FILE} -->
					<!-- END modules_right -->
				</td>
			<!-- ENDIF -->
		<!-- [-] right module area -->
	</tr>
	<!-- IF S_BOTTOM_COLUMN -->
	<tr>
	<!-- [+] bottom module area -->
		<td colspan="3">
			<!-- BEGIN modules_bottom -->
				<!-- DEFINE $TEMPLATE_FILE = '{modules_bottom.TEMPLATE_FILE}' -->
				<!-- DEFINE $IMAGE_SRC = '{modules_bottom.IMAGE_SRC}' -->
				<!-- DEFINE $IMAGE_WIDTH = '{modules_bottom.IMAGE_WIDTH}' -->
				<!-- DEFINE $IMAGE_HEIGHT = '{modules_bottom.IMAGE_HEIGHT}' -->
				<!-- DEFINE $CUSTOM_CODE = '{modules_bottom.CODE}' -->
				<!-- DEFINE $TITLE = '{modules_bottom.TITLE}' -->
				<!-- DEFINE $MODULE_ID = '{modules_bottom.MODULE_ID}' -->
				<!-- INCLUDE {$TEMPLATE_FILE} -->
			<!-- END modules_bottom -->
		</td>
	<!-- [-] bottom module area -->
	</tr>
	<!-- ENDIF -->
</table>

<!--// board3 Portal by www.board3.de //-->
		<!-- please keep this credits visible, thank you! -->
		<br />
		<div class="copyright" align="center">Powered by <a href="http://www.board3.de/">Board3 Portal</a> &copy; 2009 - 2011 Board3 Group</div>
		<br />
<!-- INCLUDE overall_footer.html -->