<table width="100%" cellspacing="0" cellpadding="2" border="0" align="center">
     <tr>
          <td align="left" valign="bottom">
               <span class="nav"><a href="{U_INDEX}" class="nav">{L_INDEX}</a></span>
          </td>
     </tr>
</table>

<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center" class="forumline">
     <tr>
          <th>
              {L_AUCTION_CONFIRM_BID}
          </th>
     </tr>
     <tr align="center">
          <td class="row1">
             <table width="100%" cellspacing="0">
                 <tr align="center">
                      <td>
                          <span class="forumlink">
                          <br>
                          <br>
                          {L_AUCTION_ABOUT_TO_CONFIRM}</span>
                          <br>
                          <br>
                      </td>
                 </tr>
                 </tr>
                 <tr align="center">
                      <td class="row1">
                          <span class="gen">{L_AUCTION_OFFER_TITLE}{AUCTION_OFFER_TITLE}</span>
                          <br>
                          <br>
                      </td>
                 </tr>
                 <tr align="center" class="row1">
                      <td width="15%" valign="top" class="row1">
                          <form enctype="multipart/form-data" method="post" action="{S_AUCTION_BID_NOW}">
                          <input type="number" name="auction_your_amount" value="{BID_AMOUNT}" readonly/><span class="gen">&nbsp;{AUCTION_OFFER_CURRENCY}</span>
                          <br>
                          <br>
                          <input type="submit" name="confirm" value="{L_YES}" class="mainoption" /></form>
                          <form enctype="multipart/form-data" method="post" action="{U_RETURN}">
                          <input type="submit" name="confirm" value="{L_RETURN}" class="mainoption" /><br><br></form>
                          </form>
                          <br>
                      </td>
                 </tr>
             </table>
          </td>
       </tr>
</table>
<br clear="all" />

<table align="center">
<tr>
<td align="center">
<span class="gensmall">{MODAUTHOR}</span>
<span class="gensmall">{MODPOWERED}</span>
</td>
</tr>
</table>

