<table width="100%" cellpadding="3" cellspacing="1" class="bodyline">
     <tr>
          <td class="{MY_AUCTIONS_COLOR}" align="center">
               <a href="{U_MY_AUCTION}" class="gen">{L_MY_AUCTIONS}</a>
          </td>
          <td class="{MY_STORE_COLOR}" align="center">
               <a href="{U_MY_STORE}" class="gen">{L_MY_STORE}</a>
          </td>
          <td class="{MY_RATINGS_COLOR}" align="center">
               <a href="{U_MY_RATING}" class="gen">{L_MY_RATINGS}</a>
          </td>
          <td class="{MY_WATCHLIST_COLOR}" align="center">
               <a href="{U_MY_WATCHLIST}" class="gen">{L_MY_WATCHLIST}</a>
          </td>
          <td class="{MY_ACCOUNT_COLOR}" align="center">
               <a href="{U_MY_ACCOUNT}" class="gen">{L_MY_ACCOUNT}</a>
          </td>
     </tr>
</table>
<br>