<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

<h1>{L_TITLE}</h1>
<p>{L_TITLE_EXPLAIN}</p>

<!-- IF S_VERSION_NOT_UP_TO_DATE -->
	<div class="chat-message state-error fixed">
		<p>{L_CHAT_VERSION_NOT_UP_TO_DATE}</p>
		<p><a href="{U_VERSIONCHECK_FORCE}">{L_VERSIONCHECK_FORCE_UPDATE}</a> &middot; <a href="{U_MORE_INFORMATION}">{L_MORE_INFORMATION}</a></p>
	</div>
<!-- ENDIF -->

<!-- IF NOTICE -->
	<div class="chat-message <!-- IF NOTICE_ERROR -->state-error<!-- ELSE -->state-success<!-- ENDIF -->">
		{NOTICE}
	</div>
<!-- ENDIF -->

<form id="acp_chat" method="post" action="{U_ACTION}">
	
<!-- BEGIN options -->
	<!-- IF options.S_LEGEND -->
		<!-- IF not options.S_FIRST_ROW --></fieldset><!-- ENDIF -->
		<fieldset>
			<legend>{options.LEGEND}</legend>
	<!-- ELSE -->

		<dl>
			<dt><label for="{options.KEY}">{options.TITLE}:</label><!-- IF options.S_EXPLAIN --><br /><span>{options.S_EXPLAIN}</span><!-- ENDIF --></dt>
			<dd>{options.CONTENT}</dd>
		</dl>

	<!-- ENDIF -->
	
	<!-- IF options.S_LAST_ROW --></fieldset><!-- ENDIF -->
<!-- END options -->

<div class="chat-submit-buttons">
	<input class="chat-button" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />
	<input class="chat-button" type="reset" id="reset" name="reset" value="{L_RESET}" />
	
	{S_FORM_TOKEN}
</div>


</form>

<!-- INCLUDE overall_footer.html -->
