<!-- IF IN_CHAT_ADMIN -->
	<script src="{T_CHAT_PATH}assets/js/jquery.min.js?v=1.11.1" type="text/javascript"></script>
	<script src="{T_CHAT_PATH}assets/js/jquery-ui-sortable.min.js?v=1.11.1" type="text/javascript"></script>
	<script type="text/javascript" src="{T_CHAT_PATH}assets/js/jchat.js?v={S_CHAT_VERSION}"></script>
	<script src="{T_CHAT_PATH}assets/js/jchat-acp.js?v={S_CHAT_VERSION}" type="text/javascript"></script>

	<link href="{T_CHAT_PATH}assets/css/common.css?v={S_CHAT_VERSION}" rel="stylesheet" type="text/css" media="screen" />
	<link href="{T_CHAT_PATH}assets/css/acp.css?v={S_CHAT_VERSION}" rel="stylesheet" type="text/css" media="screen" />

	<script type="text/javascript">
	// <![CDATA[
	jchat(function($) {
	<!-- IF U_HELP and not U_BACK -->
		$('#content').help_icon('{LA_CHAT_HELP}', '{U_HELP}');
	<!-- ENDIF -->
	<!-- IF NOTICE -->
		$('.chat-message').autohide(false, 3000);
	<!-- ENDIF -->
	});
	// ]]>
	</script>
<!-- ENDIF -->