<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

<!-- IF U_BACK --><div><a href="{U_BACK}" style="float: right">&laquo; {L_BACK}</a></div><!-- ENDIF -->

<!-- IF L_TITLE -->
	<h1>{L_TITLE}</h1>
	<p>{L_TITLE_EXPLAIN}</p>
<!-- ENDIF -->

<!-- IF NOTICE -->
	<div class="chat-message <!-- IF NOTICE_ERROR -->state-error<!-- ELSE -->state-success<!-- ENDIF -->">
		{NOTICE}
	</div>
<!-- ELSEIF not S_EDIT -->
<hr />
<!-- ENDIF -->

<form id="acp_chat_texts" method="post" action="{U_ACTION}">

<!-- IF S_EDIT -->

<!-- BEGIN options -->
	<!-- IF options.S_LEGEND -->
		<!-- IF not options.S_FIRST_ROW --></fieldset><!-- ENDIF -->
		<fieldset>
			<legend>{options.LEGEND}</legend>
	<!-- ELSE -->

		<dl>
			<dt><label for="{options.KEY}">{options.TITLE}:</label><!-- IF options.S_EXPLAIN --><br /><span>{options.S_EXPLAIN}</span><!-- ENDIF --></dt>
			<dd>{options.CONTENT}</dd>
		</dl>

	<!-- ENDIF -->
	
	<!-- IF options.S_LAST_ROW --></fieldset><!-- ENDIF -->
<!-- END options -->

	<div class="chat-submit-buttons">
		<input class="chat-button" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
		<input class="chat-button" type="reset" id="reset" name="reset" value="{L_RESET}" />
	</div>

<!-- ELSE -->

<!-- BEGIN textrow -->
	<h1>{textrow.S_LEGEND}</h1>
	<p>{textrow.S_EXPLAIN}</p>
			
	<table cellspacing="1">
		<tr><th>{textrow.S_LEGEND}</th></tr>
			
	<!-- IF textrow.S_IS_EMPTY -->
		<tr>
			<td class="row3">{L_NO_TEXTS}</td>
		</tr>
	<!-- ELSE -->
		<tr>
			<td class="sortable-text">
			<ul>
				
			<!-- BEGIN item -->
				<li id="row{textrow.item.S_ID}">
					<table><tr>
						<td>{textrow.item.S_CONTENT}</td>
						<td style="width:40px;">
							<a href="{textrow.item.U_EDIT}">{ICON_EDIT}</a>
							<a href="{textrow.item.U_DELETE}" class="js-chat-action">{ICON_DELETE}</a>
						</td>
					</tr></table>
					<input type="hidden" name="row[]" value="{textrow.item.S_ID}" />
				</li>
			<!-- END item -->
				
			</ul>
			</td>
		</tr>
	<!-- ENDIF -->
	</table>
	<!-- IF textrow.S_BUTTON_TITLE --><p class="quick"><a class="chat-button" href="{textrow.U_ADD}">{textrow.S_BUTTON_TITLE}</a></p><!-- ENDIF -->
	<br />
<!-- END textrow -->

<!-- ENDIF -->
	<div>
		{S_FORM_TOKEN}
		{S_HIDDEN_FIELDS}
	</div>
</form>

<!-- INCLUDE overall_footer.html -->