<!-- BEGIN forumrow -->
	<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
			</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- ENDIF -->

	<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="<!-- IF forumrow.S_THANKS_FORUM_REPUT_VIEW_COLUMN and not S_IS_BOT -->thanks<!-- ELSE -->icon<!-- ENDIF -->">
						<dt><!-- IF forumrow.S_IS_CAT --><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a><!-- ELSE -->{L_FORUM}<!-- ENDIF --></dt>
						<dd class="topics">{L_TOPICS}</dd>
						<dd class="posts">{L_POSTS}</dd>
						<!-- IF forumrow.S_THANKS_FORUM_REPUT_VIEW_COLUMN and not S_IS_BOT -->
						<dd style="display: block; width:{forumrow.THANKS_REPUT_GRAPHIC_WIDTH};">{L_REPUT}</dd>
						<!-- ENDIF -->
						<dd class="lastpostthanks"><span>{L_LAST_POST}</span></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
	<!-- ENDIF -->

	<!-- IF not forumrow.S_IS_CAT -->
		<li class="row">
			<dl class="<!-- IF forumrow.S_THANKS_FORUM_REPUT_VIEW_COLUMN and not S_IS_BOT -->thanks<!-- ELSE -->icon<!-- ENDIF -->" style="background-image: url({forumrow.FORUM_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
				<dt title="{forumrow.FORUM_FOLDER_IMG_ALT}">
				<!-- IF S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED --><!-- <a class="feed-icon-forum" title="{L_FEED} - {forumrow.FORUM_NAME}" href="{U_FEED}?f={forumrow.FORUM_ID}"><img src="{T_THEME_PATH}/images/feed.gif" alt="{L_FEED} - {forumrow.FORUM_NAME}" /></a> --><!-- ENDIF -->

					<!-- IF forumrow.FORUM_IMAGE --><span class="forum-image">{forumrow.FORUM_IMAGE}</span><!-- ENDIF -->
					<a href="{forumrow.U_VIEWFORUM}" class="forumtitle" {forumrow.EXTERNAL_LINK_TARGET}>{forumrow.FORUM_NAME}</a><br />
					{forumrow.FORUM_DESC}
					<!-- BEGIN reput -->
					<!-- IF forumrow.reput.S_THANKS_FORUM_REPUT_VIEW and forumrow.reput.FORUM_REPUT and not S_IS_BOT and not forumrow.reput.S_THANKS_FORUM_REPUT_VIEW_COLUMN -->
					<span style="display: block;">
						<!-- IF forumrow.reput.S_THANKS_REPUT_GRAPHIC -->
						<span style="display: block; float: left; width: {forumrow.reput.THANKS_REPUT_GRAPHIC_WIDTH}; height: {forumrow.reput.THANKS_REPUT_HEIGHT}; background: url({forumrow.reput.THANKS_REPUT_IMAGE_BACK}); background-repeat: repeat-x;"><span style="display: block; height: {forumrow.reput.THANKS_REPUT_HEIGHT}; width: {forumrow.reput.FORUM_REPUT}; background: url({forumrow.reput.THANKS_REPUT_IMAGE}); background-repeat: repeat-x;"></span></span>&nbsp;
						<!-- ENDIF -->
					{L_REPUT}:&nbsp;{forumrow.reput.FORUM_REPUT}	
					</span>
					<!-- ENDIF -->
					<!-- END reput -->
					<!-- IF forumrow.MODERATORS -->
						<br /><strong>{forumrow.L_MODERATOR_STR}:</strong> {forumrow.MODERATORS}
					<!-- ENDIF -->
					<!-- IF forumrow.SUBFORUMS and forumrow.S_LIST_SUBFORUMS --><br /><strong>{forumrow.L_SUBFORUM_STR}</strong> {forumrow.SUBFORUMS}<!-- ENDIF -->
				</dt>
				<!-- IF forumrow.CLICKS -->
					<dd class="redirect"><span>{L_REDIRECTS}: {forumrow.CLICKS}</span></dd>
				<!-- ELSEIF not forumrow.S_IS_LINK -->
					<dd class="topics">{forumrow.TOPICS} <dfn>{L_TOPICS}</dfn></dd>
					<dd class="posts">{forumrow.POSTS} <dfn>{L_POSTS}</dfn></dd>
					<!-- BEGIN reput -->
						<!-- IF forumrow.reput.S_THANKS_FORUM_REPUT_VIEW and not S_IS_BOT  and forumrow.reput.S_THANKS_FORUM_REPUT_VIEW_COLUMN -->		
						<dd style="display: block; width: {forumrow.reput.THANKS_REPUT_GRAPHIC_WIDTH};">
							<!-- IF  forumrow.reput.FORUM_REPUT -->	
							<span style="display: block;">{forumrow.reput.FORUM_REPUT}
								<!-- IF forumrow.reput.S_THANKS_REPUT_GRAPHIC -->
								<span style="display: block; width: {forumrow.reput.THANKS_REPUT_GRAPHIC_WIDTH}; height: {forumrow.reput.THANKS_REPUT_HEIGHT}; background: url({forumrow.reput.THANKS_REPUT_IMAGE_BACK}); background-repeat: repeat-x;"><span style="display: block; height: {forumrow.reput.THANKS_REPUT_HEIGHT}; width: {forumrow.reput.FORUM_REPUT}; background: url({forumrow.reput.THANKS_REPUT_IMAGE}); background-repeat: repeat-x;">&nbsp;</span></span>
								<!-- ENDIF -->
							</span><dfn>{L_REPUT}</dfn>	
							<!-- ENDIF -->
						</dd>
						<!-- ENDIF -->
					<!-- END reput -->
					<dd class="lastpost<!-- IF forumrow.S_THANKS_FORUM_REPUT_VIEW_COLUMN and not S_IS_BOT --> lastpostthanks<!-- ENDIF -->"><span>
						<!-- IF forumrow.U_UNAPPROVED_TOPICS --><a href="{forumrow.U_UNAPPROVED_TOPICS}">{UNAPPROVED_IMG}</a><!-- ENDIF -->
						<!-- IF forumrow.LAST_POST_TIME --><dfn>{L_LAST_POST}</dfn> <!-- IF S_ALTT_ACTIVE --><!-- IF forumrow.ALTT_LINK_NAME_SHORT != '' --><a <!-- IF ALTT_STYLE -->style="{ALTT_STYLE}"<!-- ENDIF --> href="{forumrow.U_ALTT_LINK}" title="{forumrow.ALTT_LINK_NAME}">{forumrow.ALTT_LINK_NAME_SHORT}</a><!-- ELSE -->{L_ALTT_PROTECTED}<!-- ENDIF --><br /><!-- ENDIF --> {L_POST_BY_AUTHOR} {forumrow.LAST_POSTER_FULL}
						<!-- IF not S_IS_BOT --><a href="{forumrow.U_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF --><br />{forumrow.LAST_POST_TIME}<!-- ELSE -->{L_NO_POSTS}<br />&nbsp;<!-- ENDIF --></span>
					</dd>
				<!-- ENDIF -->
			</dl>
		</li>
	<!-- ENDIF -->

	<!-- IF forumrow.S_LAST_ROW -->
			</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<strong>{L_NO_FORUMS}</strong>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- END forumrow -->
