
<h1>{L_AUCTION_DELETE}</h1>

<p>{L_AUCTION_DELETE_EXPLAIN}</p>

<form action="{S_AUCTION_ACTION}" method="post">
  <table cellpadding="3" cellspacing="1" border="0" class="forumline" align="center">
    <tr> 
      <th colspan="2" class="thHead">{L_AUCTION_DELETE}</th>
      </tr>
    <tr> 
      <td class="row1" width="50%"><b>{L_AUCTION_TITLE}:</b></td>
      <td class="row1"><span class="row1">{NAME}</span></td>
    </tr>
    <tr> 
      <td class="row1"><b>{L_MOVE_AUCTION}:</b></td>
      <td class="row1">{S_SELECT_TO}</td>
    </tr>
    <tr> 
      <td class="catBottom" colspan="2" align="center">{S_HIDDEN_FIELDS}<input type="submit" name="submit" value="{S_SUBMIT_VALUE}" class="mainoption" /></td>
    </tr>
  </table>
</form>
<table align="center">
<tr>
<td>
<span class="gensmall"> (C) FR </span>
</td>
</tr>
</table>