
/*
 * cBB Installer StyleSheet
 * Copyright (c) 2013 CaniDev ( http://www.canidev.com )
 --------------------------------------------------------------
*/

* {
	margin: 0;
	padding: 0;
}

body {
	font: normal normal normal 12px/16px Arial, 'Lucida Grande', sans-serif;
	background: url('../images/fond.jpg');
}

/* Main Wrap */
#wrap {
	background: url('../images/fond50.png');
	border: 1px solid black;
	margin: 30px 20px 10px 20px;
	padding: 20px 15px 10px 10px;

	-webkit-box-shadow: 0 0 10px black;
	-moz-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
}

#page-body {
	margin-left: 249px;
	padding-top: 20px;
}

/* Buttons and HelpBox */
button {
	border-style: solid;
	border-width: 1px;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font: normal normal normal 12px/14px 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
	font-weight: bold;
	margin: 0 2px;
	overflow: hidden;
	padding: 5px 9px;
}

button, button.disabled:hover {
	background: #DDD url('../images/bg-btn.gif') repeat-x 0px -1px;
	border-color: #CCC #CCC #BBB #CCC;
}

button:hover {
	background-position: 0 -6px;
	border-color: #999;
}

button.disabled { color: #CCC; }

.helpbox {
	background: white url('../images/back01.png') 0 0 repeat-x;
	border: 1px solid #CCC;
	display: inline-block;
	margin-top: 10px;
	overflow: hidden;
	padding: 4px;
	width: 200px;
}

.help-header {
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
	padding: 2px 0 3px 0;
}

/* Left Panel */
.left-panel {
	float: left;
	overflow: hidden;
	text-align: center;
	width: 250px;
}

.logo { height: 80px; }
.logo img { max-width: 240px; }

.tabs {
	background: #ACD1EC;
	border: 1px solid black;
	border-right-width: 0px;
	display: block;
	list-style-type: none;
	margin-left: 50px;
	overflow: hidden;
}

.tabs li {
	border-bottom: 1px solid #999;
	border-right: 1px solid black;
	font-size: 12px;
	font-weight: bold;
	padding: 6px;
}

.tabs li.active {
	background: white;
	border-right: none;
}

.tabs li:last-child { border-bottom: none; }

/* Center Panel */
.center-panel {
	background: white url('../images/back01.png') left bottom repeat-x;
	border: 1px solid black;
	min-height: 300px;
	padding: 10px;
}

.body-title {
	font-size: 18px;
	padding: 10px 0 20px 0;
	text-align: center;
}

.center-panel ol { margin-left: 2em; }
.center-panel, .helpbox { font-weight: bold; }

/* Footer */
#footer {
	color: white;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0 30px 5px 30px;
	text-align: center;
}

/* Links */
a { text-decoration: none; }
.errorbox a, .helpbox a { color: black; }
.helpbox a:hover { text-decoration: underline; }

#footer a { color: white; }
#footer a:hover { color: black; }

/* Checks and Icons */
.checks-title {
	border-bottom: 1px solid #CCC;
	font-size: 14px;
	margin: 15px 0 5px 0;
}

.checks-valid, .checks-invalid, .checks-info, .help-link {
	background: transparent none 0 0 no-repeat;
	line-height: 16px;
	margin: 5px;
	padding-left: 20px;
	text-align: left;
}

.page-title { text-align: right; }

/* Icons and Colours */
.checks-valid {
	background-image: url('../images/accept.png');
	color: green;
}

.checks-invalid {
	background-image: url('../images/exclamation.png');
	color: red;
}

.checks-info { background-image: url('../images/information.png'); }
.help-link { background-image: url('../images/help.png'); }

/* General Borders */
#wrap, button, .center-panel, .helpbox, #lang-select {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}

.tabs, .tabs li:first-child {
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	-khtml-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
}

.tabs, .tabs li:last-child {
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-khtml-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

/* loading */
#loading {
	display: none;
	text-align: center;
}

#loading span {
	background: transparent url('../images/loading.gif') 0 0 no-repeat;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	padding-left: 35px;
}

/* Message Boxes */
.successbox, .errorbox {
	line-height: 1.5em;
	margin: 15px 10px;
	padding: 10px 5px;
	text-align: center;
}

.successbox {
	background: #d9fdbe;
	border: 1px solid #72b42d;
	color: green;
}

.errorbox {
	background: #FEF1EC;
	border: 1px solid #CD0A0A;
	color: #CD0A0A;
}

#lang-select {
	border: 1px solid #999;
	font-size: 11px;
	padding: 3px 2px;
}
