 
<table width="100%" cellpadding="4" cellspacing="0" border="0" align="center">
  <tr> 
	<td align="center" ><a href="{U_FORUM_INDEX}" target="_parent"><img src="../templates/subSilver/images/logo_phpBB_med.gif" border="0" /></a></td>
  </tr>
  <tr> 
	<td align="center" > 
	  <table width="100%" cellpadding="4" cellspacing="1" border="0" class="forumline">
		<tr> 
		  <th height="25" class="thHead"><b>{L_ADMIN}</b></th>
		</tr>
		<tr> 
		  <td class="row1"><span class="genmed"><a href="{U_ADMIN_INDEX}" target="main" class="genmed">{L_ADMIN_INDEX}</a></span></td>
		</tr>
		<tr> 
		  <td class="row1"><span class="genmed"><a href="{U_FORUM_INDEX}" target="_parent" class="genmed">{L_FORUM_INDEX}</a></span></td>
		</tr>
		<!-- BEGIN catrow -->
		<tr> 
		  <td height="28" class="catSides"><span class="cattitle">{catrow.ADMIN_CATEGORY}</span></td>
		</tr>
		<!-- BEGIN modulerow -->
		<tr> 
		  <td class="row1"><span class="genmed"><a href="{catrow.modulerow.U_ADMIN_MODULE}"  target="main" class="genmed">{catrow.modulerow.ADMIN_MODULE}</a></span> 
		  </td>
		</tr>
		<!-- END modulerow -->
		<!-- END catrow -->
	  </table>
	</td>
  </tr>
</table>

<br />
