/*  cBB Chat StyleSheet
    --------------------------------------------------------------
	Style:	Embed Mode
	Copyright (c) 2013 CaniDev ( http://www.canidev.com )
    --------------------------------------------------------------
*/

html { height: auto; }

body, #chat-body {
	margin: 0;
	padding: 0;
}

#chat-body.notitle {
	background: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
}

#chat-body.notitle #chat-title { display: none; }
#chat-body.notitle #chat-content { margin: 0; }
