<table width="100%" cellspacing="2" cellpadding="2" border="0">
  <tr>
	<td width="100%"><span class="maintitle">{L_PIC_MANAGER}</span><span class="genmed"><br />
		<b>{L_CROP_CENTER}</b></span></td>
  </tr>
</table>
<table width="100%" cellspacing="2" cellpadding="2" border="0">
  <tr>
	<td class="nav"><span class="navw"><a href="{U_YOUR_OFFER}" class="nav">{L_YOUR_OFFER}</a> &raquo; <a class="nav" href="{U_PIC_MAN}">{L_PIC_MAN}</a> &raquo; {L_CROP}</a></span></td>
  </tr>
</table>

<table width="100%" cellpadding="3" cellspacing="1" border="0" class="forumline">
  <tr>
	<th colspan="3" class="thTop" height="25" colspan="2">{L_CROP_PIC}</th>
  </tr>
  <tr>
	<td class="row1"  colspan="3" valign="top" height="28"><span class="genmed"><b>{L_CROP_SUBTITLE}</b>: {L_CROP_EXPLAIN}</span></td>
  </tr>
  <tr>
	<td class="row2" align="center"><a href="{U_CROP_IMAGE1}"><img src="{CROP_IMAGE1}" alt="Image-Crop-1" width="{IMAGE_WIDTH}" height="{IMAGE_HEIGHT}" name="Image-Crop-1" border="0" /></a></td>
	<td class="row2" align="center"><a href="{U_CROP_IMAGE2}"><img src="{CROP_IMAGE2}" alt="Image-Crop-2" width="{IMAGE_WIDTH}" height="{IMAGE_HEIGHT}" name="Image-Crop-2" border="0" /></a></td>
	<td class="row2" align="center"><a href="{U_CROP_IMAGE3}"><img src="{CROP_IMAGE3}" alt="Image-Crop-3" width="{IMAGE_WIDTH}" height="{IMAGE_HEIGHT}" name="Image-Crop-3" border="0" /></a></td>
  </tr>
  <tr>
	<td class="row1"  colspan="3" valign="middle" align="center" height="28"><span class="genmed">{L_CROP_EXPLAIN_2}</span></td>
  </tr>
  <tr>
	<td class="catBottom"  colspan="3" align="center" height="28"><span class="gensmall">&nbsp;</span></td>
  </tr>
</table>








