<!-- INCLUDE overall_header.html -->
<div><div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><div class="c-h-title"><h4>{L_CONTACT_BOARD_ADMIN}</h4></div></div></div></div></div>

<div id="pagecontent">

	<form method="post" action="{S_CONTACT_ACTION}">
	
	<table class="tablebg_trbl" width="100%" cellspacing="0">
	
	<!-- IF S_ERROR -->
	<tr>
		<td class="row2" colspan="2" align="center"><span class="genmed" style="color:red">{S_ERROR}</span></td>
	</tr>
	<!-- ENDIF -->
	<!-- IF not S_USER_LOGGED_IN -->
	<tr>
		<td class="row1" width="25%"><label for="contact_name"><b class="genmed">{L_CONTACT_YOUR_NAME}: </b></label><br /><span class="gensmall">{L_CONTACT_YOUR_NAME_EXPLAIN}</span></td>
		<td class="row2" valign="middle"><input type="text" style="width: 300px" class="post" name="contact_name" id="contact_name" value="{CONTACT_NAME}" size="30" tabindex="1" /></td>
	</tr>
	<tr>
		<td class="row1"><label for="contact_email"><b class="genmed">{L_CONTACT_YOUR_EMAIL}: </b></label><br /><span class="gensmall">{L_CONTACT_YOUR_EMAIL_EXPLAIN}</span></td>
		<td class="row2" valign="middle"><input type="text" style="width: 300px" class="post" name="contact_email" id="contact_email" value="{CONTACT_EMAIL}" size="30" tabindex="2" /></td>
	</tr>
	<!-- ENDIF -->
	<!-- IF REASONS -->
	<tr>
		<td class="row1" width="25%"><label for="reason"><b class="genmed">{L_CONTACT_REASON}: </b></label></td>
		<td class="row2" valign="middle"><select name="reason" id="reason" tabindex="3">{REASONS}</select></td>
	</tr>
	<!-- ENDIF -->
	<tr>
		<td class="row1" width="25%"><label for="subject"><b class="genmed">{L_SUBJECT}: </b></label></td>
		<td class="row2" valign="middle"><input type="text" style="width: 300px" class="post" name="subject" id="subject" value="{SUBJECT}" size="30" tabindex="4" /></td>
	</tr>
	<tr>
		<td class="row1" valign="top"><label for="message"><b class="genmed">{L_MESSAGE_BODY}: </b></label></td>
		<td class="row2" valign="middle"><textarea name="message" id="message" rows="15" cols="76" tabindex="5" style="width: 98%;">{MESSAGE}</textarea></td>
	</tr>
	<!-- IF S_CONFIRM_CODE -->
	<tr>
		<th colspan="2" valign="middle">{L_CONTACT_CONFIRM}</th>
	</tr>
	<tr>
	<td class="row2" colspan="2">
		
					<table class="tablebg_desc" width="100%" cellspacing="0">
						<tr>
							<td class="row4" ><span class="genmed">{L_CONTACT_CONFIRM_EXPLAIN}</span></td>
						</tr>
					</table>
			
		
	</td>
	</tr>
	<tr>
		<td class="row1" colspan="2" align="center">{CONFIRM_IMG}</td>
	</tr>
	<tr>
		<td class="row1"><b class="genmed">{L_CONFIRM_CODE}: </b><br /><span class="gensmall">{L_CONFIRM_CODE_EXPLAIN}</span></td>
		<td class="row2"><input class="post" type="text" name="confirm_code" size="8" maxlength="8" tabindex="6" /></td>
	</tr>
	<!-- ENDIF -->
	<tr>
		<td class="cat" colspan="2" align="center">
			{S_HIDDEN_FIELDS}
			<input class="btnmain" name="submit" type="submit" value="{L_SUBMIT}" accesskey="s" tabindex="7" />&nbsp;&nbsp;
			<input class="btnlite" type="reset" value="{L_RESET}" accesskey="r" />
		</td>
	</tr>
	</table>
	
	</form>
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c">&nbsp;</div></div></div>
	<br clear="all" />

</div>



<!-- INCLUDE overall_footer.html -->