<!-- INCLUDE overall_header.html -->
<div><div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><div class="c-h-title"><h4>{L_FAQ_TITLE}</h4></div></div></div></div></div>

<a name="faqtop"></a>

<div id="pagecontent">

	<table class="tablebg_trbl" width="100%" cellspacing="0">
	
	<tr>
		<td class="row1">
		<!-- BEGIN faq_block -->
			<span class="gen"><b>{faq_block.BLOCK_TITLE}</b></span><br />
			<!-- BEGIN faq_row -->
				<span class="gen"><a class="postlink" href="#f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}">{faq_block.faq_row.FAQ_QUESTION}</a></span><br />
			<!-- END faq_row -->
			<br />
		<!-- END faq_block -->
		</td>
	</tr>
	<tr>
		<td class="cat">&nbsp;</td>
	</tr>
	</table>

	

	<!-- BEGIN faq_block -->
		<table class="tablebg" width="100%" cellspacing="0">
		<tr> 
			<th align="center">{faq_block.BLOCK_TITLE}</th>
		</tr>
		<!-- BEGIN faq_row --> 
		<tr>
			<!-- IF faq_block.faq_row.S_ROW_COUNT is even -->
				<td class="row1" valign="top">
			<!-- ELSE -->
				<td class="row2" valign="top">
			<!-- ENDIF -->
				<div class="postbody_faq"><a name="f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}"></a><b>&#187; {faq_block.faq_row.FAQ_QUESTION}</b></div>
				<div class="postbody_faq">{faq_block.faq_row.FAQ_ANSWER}</div>
				<p class="gensmall"><a href="#faqtop">{L_BACK_TO_TOP}</a></p>
			</td>
		</tr>
		<tr>
			<td class="spacer" height="1"><img src="images/spacer.gif" alt="" width="1" height="1" /></td>
		</tr>
		<!-- END faq_row -->
		</table>

		
	<!-- END faq_block -->

</div>



<br /><br />
<!-- IF S_DISPLAY_JUMPBOX -->
<table class="tablebg_trbl" width="100%" cellspacing="0">
	<tr>
		<td class="row1">
			<table width="100%" cellspacing="0">
				<tr>
					<td align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<!-- ENDIF -->
<br clear="all" />

<!-- INCLUDE overall_footer.html -->

