<script type="text/javascript" src="{T_TEMPLATE_PATH}/scripts.js"></script>
<script type="text/javascript">
// <![CDATA[

function popup(url, width, height, name)
{
	if (!name)
	{
		name = '_popup';
	}

	window.open(url.replace(/&amp;/g, '&'), name, 'height=' + height + ',resizable=yes,scrollbars=yes,width=' + width);
	return false;
}

function jumpto()
{
	var page = prompt('Enter the page number you wish to go to.:', '');
	var perpage = '';
	var base_url = '';

	if (page !== null && !isNaN(page) && page > 0)
	{
		document.location.href = base_url.replace(/&amp;/g, '&') + '&start=' + ((page - 1) * perpage);
	}
}

/**
* Find a member
*/
function find_username(url)
{
	popup(url, 760, 570, '_usersearch');
	return false;
}

/**
* Mark/unmark checklist
* id = ID of parent container, name = name prefix, state = state [true/false]
*/
function marklist(id, name, state)
{
	var parent = document.getElementById(id);
	if (!parent)
	{
		eval('parent = document.' + id);
	}

	if (!parent)
	{
		return;
	}

	var rb = parent.getElementsByTagName('input');
	
	for (var r = 0; r < rb.length; r++)
	{
		if (rb[r].name.substr(0, name.length) == name)
		{
			rb[r].checked = state;
		}
	}
}


// ]]>
</script>
<!-- BEGIN forumrow -->
	<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
	
	</table>
	<div class="c-f-l"><div class="c-f-r"><div class="c-f-c">&nbsp;</div></div></div>
</div>
<br /><br />
	</div>
	
	<!-- ENDIF -->
	<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW or forumrow.S_NO_CAT  -->
		<div id="f_{forumrow.FORUM_ID}_h" style="display:none;">
<div><div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><img style="padding-top:11px;padding-right:8px;float:right;cursor:pointer;" src="{T_THEME_PATH}/images/maximize.png" onclick="javascript:ShowHide('f_{forumrow.FORUM_ID}','f_{forumrow.FORUM_ID}_h','f_{forumrow.FORUM_ID}');" alt="maximize" /><div class="c-h-title"><h4><!-- IF forumrow.S_IS_CAT --><a class="c-h-link" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a><!-- ELSE -->{L_FORUM}<!-- ENDIF --></h4></div></div></div></div>
		
		
		<div class="c-f-l"><div class="c-f-r"><div class="c-f-c-2"></div></div></div>
</div>
	<br /><br />
		</div>

		<div id="f_{forumrow.FORUM_ID}">
		<script type="text/javascript">
		<!--
		tmp = 'f_{forumrow.FORUM_ID}';
		if(GetCookie(tmp) == '1')
		{
			ShowHide('f_{forumrow.FORUM_ID}', 'f_{forumrow.FORUM_ID}_h', 'f_{forumrow.FORUM_ID}');
		}
		//-->
		</script>
		<div><div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><img style="padding-top:11px;padding-right:8px;float:right;cursor:pointer;" src="{T_THEME_PATH}/images/minimize.png" onclick="javascript:ShowHide('f_{forumrow.FORUM_ID}','f_{forumrow.FORUM_ID}_h','f_{forumrow.FORUM_ID}');" alt="minimize" /><div class="c-h-title"><h4><!-- IF forumrow.S_IS_CAT --><a class="c-h-link" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a><!-- ELSE -->{L_FORUM}<!-- ENDIF --></h4></div></div></div></div>
<table class="tablebg" cellspacing="0" width="100%">
<tr>
	<th colspan="2">&nbsp;{L_FORUM}&nbsp;</th>
	<th width="50">&nbsp;&nbsp;&nbsp;{L_TOPICS}&nbsp;&nbsp;&nbsp;</th>
	<th width="50">&nbsp;&nbsp;&nbsp;{L_POSTS}&nbsp;&nbsp;&nbsp;</th>
	<th width="18%" align="left">&nbsp;{L_LAST_POST}</th>
</tr>
	<!-- ENDIF -->
	<!-- IF not forumrow.S_IS_CAT -->
		<!-- IF forumrow.S_IS_LINK -->
	<tr>
			<td class="row1" width="50" align="center">{forumrow.FORUM_FOLDER_IMG}</td>
			<td class="row1">
				<!-- IF forumrow.FORUM_IMAGE -->
					<div style="float: {S_CONTENT_FLOW_BEGIN}; margin-{S_CONTENT_FLOW_END}: 5px;">{forumrow.FORUM_IMAGE}</div>
				<!-- ENDIF -->
				<a class="forumlink" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>
				<p class="forumdesc">{forumrow.FORUM_DESC}</p>
			</td>
			<!-- IF forumrow.CLICKS -->
				<td class="row2" colspan="3" align="center"><span class="genmed">{L_REDIRECTS}: {forumrow.CLICKS}</span></td>
			<!-- ELSE -->
				<td class="row2" colspan="3" align="center">&nbsp;</td>
			<!-- ENDIF -->
		</tr>
		<!-- ELSE -->
			<tr>
				<td class="row1" width="50" align="center">{forumrow.FORUM_FOLDER_IMG}</td>
				<td class="row1">
					<!-- IF forumrow.FORUM_IMAGE -->
						<div style="float: {S_CONTENT_FLOW_BEGIN}; margin-{S_CONTENT_FLOW_END}: 5px;">{forumrow.FORUM_IMAGE}</div>
					<!-- ENDIF -->
									<a class="forumlink" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>
									
				<p class="forumdesc">{forumrow.FORUM_DESC}</p>

				<!-- IF forumrow.MODERATORS -->
						<p class="forumdesc"><strong>{forumrow.L_MODERATOR_STR}:</strong> {forumrow.MODERATORS}</p>
					<!-- ENDIF -->
					<!-- IF forumrow.SUBFORUMS and forumrow.S_LIST_SUBFORUMS -->
						<p class="forumdesc"><strong>{forumrow.L_SUBFORUM_STR}</strong> {forumrow.SUBFORUMS}</p>
					<!-- ENDIF -->
					<!-- IF forumrow.FORUM_IMAGE --></div><!-- ENDIF -->
				</td>
				<td class="row2" align="center"><p class="topicdetails_pt">{forumrow.TOPICS}</p></td>
				<td class="row2" align="center"><p class="topicdetails_pt">{forumrow.POSTS}</p></td>
				<td class="row2" align="left" nowrap="nowrap">
				<!-- IF forumrow.LAST_POST_TIME -->
					
					<p class="topicdetails"><!-- IF forumrow.U_UNAPPROVED_TOPICS --><a href="{forumrow.U_UNAPPROVED_TOPICS}">{UNAPPROVED_IMG}</a>&nbsp;<!-- ENDIF -->{forumrow.LAST_POST_TIME}</p>
					<!-- IF forumrow.ALTT_LINK_NAME_SHORT --><p><a <!-- IF forumrow.ALTT_STYLE_BOLD or forumrow.ALTT_STYLE_ITALIC or forumrow.ALTT_STYLE_ADV -->style="<!-- IF forumrow.ALTT_STYLE_BOLD -->font-weight: bold;<!-- ENDIF --><!-- IF forumrow.ALTT_STYLE_ITALIC -->font-style: italic;<!-- ENDIF --> <!-- IF forumrow.ALTT_STYLE_ADV -->{forumrow.ALTT_STYLE_ADV2}<!-- ENDIF -->"<!-- ENDIF --> href="{forumrow.U_ALTT_LINK}" title="{forumrow.ALTT_LINK_NAME}">{forumrow.ALTT_LINK_NAME_SHORT}</a></p><!-- ENDIF -->

					<p class="topicdetails">{forumrow.LAST_POSTER_FULL}
						<a href="{forumrow.U_LAST_POST}">{LAST_POST_IMG}</a>
					</p>
				<!-- ELSE -->
					<p class="topicdetails">{L_NO_POSTS}</p>
				<!-- ENDIF -->
			</td>
			</tr>
		<!-- ENDIF -->
	<!-- ENDIF -->
	<!-- IF forumrow.S_LAST_ROW -->
		
		</table>
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c">&nbsp;</div></div></div>
</div>
<br /><br />
		</div>
		
	<!-- ENDIF -->
<!-- BEGINELSE -->
	<div><div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><div class="c-h-title"><h4>{L_FORUM}</h4></div></div></div></div>
	<table class="tablebg" width="100%" cellpadding="0" cellspacing="0">
		<td class="row1" colspan="5" align="center"><p class="gensmall">{L_NO_FORUMS}</p></td>
	
	</table>
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c-2">&nbsp;</div></div></div>
</div>
<!-- END forumrow -->
