<!-- INCLUDE overall_header.html -->


<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	
<div><div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><div class="c-h-title"><h4>{L_LOGIN_LOGOUT}</h4></div></div></div></div></div>
	<form method="post" action="{S_LOGIN_ACTION}">
	
	<table class="tablebg_trbl" width="100%" cellspacing="0">
	
	<tr>
		<td class="row1" align="center"><span class="genmed">{L_USERNAME}:</span> <input class="post" type="text" name="username" size="10" />&nbsp; <span class="genmed">{L_PASSWORD}:</span> <input class="post" type="password" name="password" size="10" />&nbsp; <!-- IF S_AUTOLOGIN_ENABLED --> <span class="gensmall">{L_LOG_ME_IN}</span> <input type="checkbox" class="radio" name="autologin" /><!-- ENDIF -->&nbsp; <input type="submit" class="btnmain" name="login" value="{L_LOGIN}" /></td>
	</tr>
	</table>
						{S_LOGIN_REDIRECT}
	{S_FORM_TOKEN}
	</form>
	<div class="c-f-l"><div class="c-f-r"><div class="c-f-c">&nbsp;</div></div></div>
	<br clear="all" />
		<br clear="all" />
<!-- ENDIF -->



<!-- INCLUDE forumlist_body.html -->






<!-- IF S_DISPLAY_ONLINE_LIST -->
	<br clear="all" />
<div><div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><div class="c-h-title"><h4>{L_FORUM} {L_STATISTICS}</h4></div></div></div></div></div>

	<table class="tablebg" width="100%" cellspacing="0">
	<tr>
			
			<td class="cat_online_top_2" colspan="2"><!-- IF not S_IS_BOT or U_TEAM or U_MARK_FORUMS --><span><!-- IF not S_IS_BOT --><a class="m-buttons-link" href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a><!-- ENDIF --><!-- IF not S_IS_BOT and U_TEAM --> | <!-- ENDIF --><!-- IF U_TEAM --><a class="m-buttons-link" href="{U_TEAM}">{L_THE_TEAM}</a><!-- ENDIF --><!-- IF not S_IS_BOT and U_MARK_FORUMS --> | <a class="m-buttons-link" href="{U_MARK_FORUMS}">{L_MARK_FORUMS_READ}</a><!-- ENDIF --></span><!-- ENDIF --><br /></td>

		</tr>
	<tr>
		<td class="cat_online_top" colspan="2"><!-- IF U_VIEWONLINE --><font size="2" color="#ffffff"><a class="m-buttons-link" href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></font><!-- ELSE --><h4><font size="2">{L_WHO_IS_ONLINE}</font></h4><!-- ENDIF --></td>
	</tr>
	<tr>
	<!-- IF LEGEND -->
		<td class="row1" rowspan="2" align="center" valign="middle"><img src="{T_THEME_PATH}/images/online.png" alt="{L_WHO_IS_ONLINE}" /></td>
	<!-- ELSE -->
		<td class="row1" align="center" valign="middle"><img src="{T_THEME_PATH}/images/whosonline.gif" alt="{L_WHO_IS_ONLINE}" /></td>
	<!-- ENDIF -->
		<td class="row1" width="100%"><span class="genmed">{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /><br />{LOGGED_IN_USER_LIST}</span></td>
	</tr>
	<!-- IF LEGEND -->
		<tr>
			<td class="row1"><b class="gensmall">{L_LEGEND} :: {LEGEND}</b></td>
		</tr>
	<!-- ENDIF -->


	
	
	
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST -->
	

	
	<tr>
		<td class="cat_online" colspan="2"><h4><font size="2" color="#ffffff">{L_BIRTHDAYS}</font></h4></td>
	</tr>
	<tr>
		<td class="row1" align="center" valign="middle"><img src="{T_THEME_PATH}/images/birthdays.png" alt="{L_BIRTHDAYS}" /></td>
		<td class="row1" width="100%"><p class="genmed"><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <b>{BIRTHDAY_LIST}</b><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p></td>
	</tr>
	
<!-- ENDIF -->




<tr>
	<td class="cat_online" colspan="2"><h4><font size="2" color="#ffffff">{L_STATISTICS}</font></h4></td>
</tr>
<tr>
	<td class="row1"><img src="{T_THEME_PATH}/images/stats.png" alt="{L_STATISTICS}" /></td>
	<td class="row1" width="100%" valign="middle"><p class="genmed">{TOTAL_POSTS} | {TOTAL_TOPICS} | {TOTAL_USERS} | {NEWEST_USER}</p></td>
</tr>
</table>
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c">&nbsp;</div></div></div>
<br />







<div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><div class="c-h-title"><h4>{L_FORUM} {L_LEGEND}</h4></div></div></div></div>
	<table class="tablebg_trbl" width="100%" cellpadding="0" cellspacing="0">
	<tr class="cat-bottom3">
	<td class="row1" width="14%" align="center">{FORUM_UNREAD_IMG}</td>
	<td class="row1" width="14%" align="center">{FORUM_IMG}</td>
	
	<td class="row1" width="15%" align="center"><img src="{T_IMAGESET_PATH}/forum_unread_subforum.png" alt="" /></td>
	<td class="row1" width="15%" align="center"><img src="{T_IMAGESET_PATH}/forum_read_subforum.png" alt="" /></td>
	
	<td class="row1" width="14%" align="center">{FORUM_UNREAD_LOCKED_IMG}</td>
	<td class="row1" width="14%" align="center">{FORUM_LOCKED_IMG}</td>
	<td class="row1" width="14%" align="center"><img src="{T_IMAGESET_PATH}/forum_link.png" alt="" /></td>
	</tr>
	<tr class="cat-bottom3">
	
	<td class="row1" width="14%" align="center"><span class="gensmall">{L_UNREAD_POSTS}</span></td>
	<td class="row1" width="14%" align="center"><span class="gensmall">{L_NO_UNREAD_POSTS}</span></td>
	<td class="row1" width="15%" align="center"><span class="gensmall">{L_SUBFORUM}</span><p>{L_UNREAD_POSTS}</p></td>
	<td class="row1" width="15%" align="center"><span class="gensmall">{L_SUBFORUM}</span><p>{L_NO_UNREAD_POSTS}</p></td>
	<td class="row1" width="14%" align="center"><span class="gensmall">{L_FORUM_LOCKED}</span><p>{L_UNREAD_POSTS}</p></td>
	<td class="row1" width="14%" align="center"><span class="gensmall">{L_FORUM_LOCKED}</span><p>{L_NO_UNREAD_POSTS}</p></td>
	<td class="row1" width="14%" align="center"><span class="gensmall">{L_REDIRECT}</span></td>
	</tr>
	
	</table>
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c"></div></div></div>

<br clear="all" />	
<br clear="all" />	
<!-- INCLUDE overall_footer.html -->