<!-- INCLUDE overall_header.html -->

<style type="text/css">

.postbody_portal {
	width: 100%;
}

</style>

<table class="tablebg" cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
<tr>

	<td class="row1" width="4" valign="top"></td>

<!-- [+] center block area -->
	<td class="row1" valign="top">





<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
<div align="center"> <h3>Личные сообщения</h3> </div>
		<span class="corners-bottom"><span></span></span>


		<span class="corners-top"><span></span></span>

<div class="tf_med_blue">{TF_LS_NAME}</div>

<div>
{TF_LS}
</div>

		<span class="corners-bottom"><span></span></span>

	</div>
</div>





	</td>
<!-- [-] center block area -->
	<td class="row1" width="4" valign="top"></td>


</tr>
</table>
<!--// TF Studio Plugin //-->
<!-- INCLUDE overall_footer.html -->