<!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
		<div class="pagination">
			
			<!-- IF PAGE_NUMBER -->
				<!-- IF PAGINATION --> <!-- IF TOTAL_TOPICS --><b class="gensmall">{TOTAL_TOPICS}</b>&nbsp;&bull;&nbsp;&nbsp;<!-- ENDIF --><a class=" genmed" href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &nbsp;&bull;&nbsp;&nbsp;<span>{PAGINATION}</span><!-- ELSE --> {PAGE_NUMBER}<!-- ENDIF -->
			<!-- ENDIF -->
		</div>
	<!-- ENDIF -->