<script type="text/javascript" src="{T_TEMPLATE_PATH}/scripts.js"></script>
<div id="f_quick_reply_h" style="display:none;">
<div><div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><img style="padding-top:11px;padding-right:8px;float:right;cursor:pointer;" src="{T_THEME_PATH}/images/maximize.png" onclick="javascript:ShowHide('f_quick_reply','f_quick_reply_h','f_quick_reply');" alt="maximize" /><div class="c-h-title"><h4>{L_QUICKREPLY}</h4></div></div></div></div>
		
		
		<div class="c-f-l"><div class="c-f-r"><div class="c-f-c-2"></div></div></div>
</div>
	<br /><br />
		</div>

		<div id="f_quick_reply">
		<script type="text/javascript">
		<!--
		tmp = 'f_quick_reply';
		if(GetCookie(tmp) == '2')
		{
			ShowHide('f_quick_reply', 'f_quick_reply_h', 'f_quick_reply');
		}
		//-->
		</script>
		<div><div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><img style="padding-top:11px;padding-right:8px;float:right;cursor:pointer;" src="{T_THEME_PATH}/images/minimize.png" onclick="javascript:ShowHide('f_quick_reply','f_quick_reply_h','f_quick_reply');" alt="minimize" /><div class="c-h-title"><h4>{L_QUICKREPLY}</h4></div></div></div></div>
<form method="post" action="{U_QR_ACTION}">

	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<th align="center" colspan="2">{L_QUICKREPLY}</th>
		</tr>
		<tr>
			<td class="row1" width="22%"><b class="genmed">{L_SUBJECT}:</b></td>
			<td  class="row2" width="78%"><input class="post" style="width:450px" type="text" name="subject" size="45" maxlength="64" tabindex="2" value="{SUBJECT}" /></td>
		</tr>
		<tr>
			<td class="row1" width="22%"><b class="genmed">{L_MESSAGE}:</b></td>
			<td class="row2" valign="top" align="left" width="78%"><textarea name="message" rows="7" cols="76" tabindex="3"  style="width: 98%;"></textarea> </td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center">
				<input class="btnmain" type="submit" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}" />&nbsp;
				<input class="btnlite" type="submit" accesskey="f" tabindex="7" name="full_editor" value="{L_FULL_EDITOR}" />

				{S_FORM_TOKEN}
				{QR_HIDDEN_FIELDS}
			</td>
		</tr>
	</table>
	
</form>
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c">&nbsp;</div></div></div>
</div>
<br /><br />
		</div>
<br clear="all" />