<form method="post" name="search" action="{S_SEARCHBOX_ACTION}"><span class="gensmall"></span> <input class="post" type="text" name="keywords" value="{L_SEARCH_FOR}" onfocus="clearDefault(this)" size="22" /> <input class="btnlite" type="submit" value="{L_GO}" /></form>
