<!-- INCLUDE overall_header.html -->

<div width="50%" align="center">
<div style="padding-left:25%;padding-right:25%;"><div class="c-h-l"><div class="c-h-r"><div class="c-h-c"><div class="c-h-title"><h4>{L_UCP_RESEND}</h4></div></div></div></div>

<form action="{S_PROFILE_ACTION}" method="post">

<table class="tablebg_trbl" width="100%" cellspacing="0" cellpadding="4" border="0">


<tr>
	<td class="row1" width="38%"><b class="genmed">{L_USERNAME}: </b></td>
	<td class="row2"><input type="text" class="post" name="username" size="25" value="{USERNAME}" /></td>
</tr>
<tr>
	<td class="row1"><b class="genmed">{L_EMAIL_ADDRESS}: </b><br /><span class="gensmall">{L_EMAIL_REMIND}</span></td>
	<td class="row2"><input type="text" class="post" name="email" size="25" maxlength="100" value="{EMAIL}" /></td>
</tr>
<tr>
	<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input type="submit" name="submit" value="{L_SUBMIT}" class="btnmain" />&nbsp;&nbsp;<input type="reset" value="{L_RESET}" name="reset" class="btnlite" /></td>
</tr>
</table>
{S_FORM_TOKEN}

</form>
<div class="c-f-l"><div class="c-f-r"><div class="c-f-c">&nbsp;</div></div></div>
</div>

<!-- INCLUDE overall_footer.html -->