/*  cBB Chat StyleSheet
    --------------------------------------------------------------
	Style:	subSilver2
	Copyright (c) 2014 CaniDev ( http://www.canidev.com )
    --------------------------------------------------------------
*/

#chat-body {
	background: #3A95C2 url('images/cellpic3.gif') 0px -1px repeat-x;
}

#chat-title {
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
}

#chat-content {
	background: #ECECEC;
}

#chat-tabs li {
	border-color: #CCC;
}

#chat-tabs li.active {
	border-top-color: #FFFFFF;
	font-weight: bold;
}

#chat-right-panel, #chat-conversation-container, #chat-toolbar {
	border: 1px solid #CCC;
}

#chat-toolbar li.separator {
	background: #CCC;
}

#chat-toolbar [class*="chat-icon-"] {
	display: inline-block;
	margin-top: 2px;
}

.chat-button.submit [class*="chat-icon-"] {
	line-height: inherit;
}

#chat-toolbar a:hover, .chat-button:hover {
	background: #FAFAFA;
	border-color: #CCC;
}

/* For IE7+ (without css3) */
#chat-toolbar a.disabled:hover {
	background: none;
}

#chat-toolbar a.active {
	border-color: #999 !important;
}

#chat-toolbar a,
.chat-button [class*="chat-icon-"] {
	font-size: 15px;
	color: #105289;
}

#chat-toolbar a.disabled, .chat-button.disabled [class*="chat-icon-"] {
	border-color: transparent !important;
	color: #999;
	cursor: default;
}

#chat-toolbar a:not(.disabled):hover,
.chat-button:not(.disabled):hover [class*="chat-icon-"] {
	color: #D31141;
}

.ic-row-actions a {
	color: #999;
}

.ic-row-actions a:hover {
	color: #105289;
}

.chat-icon-submit {
	margin-top: 12px;
}

.chat-row:hover {
	background-color: #ECECEC;
}

/* Boxes
------------------------------- */
.ic-box {
	border: 1px solid #999;
}

.color-box .colour, .smiley-box a {
	border: 1px solid #FFFFFF;
}

.color-box .colour:hover, .smiley-box a:hover {
	border-color: #CCC;
}

#chat-right-panel, #chat-conversation-container,
#chat-tabs li.active, #chat-toolbar li.active, .ic-box  {
	background: #FFFFFF;
}

/* Tabs
------------------------------- */
.chat-archive-tabs a {
	color: #FFF;
}

.chat-archive-tabs a.active {
	background: #ECECEC;
	color: #000;
}

/* Style overrides
------------------------------- */
.chat-row ul, .chat-row ol {
	margin-left: 20px;
}
