	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->



<div id="wrapfooter">
	<!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><br /><!-- ENDIF -->
	<span class="copyright">Powered by <a href="http://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Group
	<br /> Designed by <a href="http://stsoftware.biz">ST Software</a>.
	<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
	<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>
</div>
</div>

	</td>
</tr>
</table>
<div style="text-align: center; font-size: 0.75em;">Design Downloaded from <a title="free phpbb styles" href="http://www.template4all.com/phpbb-templates/" target="_blank">Free phpBB Styles</a> | <a href="http://www.luxury-yachts-maroc.com/" title="bateaux habitables" target="_blank">Bateaux Habitables</a> | <a href="http://www.imagincreation.com" title="free web icons" target="_blank">Free Web Icons</a>.</div>

</body>
</html>
