
</div>

<div id="wrapfooter">
	<span class="copyright">Powered by <a href="http://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Group. Designed by <a href="http://stsoftware.biz">STSoftware</a>.</span>
</div>

</body>
</html>