<!-- INCLUDE simple_header.html -->

<script type="text/javascript">
// <![CDATA[
	var form_name = 'postform';
	var text_name = 'message';
	<!-- IF S_GALLERY_SMILIES_POPUP -->
		text_name = opener.text_name;
	<!-- ENDIF -->
	<!-- IF S_GALLERY_SMILIES_POPUP -->
		text_name = opener.text_name;
	<!-- ENDIF -->
// ]]>
</script>
<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/editor.js"></script>

<table width="100%" cellspacing="1" cellpadding="4" border="0">
<tr>
	<td>
		<table class="tablebg" width="95%" cellspacing="1" cellpadding="4" border="0">
		<tr>
			<th>{L_SMILIES}</th>
		</tr>
		<tr>
			<td class="row1" align="center" valign="middle"><!-- BEGIN smiley --> <a href="#" onclick="initInsertions(); insert_text('{smiley.A_SMILEY_CODE}', true, true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" hspace="2" vspace="2" /></a> <!-- END smiley --><br />{PAGINATION}<br /><a class="nav" href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a></td>
		</tr>
		</table>
	</td>
</tr>
</table>
<!-- INCLUDE simple_footer.html -->