/* Margin of outer divs */
.forabg, .forumbg {
	margin-bottom: 4px;
	clear: both;
}

.panel, .post {
	margin-bottom: 4px;
	clear: both;
}



/* Padding of inner divs */
.panel .block-inner, .post .block-inner {
	padding: 0 5px;
	padding-right: 10px;
}
.panel .block-with-caption .block-inner {
    padding-top: 5px;
}
#message .block-with-caption .block-inner, #confirm .block-with-caption .block-inner {
    padding: 20px;
    padding-top: 25px;
    padding-right: 25px;
}

.panel-table .block-inner, #ip .block-inner {
    padding: 0;
    padding-right: 5px;
}
#navigation .block-inner, #pm-folder .block-inner {
    padding: 1px;
    padding-right: 6px;
}
.cp-mini .block-inner, .rules .block-inner {
    padding: 5px;
    padding-right: 10px;
}

.block-inner2 {
    border: solid 1px #000;
    border-width: 1px 0;
}

.panel-table h3 { padding-left: 5px; }



/* Outer divs */
.panel {
	color: #3f3f3f;
}

.post:target .content {
	color: #000000;
}

.post:target h3 a {
	color: #000000;
}


/* Blocks */
.block-border {
    padding: 0;
    margin: 5px 0;
}
.block-with-caption {
    margin-top: 0;
}
.block-panel {
    border-width: 0;
    padding: 0;
}
.block-clear {
    clear: both;
}

.block-header, .block-footer {
    display: block;
    clear: both;
    position: relative;
    height: 5px;
    margin: 0 5px;
    background-position: bottom left;
    background-repeat: repeat-x;
}
.block-header span, .block-footer span { 
    display: block;
    position: absolute;
    overflow: hidden;
    width: 5px;
    height: 5px;
    top: 0;
    right: -5px;
}
.block-header div, .block-footer div {
    position: absolute;
    overflow: hidden;
    width: 5px;
    height: 5px;
    top: 0;
    left: -5px;
}

.block-content {
    position: relative;
    background-position: top left;
    background-repeat: repeat-y;
    padding-left: 5px;
}
.block-inner {
    background-position: top right;
    background-repeat: repeat-y;
    padding-right: 5px;
}

/* Caption */
div.block-with-caption {
    margin-top: 0;
    padding-top: 0;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
}

.block-caption, .block-caption-left, .block-caption-bg {
    height: 29px;
    margin: 0;
    padding: 0;
    background-position: bottom left;
    background-repeat: no-repeat;
}
.block-caption {
    padding-right: 13px;
    background-position: bottom right;
    text-align: center;
}
.block-caption-header {
    border: 2px solid #fff;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    padding-top: 3px;
    height: 20px;
}
.block-caption-left {
    padding-left: 13px;
}
.block-caption-bg {
    background-repeat: repeat-x;
    padding: 0 20px;
    text-align: center;
}
.block-caption table, .block-caption table td, .block-caption-content {
    height: 29px;
    margin: 0;
    padding: 0;
    background-position: bottom left;
    background-repeat: no-repeat;
}
.block-caption table {
    margin: 0 auto;
    background-repeat: repeat-x;
}
.block-caption-content {
    background-position: bottom right;
    height: 22px;
    padding: 7px 12px 0 12px;
    white-space: nowrap;
}
html>body .block-caption-content {
    min-width: 100px;
    width: auto;
}

div.block-caption span, div.block-caption td, div.block-caption h1, div.block-caption h2, div.block-caption h3, div.block-caption h4, div.block-caption h5, div.block-caption h6 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-transform: none;
	font-size: 12px;
	font-weight: bold;
}

div.block-caption h1, div.block-caption h2, div.block-caption h3, div.block-caption h4, div.block-caption h5, div.block-caption h6 {
    border-width: 0;
    display: inline;
    background-image: none;
    background-color: none;
    padding: 0;
    margin: 0;
}


