/*
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

html, body {
	color: #4f493d;
	background-color: #484238;
}
body {
	background-color: #484238;
}

p {
    color: #4f493d;
}

h1, h2 {
	color: #3d372b;
}

h3, div.post-viewprofile h3 {
	color: #3d372b;
	background-image: url("{T_THEME_PATH}/images/bg_h3.gif");
}

hr, #cp-main hr, #cp-menu hr {
	border-color: #e4ded2;
	border-top-color: #ccc5b8;
}

hr.dashed {
	border-top-color: #ccc5b8;
}

/* Header/footer */
#global, html.html-simple, body.body-simple {
    background-color: #e0dace;
	background-image: url("{T_THEME_PATH}/images/bg_content.gif");
	color: #4f493d;
}
#content-left {
	background-image: url("{T_THEME_PATH}/images/border_left.gif");
}
#content-right {
	background-image: url("{T_THEME_PATH}/images/border_right.gif");
}
#header {
	background-image: url("{T_THEME_PATH}/images/border_top.gif");
}
#header-left {
	background-image: url("{T_THEME_PATH}/images/border_top_left.gif");
}
#header-right {
	background-image: url("{T_THEME_PATH}/images/border_top_right.gif");
}
#footer {
	background-image: url("{T_THEME_PATH}/images/border_bottom.gif");
}
#footer span {
	background-image: url("{T_THEME_PATH}/images/border_bottom_left.gif");
}
#footer span span {
	background-image: url("{T_THEME_PATH}/images/border_bottom_right.gif");
}


#copyrights {
	color: #797368;
}
#copyrights a, #copyrights a:visited {
	color: #797368;
}
#copyrights a:hover, #copyrights a:active {
	color: #4d9547;
}

/* Top navigation */
#topnav {
	background-image: url("{T_THEME_PATH}/images/topnav_bg.gif");
}
#topnav div {
	background-image: url("{T_THEME_PATH}/images/topnav_left.gif");
}
#topnav div div {
	background-image: url("{T_THEME_PATH}/images/topnav_right.gif");
}

.topnav {
    color: #9c927e;
}

.topnav a:link, .topnav a:visited {
	color: #4d9547;
}

.topnav a:hover, .topnav .current a, .topnav .current a:visited, .topnav .current a:hover {
	color: #d02c2c;
}

.topnav a:active, .topnav .current a:active {
	color: #d02c2c;
}

/* PM notification
--------------------*/
.pm-notify-new {
    border-color: #5d5544;
}
.pm-notify-new:hover {
    border-color: #3d372b;
}
.pm-notify-new div {
    border-color: #5d5544;
    background-image: url("{T_THEME_PATH}/images/bg_topnav.png");
}
* html .pm-notify-new div {
    background-color: #484238;
    background-image: url("{T_THEME_PATH}/images/bg_pm.gif");
    background-repeat: repeat-x;
}
.pm-notify-new:hover div {
    border-color: #3d372b;
}
.pm-notify-new p, .pm-notify-new p a, .pm-notify-new p a:visited {
    color: #e8e3d9;
}
.pm-notify-new p a:hover, .pm-notify-new p a:active {
    color: #f6f3ec;
}




/* Round cornered boxes and backgrounds
---------------------------------------- */
.post:target h3 a {
	color: #494337;
}

.block-header {
    background-image: url("{T_THEME_PATH}/images/block_top.gif");
}
.block-header span {
    background-image: url("{T_THEME_PATH}/images/block_top_right.gif");
}
.block-header div {
    background-image: url("{T_THEME_PATH}/images/block_top_left.gif");
}

.block-footer {
    background-image: url("{T_THEME_PATH}/images/block_bottom.gif");
}
.block-footer span {
    background-image: url("{T_THEME_PATH}/images/block_bottom_right.gif");
}
.block-footer div {
    background-image: url("{T_THEME_PATH}/images/block_bottom_left.gif");
}

.block-content {
    background-image: url("{T_THEME_PATH}/images/block_left.gif");
}
.block-inner {
    background-image: url("{T_THEME_PATH}/images/block_right.gif");
}

.block-caption {
    background-image: url("{T_THEME_PATH}/images/block2_top_right.gif");
}
.block-caption-header {
    background-image: none;
    border-color: #3d372b;
}
.block-caption-left {
    background-image: url("{T_THEME_PATH}/images/block2_top_left.gif");
}
.block-caption-bg {
    background-image: url("{T_THEME_PATH}/images/block2_top.gif");
}

.block-caption table {
    background-image: url("{T_THEME_PATH}/images/block2_cap_bg.gif");
}
.block-caption table td {
    background-image: url("{T_THEME_PATH}/images/block2_cap_left.gif");
}
.block-caption-content {
    background-image: url("{T_THEME_PATH}/images/block2_cap_right.gif");
}


div.block-caption span, div.block-caption td, div.block-caption h1, div.block-caption h2, div.block-caption h3, div.block-caption h4, div.block-caption h5, div.block-caption h6 {
    color: #494337;
    text-shadow: #cdc5b6 1px 1px;
}
div.block-caption a, div.block-caption a:visited {
    color: #494337; /* #4d9547 */
    text-decoration: none;
}
div.block-caption a:hover, div.block-caption a:active {
    color: #d02c2c;
    text-decoration: none;
}
.block-inner2 {
    border-color: transparent;
}
* html .block-inner2 {
    border-color: #e0dace;
}


/* Navbar */
.navbar-top-fixed {
    background-image: url("{T_THEME_PATH}/images/bg_topnav.png");
}
* html .navbar-top-fixed {
    background-image: none;
    background-color: #524c42;
}
.navbar-top-fixed .block-inner {
    border-color: #484238;
    border-bottom-color: #3d372b;
}
.navbar-top-fixed .navlinks li {
    color: #a19885;
}
.navbar-top-fixed .navlinks a, .navbar-top-fixed .navlinks a:visited {
    color: #e8e3d9;
}
.navbar-top-fixed .navlinks a:hover, .navbar-top-fixed .navlinks a:active {
    color: #fff;
}

/* Horizontal lists
----------------------------------------*/

.navlinks .rightside, .navlinks .leftside {
    color: #786f5e;
}
.navlinks .timezone {
    color: #635b4b;
}
li.header, th {
    color: #3d372b;
}

.navlinks {
    color: #786f5e;
}

/* Table styles
----------------------------------------*/

table.table1 thead th, #cp-main table.table1 thead th {
	color: #3d372b;
	border-color: #ccc5b8;
}

table.table1 tbody tr {
	border-color: #ccc5b8;
}

table.table1 td {
	color: #3d372b;
}

table.table1 tbody td {
	border-top-color: #e4ded2;
	border-bottom-color: #ccc5b8;
}

table.table1 tbody th {
	border-bottom-color: #ccc5b8;
	color: #3d372b;
}

table.info tbody th {
	color: #3d372b;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #4f493d;
}

dl.details dd {
	color: #4f493d;
}

#smiley-box {
    color: #4f493d;
}

dl.mini dt, .panel {
    color: #4f493d;
}


/* Pagination
---------------------------------------- */

.pagination span strong {
	color: #494337;
	background-color: #e0dace;
	border-color: #d1cabc;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	color: #4d9547;
	background-color: #e4dfd4;
	border-color: #c7c0b1;
}

.row .pagination span a, li.pagination span a {
	background-color: #e4dfd4;
	border-color: #c7c0b1;
}

.pagination span a:hover, .row .pagination span a:hover, li.pagination span a:hover {
	border-color: #d02c2c;
	background-color: #d02c2c;
	color: #fff;
}

.row .pagination {
	background-image: url("{T_THEME_PATH}/images/icon_pages.gif");
}


/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #797368;
}

.error {
	color: #d30f0f;
}

div.rules {
	color: #d30f0f;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a:link	{ color: #4d9547; }
a:visited	{ color: #4d9547; }
a:hover	{ color: #d02c2c; }
a:active	{ color: #d02c2c; }

/* Links on gradient backgrounds */
.forumbg .header a:link, .forabg .header a:link, th a:link {
    color: #3d372b;
}

.forumbg .header a:visited, .forabg .header a:visited, th a:visited {
    color: #3d372b;
}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
    color: #d02c2c;
}

.forumbg .header a:active, .forabg .header a:active, th a:active {
    color: #d02c2c;
}

/* Links for forum/topic lists */
a.forumtitle, a.forumtitle:visited, a.topictitle, a.topictitle:visited {
	color: #4d9547;
}

a.forumtitle:hover, a.topictitle:hover {
	color: #d02c2c;
}

a.forumtitle:active, a.topictitle:active {
	color: #d02c2c;
}

.row-new a.forumtitle, .row-new a.forumtitle:visited, .row-new a.topictitle, .row-new a.topictitle:visited {
	color: #d02c2c;
}

.row-new a.forumtitle:hover, .row-new a.forumtitle:active, .row-new a.topictitle:hover, .row-new a.topictitle:active {
	color: #494337;
}


/* Post body links */
.postlink {
	color: #4d9547;
}

.postlink:visited {
	color: #43803e;
}

.postlink:active {
	color: #d02c2c;
}

.postlink:hover {
	color: #d02c2c;
}

.signature a, .signature a:visited, .signature a:hover, .signature a:active {
	background-color: transparent;
}

/* Profile links */
.postprofile a:link, .postprofile a:visited, .postprofile dt.author a {
	color: #4d9547;
}

.postprofile a:hover, .postprofile dt.author a:hover {
	color: #d02c2c;
}

.postprofile a:active {
    color: #4d9547;
}

/* Profile popup */
.profile-buttons ul {
    border-color: #9c927e;
    background-color: #e0dace;
}
.profile-buttons li a {
    border-color: #e4ded2;
    border-bottom-color: #ccc5b8;
}

/* Back to top of page */
a.top {
	background-image: url("{IMG_ICON_BACK_TOP_SRC}");
}

a.top2 {
	background-image: url("{IMG_ICON_BACK_TOP_SRC}");
}

/* Arrow links  */
a.up		{ background-image: url("{T_THEME_PATH}/images/arrow_up.gif") }
a.down		{ background-image: url("{T_THEME_PATH}/images/arrow_down.gif") }
a.left		{ background-image: url("{T_THEME_PATH}/images/arrow_left.gif") }
a.right		{ background-image: url("{T_THEME_PATH}/images/arrow_right.gif") }

a.up:hover {
	background-color: transparent;
}

a.left:hover {
	color: #d02c2c;
}

a.right:hover {
	color: #d02c2c;
}


/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.topiclist li {
	color: #4f493d;
}

ul.topiclist dd {
	border-left-color: #cfcbc2;
}
li.row:hover dd {
	border-left-color: #c7c3bb;
}

ul.topiclist li.row dt a.subforum.read {
	background-image: url("{IMG_SUBFORUM_READ_SRC}");
}

ul.topiclist li.row dt a.subforum.unread {
	background-image: url("{IMG_SUBFORUM_UNREAD_SRC}");
}

li.row, #cp-main .panel li.row {
	border-top-color:  #e4ded2;
	border-bottom-color: #ccc5b8;
}

li.row strong {
	color: #4f493d;
}

li.header {
	border-bottom-color: #ccc5b8;
}
li.header-inner {
	border-top-color:  #e4ded2;
}

li.header dt, li.header dd {
	color: #3d372b;
}

li.reported {
	background-color: #e1caca;
}
li.reported:hover {
    background-color: #dcb9b9;
}
li.reported {
    border-top-color: #ede7da;
    border-bottom-color: #c7bfaf;
}

/* Forum list column styles */
ul.topiclist dd.searchextra {
	color: #4f493d;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #4f493d;
}
.postbody h3, h3#review {
    background-image: none;
}
.postbody .rules {
    border-color: #9c927e;
}
.postbody .rules:hover {
    border-color: #877d68;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #4f493d;
}

.content h2, .panel h2 {
	color: #4d9547;
	border-bottom-color:  #ccc5b8;
}

dl.faq dt {
	color: #4f493d;
}

.posthilit {
	color: #d12c2c;
}

/* Post signature */
.signature {
	border-top-color: #9e9685;
}

/* Post noticies */
.notice {
	border-top-color:  #9e9685;
}

/* BB Code styles
----------------------------------------*/
.ca-bbcode {
    border-color: #9e9685;
	background-image: url("{T_THEME_PATH}/images/bb_bg.gif");
}
.ca-bbcode2 {
    border-color: #e8e3d9;
}

/* Quote block */
.ca-quote {
	background-image: url("{T_THEME_PATH}/images/bb_quote.gif");
}

blockquote cite {
    color: #4f493d;
}

/* Code block */
dl.codebox dt {
	color: #4f493d;
}

dl.codebox code {
	color: #4f493d;
}

dl.codebox code .highlight {
    color: #4d9547;
}

.syntaxbg		{ color: #FFFFFF; }
.syntaxcomment	{ color: #FF8000; }
.syntaxdefault	{ color: #0000BB; }
.syntaxhtml		{ color: #000000; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #DD0000; }

.code-select {
    background-image: url("{T_THEME_PATH}/images/bb_select.gif");
    height: 13px;
    width: 14px;
}

.code-expand {
    background-image: url("{T_THEME_PATH}/images/bb_expand.gif");
    height: 13px;
    width: 12px;
}
.code-select:hover, .code-expand:hover {
    background-position: 0 -13px;
}

/* Attachments
----------------------------------------*/
.ca-attachment {
	background-image: url("{T_THEME_PATH}/images/bb_attach.gif");
}

.attachbox {
    border-color: #9e9685;
}

.attachbox dd {
	border-top-color: #9e9685;
}

.attachbox p {
	color: #4f493d;
}

.attachbox p.stats {
	color: #4f493d;
}

.attach-image img {
	border-color: #9e9685;
}

/* Inline image thumbnails */

dl.file dd {
	color: #4f493d;
}

dl.thumbnail img {
	border-color: #9e9685;
	background-color: #e0dace;
}

dl.thumbnail dd {
	color: #4f493d;
}

dl.thumbnail dt a:hover img {
	border-color: #d02c2c;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #9e9685;
	color: #4f493d666;
}

fieldset.polls dl.voted {
	color: #000000;
}

fieldset.polls dd div {
	color: #4f493d;
}

fieldset.polls dd div {
	color: #4f493d;
}

fieldset.polls .voted dd div {
	color: #4d9547;
}

fieldset.polls dd div.pollbar div {
    color: #e0dace;
}
fieldset.polls dd div.pollbar-empty div {
    color: #4f493d;
}

.pollbar {
	background-image: url("{T_THEME_PATH}/images/poll_right.gif");
}
.pollbar-full {
	background-image: url("{T_THEME_PATH}/images/poll_right_full.gif");
}
.pollbar div, .pollbar-empty div table {
	background-image: url("{T_THEME_PATH}/images/poll_bg_right.gif");
}
.pollbar table, .pollbar-full div {
	background-image: url("{T_THEME_PATH}/images/poll_bg_left.gif");
}
.pollbar td {
	background-image: url("{T_THEME_PATH}/images/poll_left.gif");
}
.pollbar-empty td {
	background-image: url("{T_THEME_PATH}/images/poll_left_empty.gif");
}




/* Poster profile block
----------------------------------------*/
.profile-block {
	color: #4f493d;
	border-right-color: #ccc5b8;
}
.postprofile {
	border-right-color: #e4ded2;
}

.online .profile-top {
	background-image: url("{IMG_ICON_USER_ONLINE_SRC}");
    padding-bottom: {IMG_ICON_USER_ONLINE_HEIGHT}px;
}

.pm .postprofile {
	border-left-color: #DDDDDD;
}

.postprofile strong {
	color: #000000;
}

/* Post minimize/maximize buttons */
.post-minimize {
	background-image: url("{T_THEME_PATH}/images/post_hide.gif");
}
.post-maximize a {
	background-image: url("{T_THEME_PATH}/images/post_show.gif");
}
.post-minimize, .post-minimize a, .post-maximize, .post-maximize a {
	width: 7px;
	height: 9px;
}
.post-maximize {
    width: 9px;
    border-left-color: #e4ded2;
}
.post-maximize a {
    border-left-color: #ccc5b8;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */

div.buttons a, div.buttons a:visited, div.buttons a:hover, div.buttons a:active {
    color: #e0dace;
}

/* Big button images */
.reply-icon span	{ background-image: url("{IMG_BUTTON_TOPIC_REPLY_SRC}"); }
.post-icon span		{ background-image: url("{IMG_BUTTON_TOPIC_NEW_SRC}"); }
.locked-icon span	{ background-image: url("{IMG_BUTTON_TOPIC_LOCKED_SRC}"); }
.pmreply-icon span	{ background-image: url("{IMG_BUTTON_PM_REPLY_SRC}") ;}
.newpm-icon span 	{ background-image: url("{IMG_BUTTON_PM_NEW_SRC}") ;}
.forwardpm-icon span	{ background-image: url("{IMG_BUTTON_PM_FORWARD_SRC}") ;}

/* Icon images
---------------------------------------- */
.sitehome						{ background-image: url("{T_THEME_PATH}/images/icon_home.gif"); }
.icon-home						{ background-image: url("{T_THEME_PATH}/images/icon_home.gif"); }

/* Profile & navigation icons */
.quote-icon, .quote-icon a		{ background-image: url("{IMG_ICON_POST_QUOTE_SRC}"); }
.report-icon, .report-icon a	{ background-image: url("{IMG_ICON_POST_REPORT_SRC}"); }
.edit-icon, .edit-icon a		{ background-image: url("{IMG_ICON_POST_EDIT_SRC}"); }
.delete-icon, .delete-icon a	{ background-image: url("{IMG_ICON_POST_DELETE_SRC}"); }
.info-icon, .info-icon a		{ background-image: url("{IMG_ICON_POST_INFO_SRC}"); }
.warn-icon, .warn-icon a		{ background-image: url("{IMG_ICON_USER_WARN_SRC}"); }
.top-icon, .top-icon a		    { background-image: url("{IMG_ICON_BACK_TOP_SRC}"); }

/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* CP tabbed menu
----------------------------------------*/
#tabs a, #minitabs a {
	background-image: url("{T_THEME_PATH}/images/bg_tabs1.gif");
}

#tabs a span, #minitabs a span {
	background-image: url("{T_THEME_PATH}/images/bg_tabs2.gif");
	color: #4d9547;
}

#tabs a:hover span, #minitabs a:hover span {
	color: #d02c2c;
}

#tabs .activetab a span, #minitabs .activetab a span {
	color: #d02c2c;
}

#tabs .activetab a:hover span, #minitabs .activetab a:hover span {
	color: #494337;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
#navigation a {
	color: #4d9547;
	border-top-color: #e4ded2;
	border-bottom-color: #ccc5b8;
}

#navigation .active-subsection a, #navigation .inactive-subsection a {
	background-image: url("{T_THEME_PATH}/images/bg_navigation.gif");
}

#navigation a:hover {
	color: #d02c2c;
	background-image: none;
}

#navigation .active-section a {
	color: #d02c2c;
}

#navigation .active-subsection a {
	color: #d02c2c;
}

#navigation .active-section a:hover, #navigation .active-subsection a:hover {
	color: #494337;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
#topicreview a.current, #topicreview a.current:visited {
	color: #4d9547;
}
#topicreview a.current:hover {
	color: #d02c2c;
    text-decoration: underline;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #4d9547;
	border-right-color: #4d9547;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #DA7256;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #ababab;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #506EAE;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #565656;
}

/* Avatar gallery */
#gallery label {
	border-color: #9e9685;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #9e9685;
	background-color: #e0dace;
	color: #4f493d;
}

label {
	color: #4f493d;
}

option.disabled-option {
	color: #797368;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #4f493d;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #3e392f;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #e0dace;
}

/* Posting page styles
----------------------------------------*/

#message-box textarea {
	color: #4f493d;
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #e0dace;
	border-color: #9e9685;
	color: #88806f;
}

.inputbox:hover {
	border-color: #88806f;
	color: #3e392f;
}

.inputbox:focus {
	border-color: #635d4f;
	color: #3e392f;
}

/* Form button styles
---------------------------------------- */

input.button3, a.button2, input.button2 {
	color: #88806f;
	background-color: #e0dace;
}

a.button1, input.button1 {
	border-color: #88806f;
	color: #4d9547;
	background-color: #e0dace;
}

a.button2, input.button2, input.button3 {
	border-color: #9e9685;
}

/* <a> button in the style of the form buttons */
a.button2, a.button2:link, a.button2:visited, a.button2:active {
	color: #4d9547;
}

a.button1, a.button1:link, a.button1:visited, a.button1:active {
	color: #4d9547;
}

/* Hover states */
a.button2:hover, input.button2:hover, input.button3:hover, * html input.button2, * html input.button3 {
    color: #4d9547;
    border-color: #88806f;
}

a.button1:hover, input.button1:hover, * html input.button1 {
    color: #4d9547;
	border-color: #635d4f;
}

input.search {
	background-image: url("{T_THEME_PATH}/images/icon_textbox_search2.gif");
}
input.search:hover, * html .input.search:hover {
	background-image: url("{T_THEME_PATH}/images/icon_textbox_search.gif");
}

input.disabled {
	color: #88806f;
}

/* Search box */
#search-box {
	background-image: url("{T_THEME_PATH}/images/topsearch_bg.gif");
}
#search-box div {
	background-image: url("{T_THEME_PATH}/images/topsearch_left.gif");
}
#search-box div div {
	background-image: url("{T_THEME_PATH}/images/topsearch_right.gif");
}
#search-box input {
    background-color: #ada492;
    border-color: #ada492;
    color: #484238;
}

/* Forum expand */
.forum-expand {
    background-image: url("{T_THEME_PATH}/images/bb_expand.gif");
    height: 13px;
    width: 12px;
}
.forum-expand:hover {
    background-position: 0 -13px;
}


/* CP */
ul.cplist {
    border-color: #ccc5b8;
}
dt span {
    color: #4f493d;
}

