/* General Markup Styles
---------------------------------------- */

* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
	/* Always show a scrollbar for short pages - stops the jump when the scrollbar appears. non-IE browsers */
	height: 101%;
}

body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: Verdana, Helvetica, Arial, sans-serif;
	/*font-size: 62.5%;			 This sets the default font size to be equivalent to 10px */
	font-size: 10px;
	margin: 0;
	padding: 0 10px 10px 10px;
}
body.body-simple {
    padding: 0;
}

h1 {
	/* Forum name */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-right: 200px;
	color: #000;
	margin-top: 15px;
	font-weight: bold;
	font-size: 2em;
}

h2 {
	/* Forum header titles */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #3f3f3f;
	font-size: 2em;
	margin: 0.8em 0 0.2em 0;
}

h2.solo {
	margin-bottom: 1em;
}

h2.leftside {
    clear: none;
    margin-top: 0;
    padding-top: 0;
    float: left;
}

h3 {
	/* Sub-headers (also used as post headers, but defined later) */
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 3px;
	padding-bottom: 2px;
	font-size: 1.05em;
	color: #989898;
	margin-top: 20px;
	background-position: bottom left;
	background-repeat: repeat-x;
}

h4 {
	/* Forum and topic list titles */
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, Sans-serif;
	font-size: 1.3em;
}

p {
	line-height: 1.3em;
	font-size: 1.1em;
	margin-bottom: 1.5em;
}

img {
	border-width: 0;
}

hr {
	border: 0 none #FFFFFF;
	border-top: 1px solid #CCCCCC;
	height: 1px;
	margin: 5px 0;
	display: block;
	clear: both;
}

hr.dashed {
	border-top: 1px dashed #CCCCCC;
	margin: 10px 0;
}

hr.divider {
	display: none;
}

p.right {
	text-align: right;
}

/* Header/footer */
p.top {
    display: inline;
    padding: 0;
    margin: 0;
    height: 0;
    overflow: hidden;
}

#footer-clear { clear: both; }

#global, #content-left, #header, #header-left {
    background-position: top left;
}
#content-right, #header-right {
    background-position: top right;
}
#content-left, #content-right {
    background-repeat: repeat-y;
}
#header {
    background-repeat: repeat-x;
}
#header-left, #header-right {
    background-repeat: no-repeat;
}
#footer, #footer span { 
    clear: both;
    display: block;
    height: 6px;
    line-height: 6px;
    background-position: bottom left;
    background-repeat: repeat-x;
}
#footer span {
    background-repeat: no-repeat;
}
#footer span span {
    background-position: bottom right;
}

#copyrights {
	text-align: center;
	padding: 5px;
	padding-bottom: 0;
	font-size: 10px;
	line-height: 1.4em;
}
#copyrights a, #copyrights a:visited {
	text-decoration: none;
}
#copyrights a:hover, #copyrights a:active {
	text-decoration: underline;
}

#logo { 
    clear: both;
    min-height: 20px;
    height: auto;
    text-align: center;
}
#logo span {
	display: none;
}

/* Main blocks
---------------------------------------- */
#simple-wrap {
	padding: 6px 10px;
}

#page-body {
	margin: 5px 12px;
	clear: both;
}

#page-footer {
	clear: both;
}

#page-footer h3 {
	margin-top: 20px;
}

/* Search box
--------------------------------------------- */
#search-box {
	margin-right: 15px;
	display: block;
	float: right;
	white-space: nowrap; /* For Opera */
	background-repeat: repeat-x;
}
#search-box, #search-box div {
	background-position: top left;
	height: 24px;
}
#search-box div {
    background-repeat: no-repeat;
}
#search-box div div {
    background-position: top right;
    padding-left: 20px;
    padding-right: 7px;
    overflow: hidden;
}
#search-box input {
    border: solid 1px #000;
    font-size: 1em;
    cursor: text;
    margin-top: 2px;
}

#search-box #keywords {
	width: 95px;
}

/* Site description and logo */
#site-description {
	float: left;
	width: 70%;
}

#site-description h1 {
	margin-right: 0;
}

/* Top navigation */
#topnav {
	position: relative;
	margin-left: 15px;
	display: block;
	float: left;
	white-space: nowrap; /* For Opera */
	background-repeat: repeat-x;
}
#topnav, #topnav div {
	background-position: top left;
	height: 24px;
}
#topnav div {
    background-repeat: no-repeat;
}
#topnav div div {
    background-position: top right;
    padding-left: 10px;
    padding-right: 6px;
}
#topnav ul.topnav {
    margin: 0;
    padding: 0;
}
#topnav ul.topnav li {
    margin-top: 0;
    padding-top: 5px;
    line-height: 1em;
}


/* Horizontal lists
----------------------------------------*/
ul.linklist {
	display: block;
	margin: 0;
}

ul.linklist li {
	display: block;
	list-style-type: none;
	float: left;
	width: auto;
	margin-right: 5px;
	font-size: 1.1em;
	line-height: 2.2em;
}

ul.linklist li.rightside, p.rightside {
	float: right;
	margin-right: 0;
	margin-left: 5px;
	text-align: right;
}

ul.navlinks {
	font-weight: bold;
}

ul.navlinks li.rightside, ul.navlinks li.leftside {
    font-size: 1em;
    font-weight: normal;
    padding-top: 1px;
    margin-left: 0;
    margin-right: 0;
}

ul.leftside {
	float: left;
	margin-left: 0;
	margin-right: 5px;
	text-align: left;
}

ul.rightside {
	float: right;
	margin-left: 5px;
	margin-right: 0;
	text-align: right;
}

/* Table styles
----------------------------------------*/
table.table1 {
	/* See tweaks.css */
}

#ucp-main table.table1 {
	padding: 2px;
}

table.table1 thead th {
	font-weight: normal;
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 1.3em;
	font-size: 1em;
	padding: 2px 3px;
}

table.table1 thead th span {
	padding-left: 7px;
}

table.table1 tbody tr {
	border: 1px solid #cfcfcf;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	color: #000;
}

table.table1 td {
	color: #6a6a6a;
	font-size: 1.1em;
}

table.table1 tbody td {
	padding: 5px;
	border-top: 1px solid #FAFAFA;
	border-bottom: 1px solid #FAFAFA;
}

table.table1 tbody th {
	padding: 5px;
	border-bottom: 1px solid #000000;
	text-align: left;
	color: #333333;
}

/* Specific column styles */
table.table1 .name		{ text-align: left; }
table.table1 .posts		{ text-align: center !important; width: 7%; }
table.table1 .joined	{ text-align: left; width: 15%; }
table.table1 .active	{ text-align: left; width: 15%; }
table.table1 .mark		{ text-align: center; width: 7%; }
table.table1 .info		{ text-align: left; width: 30%; }
table.table1 .info div	{ width: 100%; white-space: normal; overflow: hidden; }
table.table1 .autocol	{ line-height: 2em; white-space: nowrap; }
table.table1 thead .autocol { padding-left: 1em; }

table.table1 span.rank-img {
	float: right;
	width: auto;
}

table.info td {
	padding: 3px;
}

table.info tbody th {
	padding: 3px;
	text-align: right;
	vertical-align: top;
	color: #000000;
	font-weight: normal;
}

.forumbg table.table1 {
	margin: 0 -2px -1px -1px;
}

/* Misc layout styles
---------------------------------------- */
/* column[1-2] styles are containers for two column layouts 
   Also see tweaks.css */
.column1 {
	float: left;
	clear: left;
	width: 49%;
}

.column2 {
	float: right;
	clear: right;
	width: 49%;
}

/* General classes for placing floating blocks */
.left-box {
	float: left;
	width: auto;
	text-align: left;
}

.right-box {
	float: right;
	width: auto;
	text-align: right;
}

dl.details {
	/*font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;*/
	font-size: 1.1em;
}

dl.details dt {
	float: left;
	clear: left;
	width: 30%;
	text-align: right;
	color: #000000;
	display: block;
}
dl.details dd {
	margin-left: 0;
	padding-left: 5px;
	margin-bottom: 5px;
	color: #828282;
	float: left;
	width: 65%;
}

/* Pagination
---------------------------------------- */
.pagination {
	height: 1%; /* IE tweak (holly hack) */
	width: auto;
	text-align: right;
	margin-top: 5px;
	float: right;
}

.pagination span.page-sep {
	display: none;
}

li.pagination {
	margin-top: 0;
}

.pagination strong, .pagination b {
	font-weight: normal;
}

.pagination span strong {
	padding: 0 2px;
	margin: 0 2px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #bfbfbf;
	border: 1px solid #bfbfbf;
	font-size: 0.9em;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	font-weight: normal;
	text-decoration: none;
	color: #747474;
	margin: 0 2px;
	padding: 0 2px;
	background-color: #eeeeee;
	border: 1px solid #bababa;
	font-size: 0.9em;
	line-height: 1.5em;
}

.pagination span a:hover {
	border-color: #d2d2d2;
	background-color: #d2d2d2;
	color: #FFF;
	text-decoration: none;
}

.pagination img {
	vertical-align: middle;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	display: block;
	float: right;
	width: auto;
	margin-top: 0;
	padding: 1px 0 1px 15px;
	font-size: 0.9em;
	background: none 0 50% no-repeat;
}

/* Miscellaneous styles
---------------------------------------- */
#forum-permissions {
	float: right;
	width: auto;
	padding-left: 5px;
	margin-left: 5px;
	margin-top: 10px;
	text-align: right;
}

.copyright {
	padding: 5px;
	text-align: center;
	color: #555555;
}

.small {
	font-size: 0.9em !important;
}

.titlespace {
	margin-bottom: 15px;
}

.headerspace {
	margin-top: 20px;
}

.error {
	color: #bcbcbc;
	font-weight: bold;
	font-size: 1em;
}

div.rules {
	color: #bcbcbc;
	margin: 10px 0;
	font-size: 1.1em;
}

div.rules ul, div.rules ol {
	margin-left: 20px;
}

p.rules {
	padding: 5px;
}

p.rules img {
	vertical-align: middle;
	padding-top: 5px;
}

p.rules a {
	vertical-align: middle;
	clear: both;
}

#top {
	position: absolute;
	top: -20px;
}

.clear {
	display: block;
	clear: both;
	font-size: 1px;
	line-height: 1px;
	background: transparent;
}

/* PM notification */
.pm-notify-unread {
    margin: 5px 0;
    text-align: center;
}
.pm-notify-new {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-top: -80px;
    margin-left: -250px;
    text-align: center;
    padding: 1px;
    border: solid 1px #000;
}
* html .pm-notify-new {
    position: absolute;
    top: 50px;
    margin-top: 0;
}
.pm-notify-new div {
    padding: 1px;
    border: solid 1px #000;
    background-position: top left;
    padding: 30px 0 40px;
}
p.pm-notify {
    padding: 15px;
    padding-bottom: 5px;
    margin: 0;
    text-align: center;
}
.pm-notify-new p.pm-notify {
    padding-top: 30px;
    padding-bottom: 20px;
}
.pm-notify-new p.pm-notify a {
    text-decoration: none;
}
p.pm-notify a, .pm-notify-new p.pm-notify a:hover {
    text-decoration: underline;
}
.pm-notify-new p.pm-notify a {
    font-size: 1.1em;
}
p.pm-close {
    padding: 10px;
    margin: 0;
    text-align: center;
}

/* Navbar */
#page-header {
    clear: both;
    margin: 0 12px;
    padding: 0;
    position: relative;
}

.navbar {
    padding: 0;
    margin: 0;
    position: relative;
}
.navbar ul.navlinks li {
    line-height: 1.4em;
}
.navbar .block-inner {
    padding: 0 8px 0 3px;
}
.navbar-top .block-inner {
    padding-left: 0;
}
.navbar li.navbar-hidden { 
    display: none; 
}
.navbar-has-hidden .navbar-top-fixed li.navbar-hidden { 
    display: block; 
}
.navbar-has-hidden .navbar-top-fixed li.icon-home { 
    font-weight: normal; 
}
.navbar-has-hidden .navbar-top-fixed .home-extra { 
    display: none;
}

.navbar-top-fixed .block-header, .navbar-top-fixed .block-footer {
    display: none;
}
.navbar-top-fixed .block-inner, .navbar-top-fixed .block-content {
    padding: 0;
    background-image: none;
}
.navbar-top-fixed {
}
.navbar-top-fixed .block-inner {
    padding: 5px;
    padding-right: 10px;
    border: solid 2px #000;
    border-top-width: 0;
}
