/* Control Panel Styles
---------------------------------------- */


/* Main CP box
----------------------------------------*/
#cp-menu {
	float:left;
	width: 19%;
	margin-top: 1em;
	margin-bottom: 5px;
}

#cp-main {
	float: left;
	width: 81%;
}

#cp-inner {
    padding-left: 10px;
}

#cp-main .content {
	padding: 0;
}

#cp-main h3, #cp-main hr, #cp-menu hr {
	border-color: #bfbfbf;
}

#cp-main .panel p {
	font-size: 1.1em;
}

#cp-main .panel ol {
	margin-left: 2em;
	font-size: 1.1em;
}

#cp-main .panel li.row {
	border-bottom: 1px solid #cbcbcb;
	border-top: 1px solid #F9F9F9;
}

ul.cplist {
	margin-bottom: 5px;
	border-top: 1px solid #cbcbcb;
}

#cp-main .panel li.header dd, #cp-main .panel li.header dt {
	color: #000000;
	margin-bottom: 2px;
}

#cp-main table.table1 {
	margin-bottom: 1em;
}

#cp-main table.table1 thead th {
	color: #333333;
	font-weight: bold;
	border-bottom: 1px solid #333333;
	padding: 5px;
}

#cp-main table.table1 tbody th {
	font-style: italic;
	background-color: transparent !important;
	border-bottom: none;
}

#cp-main .pagination {
	float: right;
	width: auto;
	padding-top: 1px;
}

#cp-main .postbody p {
	font-size: 1.1em;
}

#cp-main .pm-message {
	border: 1px solid #e2e2e2;
	margin: 10px 0;
	width: auto;
	float: none;
}

.pm-message h2 {
	padding-bottom: 5px;
}

#cp-main .postbody h3, #cp-main .box2 h3 {
	margin-top: 0;
}

#cp-main .buttons {
	margin-left: 0;
}

#cp-main ul.linklist {
	margin: 0;
}

/* MCP Specific tweaks */
.mcp-main .postbody {
	width: 100%;
}

/* Left blocks */
.cp-mini {
	padding: 0;
	margin: 10px 0;
}
#navigation {
    padding: 0;
}

/* CP tabbed menu
----------------------------------------*/
#tabs, #minitabs {
	line-height: normal;
	margin: 19px 0 -7px 7px;
	min-width: 570px;
}

#tabs ul, #minitabs ul {
	margin:0;
	padding: 0;
	list-style: none;
}

#tabs li, #minitabs li {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: bold;
}

#tabs a, #minitabs a {
	float: left;
	background: none no-repeat 0% -35px;
	margin: 0 1px 0 0;
	padding: 0 0 0 5px;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	z-index: 2;
}

#tabs a span, #minitabs a span {
	float: left;
	display: block;
	background: none no-repeat 100% -35px;
	padding: 7px 10px 4px 5px;
	color: #828282;
	white-space: nowrap;
}

#tabs a:hover span, #minitabs a:hover span {
	color: #bcbcbc;
}

#tabs .activetab a, #minitabs .activetab a {
	background-position: 0 0;
}

#tabs .activetab a span, #minitabs .activetab a span {
	background-position: 100% 0;
	padding-bottom: 6px;
	color: #333333;
}

#tabs a:hover, #minitabs a:hover {
	background-position: 0 -70px;
}

#tabs a:hover span, #minitabs a:hover span {
	background-position:100% -70px;
}

#tabs .activetab a:hover, #minitabs .activetab a:hover {
	background-position: 0 0;
}

#tabs .activetab a:hover span, #minitabs .activetab a:hover span {
	color: #000000;
	background-position: 100% 0;
}

/* UCP navigation menu
----------------------------------------*/
/* Container for sub-navigation list */
#navigation {
	width: 100%;
}

#navigation ul {
	list-style:none;
}

/* Default list state */
#navigation li {
	margin: 1px 0;
	padding: 0;
	font-weight: bold;
	display: inline;
}

/* Link styles for the sub-section links */
#navigation a {
	display: block;
	padding: 5px;
	margin: 0;
	text-decoration: none;
	font-weight: bold;
	color: #333;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #ccc;
}
#navigation a.last-row {
    border-bottom-width: 0;
}
#navigation .active-subsection a.last-row, #navigation .inactive-subsection a.last-row {
    border-bottom-width: 1px;
}

#navigation a:hover {
	text-decoration: none;
	color: #bcbcbc;
}

#navigation .active-subsection a, #navigation .active-section a {
	display: block;
	color: #d3d3d3;
}

#navigation .active-subsection a:hover, #navigation .active-section a:hover {
	color: #d3d3d3;
}

#navigation .active-subsection a, #navigation .inactive-subsection a {
    padding-left: 13px;
	font-weight: normal;
	background-repeat: no-repeat;
}

#navigation .active-subsection a {
	background-position: 0 1px;
}

#navigation .inactive-subsection a {
    background-position: 0 -23px;
}
#navigation .inactive-subsection a:hover {
    background-position: 0 -47px;
}
#navigation .active-subsection a:hover {
    background-position: 0 -71px;
}

/* Friends list */
dl.mini dt {
	font-weight: bold;
	color: #676767;
}

dl.mini dd {
	padding-top: 4px;
}

.friend-online {
	font-weight: bold;
}

.friend-offline {
	font-style: italic;
}

/* PM Styles
----------------------------------------*/
#pm-menu {
	line-height: 2.5em;
}

/* PM panel adjustments */
.reply-all {
	display: block;
	padding-top: 4px;
	clear: both;
	float: left;
}

.pm-panel-message {
	padding-top: 10px;
}

.pm-return-to {
	padding-top: 23px;
}

#cp-main .pm-message-nav {
	margin: 0;
	padding: 2px 10px 5px 10px;
	border-bottom: 1px dashed #A4B3BF;
}

/* PM Message history */
.current {
	color: #999999;
}

/* Defined rules list for PM options */
ol.def-rules {
	padding-left: 0;
}

ol.def-rules li {
	line-height: 180%;
	padding: 1px;
}

/* PM marking colours */
.pmlist li.bg1 {
	padding: 0 3px;
}

.pmlist li.bg2 {
	padding: 0 3px;
}

.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #bcbcbc;
	border-right-color: #bcbcbc;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	padding: 0;
	border: solid 3px #ffffff;
	border-width: 0 3px;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	padding: 0;
	border: solid 3px #c2c2c2;
	border-width: 0 3px;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	padding: 0;
	border: solid 3px #bdbdbd;
	border-width: 0 3px;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	padding: 0;
	border: solid 3px #000000;
	border-width: 0 3px;
}

.pm-legend {
	border-left-width: 10px;
	border-left-style: solid;
	border-right-width: 0;
	margin-bottom: 3px;
	padding-left: 3px;
}

/* Avatar gallery */
#gallery label {
	position: relative;
	float: left;
	margin: 10px;
	padding: 5px;
	width: auto;
	border: 1px solid #CCC;
	text-align: center;
}

