/* 
    CSS tweaks for all IE browsers

    Note: file is being included after other css
*/


* html table, * html select, * html input { font-size: 100%; }
* html hr { margin: 0; }

* html ul.topiclist li { position: relative; }
* html .postbody h3 img { vertical-align: middle; }


* html .buttons div {
    font-size: 10px;
}

/* input buttons height */
* html input.button1, * html input.button2 { /* ie6 */
	padding-bottom: 0;
	margin-bottom: 0;
}
html>body input.button1, html>body input.button2 { /* ie8 */
    padding-bottom: 2px;
    padding-top: 2px;
}
html>body input.button1, html>body input.button2, #ie8#ignore { /* ie7 */
    padding-bottom: 1px;
    padding-top: 0;
}

/* profile buttons fix */
ul.profile-icons, ul.searchresults {
	width: 99%;
	float: right;
}
* html ul.profile-icons, * html ul.searchresults {
    float: none;
    width: auto;
}
.profile-fix {
    border-width: 0;
    background-color: transparent;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

* html .post-maximize, * html .post-minimize { display: none; }

/* IE 7 clearing div fix */
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clear { display: inline-block; }
* html .clear { height:1px; }

/* BBCode fix for IE7 */
.code-links, #ignore#ie8 {
    width: 100px;
}

/* Profile view, FAQ */
* html .post-profile, * html .post-content, * html .column1 { position: relative; }

/* Header/footer fixes */

* html #search-box input#keywords { width: 100px; }
* html #search-box { width: 130px; }
* html #topnav, * html #topnav div { float: left; position: relative; }
* html #logo { 
    height: 20px;
}
* html #header { border-top: solid 1px #484238; }
* html #search-box { margin-right: 10px; }
* html #topnav { margin-left: 10px; }

* html .ie-hidden {
    color: #e0dace;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
}

#search-box, #topnav, #logo, #header, #page-footer, #page-header, #page-body { zoom: 1; }

/* Blocks */
html>body .block-caption-content, #ie8#ignore {
    min-width: auto;
}
.block-content, .block-inner, div.panel {
    zoom: 1;
}
.navbar-top-fixed ul { zoom: 1; }

/* Forums list: links */
* html li.row dl.icon dt
{
    height: 35px;
    overflow: visible;
}

/* Tables */
* html .forumbg table.table1, * html #ucp-main table.table1 { margin: 0; padding: 0; }

/* MCP */
* html ul.topiclist { position: relative; }
#topicreview { position: relative; }

