<!-- INCLUDE overall_header.html -->

<h1>{L_TITLE}</h1>

<p>{L_TITLE_EXPLAIN}</p>

<!-- IF PAGE0 -->
<!-- BEGIN page0 -->
<form action="{page0.ACTION0}" method="post" name="post_config">
<table class="tablebg" width="100%" cellspacing="0" border="0">
	<tr>
		<th colspan="2"> {page0.L_SETT} </th>
	</tr>
	<tr class="row1">
		<td width="70%"> <b> {page0.L_OFF} </b></td>
		<td><input type="checkbox" name="a_aukz_pause" style="cursor:pointer" {page0.CHK_PAUSE} /> {page0.L_YES}</td>
	</tr>
	<tr class="row2">
		<td> <b> {page0.L_MONEY_NAME} </b><br />{page0.L_MONEY_NAME2}</td>
		<td> <input type="text" name="a_money_name" size="15" maxlength="16" value="{page0.POINTS}" class="post" /> ( {page0.FORUM_POINTS} )</td>
	</tr>
	<tr class="row1">
		<td> <b> {page0.L_ONLY}</b><br />{page0.L_ONLY2}</td>
		<td> <input type="text" name="a_users" size="15" maxlength="50" value="{page0.USERS_CAN}" class="post" /></td>
	</tr>
	<tr class="row2">
		<td> <b> {page0.L_PAY} </b><br />{page0.L_PAY2}</td>
		<td>
			<input type="radio" name="a_plata" style="cursor:pointer" value="1" {page0.CHK1_PLATA} />  <input type="text" name="a_plata1" size="6" maxlength="6" value="{page0.PLATA_N}" class="post" /> {page0.POINTS}
			<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{page0.L_LIBO}<br />
			<input type="radio" name="a_plata" style="cursor:pointer" value="2" {page0.CHK2_PLATA} />  <input type="text" name="a_plata2" size="6" maxlength="2" value="{page0.PLATA_P}" class="post" /> {page0.L_PROC}
 		</td>
	</tr>
	<tr class="row1">
		<td> <b> {page0.L_MAXSROK} </b><br />{page0.L_MAXSROK2}</td>
		<td> <input type="text" name="a_srok" size="6" maxlength="6" value="{page0.SROK}" class="post" /> {page0.L_HH}</td>
	</tr>
	<tr class="row2">
		<td> <b> {page0.L_SHAG} </b><br />{page0.L_SHAG2}</td>
		<td>
			<input type="radio" name="a_shag" style="cursor:pointer" value="1" {page0.CHK1_SHAG} />  <input type="text" name="a_shag1" size="6" maxlength="6" value="{page0.SHAG_N}" class="post" /> {page0.POINTS}
			<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{page0.L_LIBO}<br />
			<input type="radio" name="a_shag" style="cursor:pointer" value="0" {page0.CHK0_SHAG} />  <input type="text" name="a_shag0" size="6" maxlength="6" value="{page0.SHAG_P}" class="post" /> {page0.L_PROCLAST}
		</td>
	</tr>
	<tr class="row1">
		<td> <b> {page0.L_ANTIS} </b><br />{page0.L_ANTIS2}</td>
		<td> <input type="checkbox" name="a_antis" style="cursor:pointer" {page0.CHK_ANTIS} /> {page0.L_YES}, <input type="text" name="a_antist" size="6" maxlength="6" value="{page0.ANTIST}" class="post" /> {page0.L_MM}</td>
	</tr>
	<tr class="row2">
		<td> <b> {page0.L_REM} </b><br />{page0.L_REM2} </td>
		<td> <input type="checkbox" name="a_hist" style="cursor:pointer" {page0.CHK_HIST} /> {page0.L_YES} </td>
	</tr>
	<tr class="row1">
		<td> <b> {page0.L_HIST_DEPTH} </b><br />{page0.L_HIST_DEPTH2}</td>
		<td> <input type="text" name="a_hist_depth" size="6" maxlength="6" value="{page0.HIST_DEPTH}" class="post" /> {page0.L_DS}</td>
	</tr>
	<tr class="row2">
		<td> <b> {page0.L_PAY_LEADERS} </b></td>
		<td> <input type="text" name="a_pay_leaders" size="6" maxlength="6" value="{page0.PRICE_2}" class="post" /> {page0.POINTS}</td>
	</tr>
	<tr class="row1">
		<td> <b> {page0.L_FORUM_ID} </b><br />{page0.L_FORUM_ID2}</td>
		<td> <input type="text" name="a_forum_id" size="6" maxlength="6" value="{page0.FORUM_ID}" class="post" /></td>
	</tr>
	<tr class="row2">
		<td> <b> {page0.L_FORUMD_ID} </b><br />{page0.L_FORUMD_ID2}</td>
		<td> <input type="text" name="a_forumd_id" size="6" maxlength="6" value="{page0.FORUMD_ID}" class="post" /></td>
	</tr>
	<tr class="row1">
		<td> <b> {page0.L_ADMIN_ID} </b><br />{page0.L_ADMIN_ID2}</td>
		<td> <input type="text" name="a_adm_id" size="6" maxlength="6" value="{page0.ADMIN_ID}" class="post" /></td>
	</tr>
	<tr class="row2">
		<td> <b> {page0.L_DOUBLE_ID} </b><br />{page0.L_DOUBLE_ID2}</td>
		<td> <input type="text" name="a_double_id" size="6" maxlength="6" value="{page0.DOUBLE_ID}" class="post" /></td>
	</tr>
	<tr class="row1">
		<td width="70%"> <b> {page0.L_USER_GO} </b><br />{page0.L_USER_GO2}</td>
		<td><input type="checkbox" name="a_user_go" style="cursor:pointer" {page0.CHK_USER_GO} /> {page0.L_YES}</td>
	</tr>
	<tr class="row2">
		<td width="70%"> <b> {page0.L_USER_EDIT} </b><br />{page0.L_USER_EDIT2}</td>
		<td><input type="checkbox" name="a_user_edit" style="cursor:pointer" {page0.CHK_USER_EDIT} /> {page0.L_YES}</td>
	</tr>
	<tr class="row1">
		<td width="70%"> <b> {page0.L_USER_DELETE} </b><br />{page0.L_USER_DELETE2}</td>
		<td><input type="checkbox" name="a_user_delete" style="cursor:pointer" {page0.CHK_USER_DELETE} /> {page0.L_YES}</td>
	</tr>
</table>
<br />
<center><input type="submit" name="save_conf_aukz" style="cursor:pointer" value="{page0.L_SAVE}" /></center>
<!--
<br />
<br />
<table class="tablebg" width="100%" cellspacing="0" border="0">
	<tr>
		<th colspan="2"> {page0.L_UTILS} </th>
	</tr>
	<tr class="row1">
		<td width="70%"> <b> {page0.L_DEL5}</b>,<br />{page0.L_DEL52} </td>
		<td><input type="checkbox" style="cursor:pointer" name="del_hist1"> <input type="submit" name="del_hist2" style="cursor:pointer" value="{page0.L_YES}" /></td>
	</tr>
	<tr class="row2">
		<td> <b> {page0.L_DEL_ALL}</b></td>
		<td><input type="checkbox" style="cursor:pointer" name="del_cl1" /> <input type="submit" name="del_cl2" style="cursor:pointer" value="{page0.L_YES}" /></td>
	</tr>
</table>
</form>
-->
<!-- END page0 -->
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->