<!-- DEFINE $CA_PAGE = 'index' --><!-- INCLUDE overall_header.html -->

<p class="indexlinks {S_CONTENT_FLOW_END} rightside">
    {CURRENT_TIME}
    <!-- IF U_MCP -->
        <br /><a href="{U_MCP}">{L_MCP}</a>
    <!-- ENDIF -->
    <!-- IF not S_IS_BOT and U_MARK_FORUMS -->
        <!-- IF U_MCP --> &bull; <!-- ELSE --><br /><!-- ENDIF -->
        <a href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a>
    <!-- ENDIF -->
</p>
<p class="indexlinks">
    <!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<br /><!-- ENDIF -->
    <!-- IF S_DISPLAY_SEARCH -->
        <a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a>
        <!-- IF S_USER_LOGGED_IN and not S_IS_BOT --> 
            <!-- IF S_LOAD_UNREADS -->&bull; <a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a><!-- ENDIF -->
            &bull; <a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a>
        <!-- ENDIF -->
        &bull; <a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a>
    <!-- ELSE -->
        &nbsp;
    <!-- ENDIF -->
</p>

<!-- INCLUDE forumlist_body.html -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<form method="post" action="{S_LOGIN_ACTION}" class="headerspace">
	{$CA_PANEL_START}
	<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>
		<fieldset class="quick-login">
			<label for="username">{L_USERNAME}:</label>&nbsp;<input type="text" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" />  
			<label for="password">{L_PASSWORD}:</label>&nbsp;<input type="password" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" />
			<!-- IF S_AUTOLOGIN_ENABLED -->
				| <label for="autologin">{L_LOG_ME_IN} <input type="checkbox" name="autologin" id="autologin" /></label>
			<!-- ENDIF -->
			<input type="submit" name="login" value="{L_LOGIN}" class="button2" />
			{S_LOGIN_REDIRECT}
		</fieldset>
	{$CA_PANEL_END}
	</form>
<!-- ENDIF -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
    {$CA_PANEL_START}
	<!-- IF U_VIEWONLINE --><h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3><!-- ELSE --><h3>{L_WHO_IS_ONLINE}</h3><!-- ENDIF -->
	<p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
	<!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF --></p>
	{$CA_PANEL_END}
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
    {$CA_PANEL_START}
	<h3>{L_BIRTHDAYS}</h3>
	<p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
	{$CA_PANEL_END}
<!-- ENDIF -->

<!-- IF NEWEST_USER -->
    {$CA_PANEL_START}
	<h3>{L_STATISTICS}</h3>
	<p>{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}</p>
	{$CA_PANEL_END}
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
