<!-- DEFINE $CA_PAGE = 'login' --><!-- INCLUDE overall_header.html -->


<form id="login_forum" method="post" action="{S_LOGIN_ACTION}">
{S_FORM_TOKEN}
<div class="panel">
	{$CA_BLOCK2_START}
        <h2 class="solo">{L_LOGIN} {FORUM_NAME}</h2>
	{$CA_BLOCK2_START2}

	<p>{L_LOGIN_FORUM}</p>

	<fieldset class="fields2">
	<!-- IF LOGIN_ERROR -->
		<dl>
			<dt>&nbsp;</dt>
			<dd class="error">{LOGIN_ERROR}</dd>
		</dl>
	<!-- ENDIF -->
	<dl>
		<dt><label for="password">{L_PASSWORD}:</label></dt>
		<dd><input class="inputbox narrow" type="password" name="password" id="password" size="25" tabindex="1" /></dd>
	</dl>
	<dl class="fields2">
		<dt>&nbsp;</dt>
		<dd>{S_HIDDEN_FIELDS}<input type="submit" name="login" id="login" class="button1" value="{L_LOGIN}" tabindex="2" /></dd>
	</dl>
	{S_LOGIN_REDIRECT}
	</fieldset>

	{$CA_BLOCK2_END}
</div>

</form>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
