
<h3 id="review">
	<span class="right-box"><a href="#review" onclick="viewableArea(getElementById('topicreview'), true); var rev_text = getElementById('review').getElementsByTagName('a').item(0).firstChild; if (rev_text.data == '{LA_EXPAND_VIEW}'){rev_text.data = '{LA_COLLAPSE_VIEW}'; } else if (rev_text.data == '{LA_COLLAPSE_VIEW}'){rev_text.data = '{LA_EXPAND_VIEW}'};">{L_EXPAND_VIEW}</a></span>
	{L_TOPIC_REVIEW}: {TOPIC_TITLE}
</h3>

<div id="topicreview">
<script type="text/javascript">
// <![CDATA[
	bbcodeEnabled = {S_BBCODE_ALLOWED};
// ]]>
</script>
	<!-- BEGIN topic_review_row -->
	<div class="post <!-- IF topic_review_row.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- IF topic_review_row.S_IGNORE_POST --> post-ignore<!-- ENDIF -->">
		{$CA_BLOCK_START}

        <!-- IF topic_review_row.S_IGNORE_POST -->
            <p>{topic_review_row.L_IGNORE_POST}</p>
        <!-- ENDIF -->
		
		<div class="postbody" id="pr{topic_review_row.POST_ID}">
			<p class="author"><!-- IF S_IS_BOT -->{topic_review_row.MINI_POST_IMG}<!-- ELSE --><a href="{topic_review_row.U_MINI_POST}">{topic_review_row.MINI_POST_IMG}</a><!-- ENDIF --> {L_POST_BY_AUTHOR} <strong>{topic_review_row.POST_AUTHOR_FULL}</strong> &raquo; {topic_review_row.POST_DATE}
                <!-- IF topic_review_row.U_MCP_DETAILS --> | <a href="{topic_review_row.U_MCP_DETAILS}">{L_POST_DETAILS}</a><!-- ENDIF -->
            </p>
			<h3><a href="#pr{topic_review_row.POST_ID}">{topic_review_row.POST_SUBJECT}</a></h3>
			<div class="content">{topic_review_row.MESSAGE}</div>

			<!-- IF topic_review_row.S_HAS_ATTACHMENTS -->
			    <div class="ca-bbcode"><div class="ca-bbcode2 ca-attachment">
				<dl class="attachbox">
					<dt>{L_ATTACHMENTS}</dt>
					<!-- BEGIN attachment -->
						<dd>{topic_review_row.attachment.DISPLAY_ATTACHMENT}</dd>
					<!-- END attachment -->
				</dl>
				</div></div>
			<!-- ENDIF -->

			<!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE -->
				<div id="message_{topic_review_row.POST_ID}" style="display: none;">{topic_review_row.DECODED_MESSAGE}</div>
			<!-- ENDIF -->
			<!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE -->
			<ul class="profile-icons">
				<li class="quote-icon"><a href="#postingbox" onclick="addquote({topic_review_row.POST_ID}, '{topic_review_row.POSTER_QUOTE}', '{LA_WROTE}');" title="{L_QUOTE} {topic_review_row.POST_AUTHOR}"><span>{L_QUOTE} {topic_review_row.POST_AUTHOR}</span></a></li>
			</ul>
            <div class="clear"></div>
			<!-- ENDIF -->
		</div>
		{$CA_BLOCK_END}
	</div>
	<!-- END topic_review_row -->
</div>

<hr />

<!-- IF S_MCP_REPORT -->
	<p><a href="#report" class="top2">{L_BACK_TO_TOP}</a></p>
<!-- ELSE -->
	<p><a href="#postingbox" class="top2">{L_BACK_TO_TOP}</a></p>
<!-- ENDIF -->
<div class="clear"></div>
