
<!-- IF S_CHAT_ENABLED or S_CHAT_IN_ARCHIVE -->
	<link href="{T_CHAT_PATH}assets/css/common.css?v={S_CHAT_VERSION}" rel="stylesheet" type="text/css" media="screen, projection" />
	<link href="{T_THEME_PATH}/chat.css?v={S_CHAT_VERSION}" rel="stylesheet" type="text/css" media="screen, projection" />

	<!-- IF S_CHAT_EMBEDMODE --><link href="{T_CHAT_PATH}assets/css/embed.css?v={S_CHAT_VERSION}" rel="stylesheet" type="text/css" media="screen, projection" /><!-- ENDIF -->
	
	<!--[if lt IE 8]>
	<link href="{T_CHAT_PATH}assets/css/iefix.css?v={S_CHAT_VERSION}" rel="stylesheet" type="text/css" />
	<![endif]-->
	
	<script type="text/javascript" src="{T_CHAT_PATH}assets/js/jquery.min.js?v=1.11.1"></script>
	<script type="text/javascript" src="{T_CHAT_PATH}assets/js/jchat.js?v={S_CHAT_VERSION}"></script>
	<!-- IF S_CHAT_OPTIONS_FILE --><script type="text/javascript" src="{S_CHAT_OPTIONS_FILE}"></script><!-- ENDIF -->

	<script type="text/javascript">
	// <![CDATA[
	jchat(function($) {
		$('#chat-body').chat({
	<!-- IF S_CHAT_ENABLED -->
			lang: {
				flood_wait	: '{LA_CHAT_FLOOD_WAIT}'
			},
			options: {
				autoconnect	: <!-- IF S_CHAT_AUTOCONNECT -->true<!-- ELSE -->false<!-- ENDIF -->,
				direction	: '{S_CHAT_DIRECTION}',
				guest_room	: '{S_CHAT_GUEST_ROOM}',
				flood_time	: '{S_CHAT_FLOOD_TIME}',
				height		: '{S_CHAT_HEIGHT}',
				max_chars	: '{S_CHAT_MAX_CHARS}',
				max_rows	: '{S_CHAT_MAX_ROWS}',
				page		: '{S_CHAT_CURRENT_PAGE}',
				position	: '{S_CHAT_POSITION}',
				refresh		: '{S_CHAT_REFRESH}',
				<!-- IF S_CHAT_DEBUG -->debug	: true,<!-- ENDIF -->
			<!-- IF S_CHAT_SOUND_ENABLED -->
				player	: {
					url		: '{U_CHAT_PLAYER}',
					flashvars	: {
						path	: '{S_CHAT_PLAYER_PATH}'
					}
				},
			<!-- ENDIF -->
				cookie		: {
					name		: '{S_COOKIE_NAME}_chat',
					settings	: '{A_COOKIE_SETTINGS}'
				}
			}
	<!-- ELSE -->
			mode	: 'archive',
			options	: {
				max_chars	: '{S_CHAT_MAX_CHARS}'
			}
	<!-- ENDIF -->
		});
	});
	// ]]>
	</script>
<!-- ENDIF -->
dsfsdf