/* You have the right to customize this skin as you want as the credits remain in place.

DO NOT REMOVE CREDITS!!!!!!!!!

http://www.phpbb-skin.info/skinlab
Alpha Trion

*/

a.cp_left:link , a.cp_left:visited {
color : #ffffff;
}
a.cp_left:hover, a.cp_left:active {
color : #cccccc;
}
.cp_left {
background :  url('./images/cp_center.png') repeat-x left 0%;
border-right : 1px solid #444444;
border-left : 1px solid #000000;
color : #4d4c46;
font-weight : bold;
float : left;
text-align : center;
margin: 0px 0px 0px 0px;
font-size : 10px;
padding : 5px 11px 7px 15px;
text-decoration : none;
}
.cp_left:hover {
background :  url('./images/cp_center.png') repeat-x left 100%;
border-right : 1px solid #444444;
border-left : 1px solid #000000;
color : #cdcdcd;
font-weight : bold;
float : left;
text-align : center;
margin : 0x 0px 0px 0px;
font-size : 10px;
padding : 5px 11px 7px 16px;
text-decoration : none;
}

a.cp_right:link , a.cp_right:visited {
color : #ffffff;
}
a.cp_right:hover, a.cp_right:active {
color : #cccccc;
}
.cp_right {
background :  url('./images/cp_center.png') repeat-x right 0%;
border-left : 1px solid #444444;
border-right : 1px solid #000000;
color : #4d4c46;
font-weight : bold;
float : right;
text-align : center;
margin: 0px 0px 0px 0px;
font-size : 10px;
padding : 5px 11px 7px 15px;
}
.cp_right:hover {
background :  url('./images/cp_center.png') repeat-x right 100%;
border-left : 1px solid #444444;
border-right : 1px solid #000000;
color : #cdcdcd;
font-weight : bold;
float : right;
text-align : center;
margin : 0x 0px 0px 0px;
font-size : 10px;
padding : 5px 16px 7px 15px;
text-decoration : none;
}
.cp_right_null {
background :  url('./images/cp_center.png') repeat-x right 0%;
border-right : 1px solid #000000;
color : #4d4c46;
font-weight : bold;
float : right;
text-align : center;
margin: 0px 0px 0px 0px;
font-size : 10px;
padding : 5px 12px 7px 15px;
}

a.cp_cl:link , a.cp_cl:visited {
color : #ffffff;
}
a.cp_cl:hover, a.cp_cl:active {
color : #cccccc;
}
.cp_cl {
background :  url('./images/cp_center.png') repeat-x right 0%;
border-right : 1px solid #444444;
color : #404040;
font-weight : bold;
float:left;
text-align : center;
margin: 0px 0px 0px 0px;
font-size : 10px;
padding : 5px 12px 7px 15px;
}
.cp_cl:hover {
background :  url('./images/cp_center.png') repeat-x right 100%;
border-right : 1px solid #444444;
color : #cdcdcd;
font-weight : bold;
text-align : center;
margin : 0x 0px 0px 0px;
font-size : 10px;
padding : 5px 12px 7px 15px;
text-decoration : none;
}


a.cp_cl_drop:link , a.cp_cl_drop:visited {
color : #ffffff;
}
a.cp_cl_drop:hover, a.cp_cl_drop:active {
color : #cccccc;
}
.cp_cl_drop {
background :  url('./images/cp_drop.png') repeat-x right 0%;
border-right : 1px solid #444444;
color : #404040;
font-weight : bold;
float:left;
text-align : center;
margin: 0px 0px 0px 0px;
font-size : 10px;
padding : 5px 25px 6px 15px;
}
.cp_cl_drop:hover {
background :  url('./images/cp_drop.png') repeat-x right 100%;
border-right : 1px solid #444444;
color : #cdcdcd;
font-weight : bold;
text-align : center;
margin : 0x 0px 0px 0px;
font-size : 10px;
padding : 5px 25px 7px 15px;
text-decoration : none;
}

a.cp_cr:link , a.cp_cr:visited {
color : #ffffff;
}
a.cp_cr:hover, a.cp_cr:active {
color : #cccccc;
}
.cp_cr {
background :  url('./images/cp_center.png') repeat-x right 0%;
border-left : 1px solid #444444;
color : #4d4c46;
font-weight : bold;
float : right;
text-align : center;
margin: 0px 0px 0px 0px;
font-size : 10px;
padding : 5px 12px 7px 15px;
display: inline;
}

.cp_cr:hover {
background :  url('./images/cp_center.png') repeat-x right 100% ;
border-left : 1px solid #444444;
color : #cdcdcd;
font-weight : bold;
float : right;
text-align : center;
margin : 0x 0px 0px 0px;
font-size : 10px;
padding : 5px 12px 7px 15px;
text-decoration : none;
}
a.cp_red:link , a.cp_admin:visited {
color : #ffffff;
}
a.cp_red:hover, a.cp_admin:active {
color : #cccccc;
}
.cp_red {
background :  url('./images/cp_red.gif') repeat-x right 0%;
border-left : 1px solid #444444;
color : #4d4c46;
font-weight : bold;
float : right;
text-align : center;
margin: 0px 0px 0px 0px;
font-size : 10px;
padding : 5px 12px 7px 15px;
}

.cp_red:hover {
background :  url('./images/cp_red.gif') repeat-x right 100% ;
border-left : 1px solid #444444;
color : #cdcdcd;
font-weight : bold;
float : right;
text-align : center;
margin : 0x 0px 0px 0px;
font-size : 10px;
padding : 5px 12px 7px 15px;
text-decoration : none;
}

a.cp_mod:link , a.cp_mod:visited {
color : #ffffff;
}
a.cp_mod:hover, a.cp_mod:active {
color : #cccccc;
}
.cp_mod {
background :  url('./images/cp_mod.png') repeat-x right 0%;
border-left : 1px solid #444444;
color : #4d4c46;
font-weight : bold;
float : right;
text-align : center;
margin: 0px 0px 0px 0px;
font-size : 10px;
padding : 5px 12px 7px 15px;
}

.cp_mod:hover {
background :  url('./images/cp_mod.png') repeat-x right 100% ;
border-left : 1px solid #444444;
color : #cdcdcd;
font-weight : bold;
float : right;
text-align : center;
margin : 0x 0px 0px 0px;
font-size : 10px;
padding : 5px 12px 7px 15px;
text-decoration : none;
}
.cp_center {
background : url('./images/cp_center.png') repeat-x left top;
width : 100%;
height : 24px;
font-weight : bold;
font-size : 10px;
text-align : left;
vertical-align : top;
white-space : nowrap;
overflow : hidden;
padding: 0px;
margin:0px;
}

.cp_title {
color : #4d4c46;
margin : 0;
padding: 0;

}
.cp_left {
background : url('./images/cp_left.png') no-repeat top left;
padding-left : 16px;
}
.cp_right {
background : url('./images/cp_right.png') no-repeat top right;
padding-right : 16px;
}

